<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>
</head>
<body>

<table>
  <tr>
    <td>Name</td>
    <td><b>{{fname}}</b></td>
  </tr>
  <tr>
    <td>Organisation name</td>
    <td><b>{{org_name}}</b></td>
  </tr>
  <tr>
    <td>Email id</td>
    <td><b>{{email}}</b></td>
  </tr>
  <tr>
    <td>Mobile Number</td>
    <td><b>{{mobile}}</b></td>
  </tr>
  <tr>
    <td>Message</td>
    <td><b>{{msg}}</b></td>
  </tr>
</table>
</html>
