<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>GOOD CSR</title>
<meta name="description" content="">
<meta name="viewport"  content="width=device-width, initial-scale=1, user-scalable=no">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<!--<link rel="stylesheet" href="/static/css/style.css">-->
<link rel="stylesheet" type="text/css" href="/static/css/fSelect.css">
<link rel="stylesheet" href="/static/css/main-68c112ec48.css">
<link rel="stylesheet" href="/static/css/style-new.css">
<link rel="stylesheet" href="/static/css/jquery-ui.css">
 
</head>
<body>

<div id="" class="clearfix header_fixed right_menu position_fixed" style="position:fixed; right:15px;">
  <div class="menu-toggle-holder">
     <p style="float:left;position:relative; top:15px; left:-30px;">Tags</p>
     <div class="center"> <span class="label">Menu</span>
      <button id="menu-toggle" class="c-hamburger c-hamburger--htx"><span> </span></button>   
     </div>
 </div> 
 <nav id="nav" class="nav-primary">
           <div class="cont-wrap" style="background:#fff">
           <div id="tagcloud" >
        <a href="#" rel="1">Task</a>
        <a href="#" rel="2">Image</a>
        <a href="#" rel="3">Budget</a>
        <a href="#" rel="1">Meeting</a>
        <a href="#" rel="2">Tranches</a>
        <a href="#" rel="3">TimelineProgress</a>
        <a href="#" rel="1">Report</a>
        
        </div>
    </nav>
    </div>
<div class="container">
  <div class=" content">
  
<div style="margin:20px 0px;float: left; width: 100%;">
    <div style="float:left">
      <button class="btn btn-sucess" style="background:#3b9e84; color:#fff" data-toggle="modal" data-target="#myModal">Create a Note</button>
    </div>
    <div style="float:right">
      <p style="float:left;position: relative;top: 4px;color:#3b9e84"><b>Filter By:</b></p>
        <div style="float:left;position: relative; left: 15px;z-index:1000 "> 
            <label for="from" style="font-weight:normal">From</label>
            <input type="text" id="from" name="from" style="border:1px solid #dedede">
            <img src="/static/img/calender.png" class="calender_ico">
        </div>
        <div style="float:left;position: relative;z-index:1000 ">
            <label for="to" style="font-weight:normal">to</label>
            <input type="text" id="to" name="to" style="border:1px solid #dedede">
            <img src="/static/img/calender.png" class="calender_ico">
        </div>
    </div>
</div>

<ul class="blog_timeline">

{% for f in file_data %}
{% if forloop.counter|divisibleby:2 %}
<li class="timeline-right">
{% else %}
<li class="timeline-left">
{%endif%}
 <p class="date">{{f.date | date:"d M"}}</p>
  <div class="timeline-badge primary"><p></p></div>
   <div class="two_letters"><p>AT</p></div>
    <div class="timeline-panel">
        
            <div class="timeline-body text-justify">
               <div class="col-md-6">
                <div class="image_uploaded">
                <p style="color:#fff">{{f.created_by.attrs.first_name}} {{f.created_by.attrs.last_name}} Uploaded <span>{% if f.file_type == 'Image' and f.image_type == True %}image{% else %}Document{%endif%}</span></p>
                 <!-- <div><input type='file' title="Choose a video please" id="aa" onchange="pressed()" placeholder="Browse..."><label id="fileLabel"></label></div>-->
                 
                 {% if f.file_type == 'Image' and f.image_type == True %}
                    <div class="progress_time"><a href="#"><p># Timeline Progress</p></a></div>
                  {% else %}
                    <div class="progress_time"><a href="#"><p># Document</p></a></div>
                  {% endif %}
                </div>

                {% if f.history %}
                {% for y in f.history %}

                <div style=" float: left;text-align: center; width: 100%;">
                  <img src="/static/img/line-bar-small.png">
                </div>
                <div class="file_name">
                  <p><b>File: </b><a href="{{f.image_url}}">{{y.file_name}}</a></p>
                  <p><b>Description: </b>{{y.description}}</p>
               </div>
               {% endfor %}
               {% endif %}
             </div>
        </div>
    </div>
</li>       
{% endfor %}

{% for i in budget_datar %}
<li class="timeline-left">
 <p class="date">{{i.date | date:"d M"}}</p>
  <div class="timeline-badge primary"><p></p></div>
   <div class="two_letters"><p>AD</p></div>
    <div class="timeline-panel">
        
            <div class="timeline-body text-justify">
               <div class="col-md-6">
                <div class="image_uploaded">
                <p style="color:#fff"><b>{{i.created_by.name}}</b> Uploaded <span>image</span></p>
                 <!-- <div><input type='file' title="Choose a video please" id="aa" onchange="pressed()" placeholder="Browse..."><label id="fileLabel"></label></div>-->
                    <div class="progress_time"><a href="#"><p>#Budget</p></a></div>
                </div>
                
                
             </div>
        </div>
    </div>
</li>

{% endfor %}

				
				
			</ul>
		</div>
    </div>
    {{file_data}}
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a Note</h4>
        </div>
        <div class="modal-body">
         <form>
             <div >
                 <div class="form-group">
                     <span>Comment</span>
                 <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                 </div>
                 <div class="form-group">
                 <span>Attachment</span>
                <input type="file">
                 </div>
                 <div class="form-group">
                 <span>Description</span>
                 <textarea class="form-control" rows="4" placeholder="Description"></textarea>
                 </div>
                 <div class="form-group">
                  
                 </div>
             </div>
         </form>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-success" data-dismiss="modal" style="background:#3b9e84;border:1px solid #3b9e84 color:#fff;float:right">Create</button>
        </div>
      </div>
      
    </div>
  </div>
<script src="/static/js/jquery.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--<script>
    window.pressed = function(){
    var a = document.getElementById('aa');
    if(a.value == "")
    {
        fileLabel.innerHTML = "Choose file";
    }
    else
    {
        var theSplit = a.value.split('\\');
        fileLabel.innerHTML = theSplit[theSplit.length-1];
    }
};
    </script>-->
    <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths:1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>
  
  <script type="text/javascript" src="/static/js/jqcloud.min.js"></script>
<!--<link rel="stylesheet" href="/static/css/jqcloud.css">

<script type="text/javascript">	
	/*FancyBox*/
	$(document).ready(function(){
	    var words = [{'text': 'task', 'link': '/task/', 'weight': 3}, {'text': 'Image', 'link': '/image/', 'weight': 3}, {'text': 'Budget', 'link': '/budget/', 'weight': 4}, {'text': 'Meeting', 'link': '/meeting/', 'weight': 5}, {'text': 'Tranches', 'link': '/tranches/', 'weight': 3}, {'text': 'TimelineProgress', 'link': '/timelineProgress/', 'weight': 4}, {'text': 'Report', 'link': '/Report/', 'weight': 5}];
	    $('#new-cloud').jQCloud(words,{
	    width:350,
	    height:250,
	    shape: 'rectangular'
	    });
	});
	</script>-->
	<script src="/static/js/jquery.tagcloud.js"></script>
<script>
$("#tagcloud a").tagcloud({
	size: {start: 12, middle:18, end: 20, unit: "px"},
	color: {start: '#fff', end: '#fff'}
});
</script>
	
<script>
     $('.less_more').hide();
    $('.text_content').hide();
    $('.read_more').click(function(){
    $('.less_more').show();
         $('.text_content').show();
          $('.read_more').hide();
        
    });
     
    $('.less_more').click(function(){
    $('.read_more').show();
         $('.text_content').hide();
        $('.less_more').hide();
        
    });
    
     </script>
     <script src="/static/js/main-adc980b5d8.js"></script>
</body>
</html>
