{% extends 'base.html' %}
{% block section %}
{% endblock %}
{% block content %}

</br>
<form id="ic_form" action=".?slug={{project_slug}}&budget_id={{budget_id}}" method = "post" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
<input type="submit" value="Save Budget Lineitems" class="btn btn-success">
<input type="hidden" name="count" value="6">
<input type="hidden" name="slug" value="{{project_slug}}">
<input type="hidden" name="budget_id" value="{{budget_id}}">
<div class="box-body table-responsive">
    <table id="example1" class="table table-striped table-bordered" cellspacing="0" width="80%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                {% for i,j in quarter_list.items %}
                <th colspan="4">{{j}}</th>
                {% endfor %}
            </tr>
            <tr>
                <th> Location </th>
                <th> Heading </th>
                <th> Subheading </th>
                <th> Line Total </th>
                <th> Unit Type </th>
                {% for i,j in quarter_list.items %}
                <th> No. of unit </th>
                <th> Rate </th>
                <th> Total Planned </th>
                <th> Total Utilized </th>
                {% endfor %}
            </tr>
        </thead>
        {% for j in "123456 "%}
        <tr>
            <td><select name="location_{{j}}">
                <option value = "">Select option </option>
                {% for i in supercategory_list %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
                </select></td>
            <td><select name="heading_{{j}}">
            <option value = "">Select Heading </option>
            {% for i in heading_list %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
                </select></td>
            <td> <input type="text" name="subheading_{{j}}"> </td>
             <td> <input type="text" name = "linetotal_{{j}}"> </td>
              <td> <input type="text" name = "unit-type_{{j}}"> </td>
            {% for i,v in quarter_list.items %}
               <td> <input type="text" name = "unit_{{i}}_{{j}}"> </td>
                <td> <input type="text" name = "rate_{{i}}_{{j}}"> </td>
                 <td> <input type="text" name = "planned-cost_{{i}}_{{j}}"> </td>
                 <td> <input type="text" name = "utilized-cost_{{i}}_{{j}}"> </td>
                 {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
</form>


{% endblock %}
