<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="icon" type="image/png" href="/static/img/favicon.ico">
<title>Samhita GoodCSR</title>
<!--CSS Srat-->
<link rel="stylesheet" href="/static/css/AdminLTE.min.css" />
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link type="text/css" rel="stylesheet" href="/static/css/easy-responsive-tabs.css" />
<link rel="stylesheet" href="/static/css/popup.css">
<link href="/static/css/materialize.min.css" rel="stylesheet" >
<link rel="stylesheet" href="/static/css/style-new.css" />
<style>
   ul li {
   list-style-type: none;
   line-height: 26px;
   color: white;
   }
   .alert-success {
   /*background-color: #dff0d8;*/
   border-color: #d0e9c6;
   color: #a73f5c;
   height: 110;
   }
   .msg {
   display: none;
   }
   .error {
   color: red;
   }
   .success {
   color: white;
   font-family: 'work_sansregular';
   }
   .h1, h1 {
   font-size: 2.7rem;
   }
   .bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
   background-color: #a73f5c !important;
   }
</style>
<!--Common Script-->
<!-- IE less than 9 -->
<!--  Responsive CSS  -->
<link rel="stylesheet" href="/static/css/media.css" />
<div class="clear"></div>
<section class="content-part">
<div class='container' >
<div class="white-box">
   {% if messages %}
   <ul class="messages">
      {% for message in messages %}
      <div class="alert alert-success">
         <h3><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h3>
         <br>
      </div>
      {% endfor %}
   </ul>
   <br>
   <div align='center'><a href="javascript:parent.jQuery.fancybox.close();">Close Window</a></div>
   {% else %}
   <div class="col-xs-12">
      <div class="box demo_popup">
         <div class="box-header">
            <h3 class="border_line"></h3>
            {% if key == 'add'%}
            <h3 class="border_line">Add Categories</h3>
            {% else %}
            <h3 class="border_line">Edit Category</h3>
            {% endif %}
            <div align="right">
            </div>
            <br>
         </div>
         <!-- /.box-header -->
         <!--            {% if msg  %}-->
         <!--                <h3 class border_linr">Please add <a style="text-decoration:underline;color:#169776" href= '/manage/project/budget/create/?slug={{project.slug}}'>Budget</a>  for the project before proceeding with generation of the report </h3>-->
         <!--                <a class="btn btn-success" href="javascript:parent.jQuery.fancybox.close();" style="margin-right:5px;float: right;  padding:3px 15px;">Close</a>-->
         <!--                -->
         <!--            {% else %}-->
         <div class="box-body">
            <form target="_top" autocomplete="off" id="report-form" name="feedback" action=".?budget_id={{budget_id}}&slug={{project_slug}}" class ="form-horizantal budget_form" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               <input type="hidden" name="slug" value="{{project_slug}}" id="{{slug}}" required="" class="form-control" maxlength="200">
               <input type="hidden" name="budget_id" value="{{budget_id}}" class="form-control" maxlength="200">
               <div class="row">
                  <div class="col-md-10 nopadding">
                     <div class="budget_create">
                        <div class="col-md-12">
                        {% if key == 'add' %}
                           
                           <div class="col-md-6 padding_left data_row_left_1">
                              <div class="form-group">
                                 <label>Category 1</label>
                                 <input class="form-control" type="text" name="category_1" id='category_1' onblur="cat_validate(id,this.value)" required />
                                 <input type="checkbox" class="check_unsaved"> <span class="error_div_1">Unsaved</span>
                              </div>
                           </div>
                           <div class="col-md-6 padding_right data_row_right_2">
                              <div class="form-group">
                                 <label>Category 2</label>
                                 <input class="form-control" type="text" name="category_2" id='category_2' onblur="cat_validate(id,this.value)" >
                                 <input type="checkbox"class="check_unsaved"><span class="error_div_2">Unsaved</span>
                              </div>
                           </div>
                           <div class="col-md-6 padding_left data_row_left_3">
                              <div class="form-group">
                                 <label>Category 3</label>
                                 <input class="form-control" type="text" name="category_3" id='category_3' onblur="cat_validate(id,this.value)" >
                                 <input type="checkbox" class="check_unsaved"><span class="error_div_3">Unsaved</span>
                              </div>
                           </div>
                           <div class="col-md-6 padding_right data_row_right_4">
                              <div class="form-group">
                                 <label>Category 4</label>
                                 <input class="form-control" type="text" name="category_4" id='category_4' onblur="cat_validate(id,this.value)" >
                                 <input type="checkbox" class="check_unsaved"> <span class="error_div_4">Unsaved</span>
                              </div>
                           </div>
                           <div class="col-md-6 padding_left data_row_left_5">
                              <div class="form-group">
                                 <label>Category 5</label>
                                 <input class="form-control" type="text" name="category_5" id='category_5' onblur="cat_validate(id,this.value)" >
                                 <input type="checkbox" class="check_unsaved"> <span class="error_div_5">Unsaved</span>
                              </div>
                           </div>
                           <div class="col-md-6 padding_right data_row_right_6">
                              <div class="form-group">
                                 <label>Category 6</label>
                                 <input class="form-control" type="text" name="category_6" id='category_6' onblur="cat_validate(id,this.value)" >
                                 <input type="checkbox" class="check_unsaved"> <span class="error_div_6">Unsaved</span>
                              </div>
                           </div>
                           <input type='hidden' name='cat_count' value=6 />
                           <div class="form-group addmilestone click_buttons">
                                <div class="link-right">
                                    <input type="hidden"/>
                                     <a href='javascript:void(0);' class="budget_button add_clone">Add more categories</a>
                                </div>
                                <div></div>
                          </div>
                         {% else %}
                         <input type="hidden" name="key" value="{{key}}" class="form-control">
                            <input type="hidden" name="cat_id" value="{{cat_id}}" class="form-control">
                            <div class="col-md-6 padding_right">
                              <div class="form-group">
                                 <label>Category</label>
                                 <input class="form-control" type="text" name="category_6" value= {{cat_obj.name}}></input>
                                 <input type="checkbox" class="check_unsaved"> <span>Unsaved</span>
                              </div>
                           </div>
                         {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
               <input class="budget_button save_button" type="submit" value="Submit"/>  
               <a class="btn btn-success" href="javascript:parent.jQuery.fancybox.close();" style="margin-right:5px;float: right;  padding:3px 15px;">Close</a>
            </form>
            {% endif %}
         </div>
         <!--                {% endif %}-->
      </div>
   </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        $('.add_clone').click(function(){
        
             count = parseInt($('input[name^=cat_count]').val());
             new_count = parseInt(count)+1;
                var $newDiv = $('.data_row_right_2'+':last').clone();
            
            $($newDiv).find('label,input').each(function(){
                
                $(this).text('Category '+new_count);
                $(this).attr('name','category_'+new_count);
                $(this).attr('id','category_'+new_count);
                $(this).val('');
                
            });
            $($newDiv).find('span').each(function(){
                $(this).attr('class','error_div_'+new_count);
            });
            if(count%2 == 0){
                $($newDiv).insertAfter('.data_row_right_'+count+':last');
                
                $newDiv.removeClass().addClass('col-md-6 padding_left data_row_left_'+new_count);
            }
            else{
                $($newDiv).insertAfter('.data_row_left_'+count+':last');
                
                $newDiv.removeClass().addClass('col-md-6 padding_right data_row_right_'+new_count);
            }
            
                $('input[name^=cat_count]').val(new_count);
                
                //$(this).attr('class', 'add_clone_' + new_count);
            
            
        });
        
</script>
<style>
.isDisabled { cursor: not-allowed; }
.form-group {
    height: 107px;
    margin-bottom: 0px;
}
</style>
<script>
    slug = '{{request.GET.slug}}'
    function cat_validate(id,name){
    var id = id.split('_')[1];
    if (name !=''){
    $.ajax({
                url:'/manage/project/category/exists/',
                type:'GET',
                data:{'cat_name':name,'slug':slug},
                dataType:"json",
                success:function(data){
                        if (data.name_exists == 'True'){
                            $('.error_div_'+id).after('<div class="error_class" style="color:red;font:3px;">This category name already exists</div>');
                        
                            $(".save_button").attr('disabled', 'disabled');
                            $('.save_button').addClass('isDisabled');
                       }
                        else{
                            $('.error_class').hide();
                            $(".save_button").attr('disabled', false);
                            $('.save_button').removeClass('isDisabled');
                        }
                      },
                      
                    });
                    return false;
    }
    }
</script>

