{% extends 'base.html' %}

{% block section %}
<div> </div>
{% endblock %}
<!--<link href="static/css/multiselect.css" media="screen" rel="stylesheet" type="text/css">-->
    <!-- Content Header (Page header) -->
<style>
    .error,.errorlist { color :red;}
    #date_error,#min_max {color : red;}
</style>

    <!-- Main content -->
{% block content %}
<div class="clear"></div>
<section class="content-part forms_section">
    <div class='container' >
    <div class="col-md-7">
    <div class="white-box">
                <div class="col-md-12">
                
              <h3 class="border_line">Add Tranche for {{project.name}}</h3>
          </div>
            
<!--  test          -->
            <!-- /.box-header -->
            
            <form action="/project/budget/tranche/?slug={{slug}}" class ="form-horizantal budget_form" id="tranche" method='POST' enctype="multipart/form-data">{% csrf_token %}
    


                        <div class="row">
                        <div class="col-md-6 nopadding">
                            <div class="col-md-12">
                                <div class="form-group">
                                <label>{{form.project.label_tag}}</label>
                                {{form.project}}
                                {{ form.project.errors }}
                                </div>
                            </div>
                        </div>
                        </div>

<input type="hidden" name="tranche_id" value="{{obj.id}}" required="" class="form-control" id="tranche_id">
                            <div class="row">
                                <div class="col-md-6 nopadding">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label>{{form.name.label_tag}}</label>
                                        {{form.name}}
                                        {{ form.name.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 nopadding">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label>{{form.planned_amount.label_tag}} (<small>₹</small>)</label>
                                        {{form.planned_amount}}
                                        {{ form.planned_amount.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 nopadding">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label>{{form.actual_disbursed_amount.label_tag}} (<small>₹</small>)</label>
                                        {{form.actual_disbursed_amount}}
                                        {{ form.actual_disbursed_amount.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 nopadding">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label>{{form.recommended_amount.label_tag}} (<small>₹</small>)</label>
                                        {{form.recommended_amount}}
                                        {{ form.recommended_amount.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 nopadding">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label>Recommended By</label>

                                        <!-- {{form.recommended_by}} -->
                                        <select name="recommended_by" required="" class="form-control" id="id_recommended_by">
                                            <option value="">---------</option>
                                        {% for i in recommended_by %}
                                        <option value="{{i.id}}" {% if obj.recommended_by.id == i.id %} selected {% endif %}>{{i}}</option>
                                        {% endfor %}
                                        </select>
                                        {{ form.recommended_by.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--                            <div class="row">-->
<!--                                <div class="col-md-6 nopadding">-->
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="form-group">-->
<!--                                        <label>{{form.utilized_amount.label_tag}}</label>-->
<!--                                        {{form.utilized_amount}}-->
<!--                                        {{ form.utilized_amount.errors }}-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="row">
                                <div class="col-md-6 nopadding">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label>{{form.due_date.label_tag}}</label>
                                        {{form.due_date}}
                                        {{ form.due_date.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 nopadding">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label>{{form.disbursed_date.label_tag}}</label>
                                        {{form.disbursed_date}}
                                        {{ form.disbursed_date.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                      <div class="col-md-11" style="padding:0px">
                        <div class="">
                            <div class="form-group">  
                        <input id = "save" class="budget_button" type="submit" value="Save"/>
                        <a class="btn btn-success" href="/project/tranche/list/?slug={{slug}}&key=tranches" style="margin-right:5px;float: right;">Cancel</button></a>
                        </div>
                        </div>
                        </div>
                            </div>
                    </form>
                    <br>
                </div>
            </form>
     </div>
    </div>
  </div>
<script src="/static/js/jquery.quicksearch.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="/static/js/jquery.quicksearch.js"></script>
<script src = "/static/js/jquery.multi-select.js"></script>      

<script>
    $(document).ready(function() {
        $( "#id_due_date" ).datepicker();
        $( "#id_disbursed_date" ).datepicker();
    });
</script>
<script>
//Toggle
        
         $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
         $(document).ready(function(e) {    
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
        $('.hide-cont').slideDown(350);
        $('.close-cont').show();
        $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
        $('.hide-cont').slideUp(350);
        $('.close-cont').hide();
        $('.view-cont').show();
    }); 
 });
    
</script>
<script>
    $(document).ready(function() {
    $('#id_activity').on('change',function(e){
        
        var select_id = $('#id_activity').val();
        $.ajax({
            url:'/manage-task/task/start-date/',
            type:'GET',
            data:{id:select_id},
            dataType:"json",
            success:function(data){
            alert(data.project_start_date);
            if (data.project_start_date != ""){
                document.getElementById("id_start_date").value = data.project_start_date;
             }
            else{
                $( "#id_start_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
                }
            },
            error : function(){}
        });
        e.stopImmediatePropagation();
        return false;
      });
    });
</script>


<script type="text/javascript">
    $(document).ready(function(){
        $("#tranche").validate({
            rules :
            {
                name : {required:true},
                //program : {required:true},
                planned_amount : {required:true},
                actual_disbursed_amount : {required:true},
                recommended_amount : {required:true},
                recommended_by : {required:true},
                disbursed_date : {required:false},
                due_date : {required:true},
            },
            messages:
            {
                name : {required : "<font color=#fc282f>Please enter the name</font>"},
                //program:{required:"<font color=#fc282f>Please select the program</font>"},
                planned_amount:{required:"<font color=#fc282f>Please enter the planned amount</font>"},
                actual_disbursed_amount : {required : "<font color=#fc282f>Please enter actual disbursed amount</font>"},
                recommended_amount : {required : "<font color=#fc282f>Please enter recommended amount</font>"},
                recommended_by : {required : "<font color=#fc282f>Please select User</font>"},
                disbursed_date : {required : "<font color=#fc282f>Please enter Disbursed Date</font>"},
                due_date : {required : "<font color=#fc282f>Please enter Due Date</font>"},

            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
        });
        });
</script>

{% endblock %}
