{% extends 'base.html' %}
{% block midpart %}
<!--<link href="static/css/multiselect.css" media="screen" rel="stylesheet" type="text/css">-->
    <!-- Content Header (Page header) -->
<style>
    .error,.errorlist { color :red;}
    #date_error,#min_max {color : red;}
</style>

    <!-- Main content -->

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Add Budget Tranche</h3>
            </div>
            
            <!-- /.box-header -->
            <div class="box-body">
            <form action="/project/budget/tranche/" method='POST' enctype="multipart/form-data">{% csrf_token %}
    
                {{form.non_fields_errors}}
        
                    {{form.media}}
        
                <div class="box-content">
                    <form role="form">
                        {% for field in form %}
                            <div class="row">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                    {{field.label_tag}}
                                </label>
                                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                    {{field}}
                                    {{field.errors}}
                                        
                                </div>
                            </div>
                        {% endfor %}
                        
                        <input id = "save" class="btn btn-primary" type="submit" value="Save"/>
                        <a class="btn btn-success" href="/manage-task/{{model_name}}/listing/">Back</button></a>
                            </div>
                    </form>
                    
                </div>
            </form>
     </div>

  </div>
  {% block script %}
<script src="/static/js/jquery.quicksearch.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="/static/js/jquery.quicksearch.js"></script>
<script src = "/static/js/jquery.multi-select.js"></script>
<script>
      
$(document).ready(function() {

    $('#id_task').multiSelect({
      selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search for tasks to select'>",
      selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search for tasks which are selected'>",
      afterInit: function(ms){
        var that = this,
            $selectableSearchselect = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';
        that.qs1 = $selectableSearchselect.quicksearch(selectableSearchString)
        .on('keydown', function(e){
          if (e.which === 40){
            that.$selectableUl.focus();
            return false;
          }
        });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
        .on('keydown', function(e){
          if (e.which == 40){
            that.$selectionUl.focus();
            return false;
          }
        });
      },
      afterSelect: function(){
        this.qs1.cache();
        this.qs2.cache();
      },
      afterDeselect: function(){
        this.qs1.cache();
        this.qs2.cache();
      }
    });
});
</script>
<script>
    $(document).ready(function() {
        $( "#id_end_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#id_overdue" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>

<script>
    $(document).ready(function() {
    $('#id_activity').on('change',function(e){
        
        var select_id = $('#id_activity').val();
        $.ajax({
            url:'/manage-task/task/start-date/',
            type:'GET',
            data:{id:select_id},
            dataType:"json",
            success:function(data){
            alert(data.project_start_date);
            if (data.project_start_date != ""){
                document.getElementById("id_start_date").value = data.project_start_date;
             }
            else{
                $( "#id_start_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
                }
            },
            error : function(){}
        });
        e.stopImmediatePropagation();
        return false;
      });
    });
</script>


{% endblock %}
{% endblock %}
