<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="icon" type="image/png" href="img/favicon.ico">
<title>Samhita GoodCSR</title>

<!--CSS Srat-->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/fSelect.css">
<link rel="stylesheet" href="css/style-new.css">
<link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="https://resources/demos/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/ddsmoothmenu.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" />
<link rel="stylesheet" href="css/jquery.selectbox.css" type="text/css" />


<!--Common Script-->
<script type="text/javascript" src="js/respond.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>

<link rel="stylesheet" href="css/media.css" />
</head>
<body>
<!-- Mobile Navigation -->
<div id="mobNav" class="mobNav">
    <figure class="mobi-logo"><a href="index.html" title=""><img src="img/logo.png" alt=""></a>
    </figure>
    <ul>
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="products.html">Projects</a>
        	<ul>
            	<li><a href="javascript:void(0);">Projects</a></li>
                <li><a href="javascript:void(0);">Projects</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /Mobile Navigation -->

<div id="page">
<!--Header Starts-->
<header>
    <div class="row">
        <div id="menu">
        	<div class="logo"><a href="index.html"><img src="img/logo.png" alt="GOODCSR" title="GOODCSR" ></a></div>
           <div class="m-menu"><a href="#mobNav"><span></span><span></span><span></span></a></div>       
           <nav id="smoothmenu" class="ddsmoothmenu">
            <ul>
              <li><a href="javascript:void(0);" class="active">Dashboard</a></li>
              <li class="user-wrap"><a href="javascript:void(0);">
                Projects
                <i class="fa fa-angle-down"></i></a>
                <!--<div class="details" id="marketPlace">-->
                  <ul>
                    <li><a href="javascript:void(0);"> Project1 </a></li>
                    <li><a href="javascript:void(0);"> Project2 </a></li>
                  </ul>
                <!--</div>-->
              </li>
            </ul>
          </nav>
            <div class="menu-rgt">
    
      <ul>
        <li id="search_ico">
           <!-- <form id="demo-2">
           	  <input type="search" placeholder="Search">              
            </form>-->
            <div id="nav_search_id" class="search-form">
                <div class="search-ico">&nbsp;</div>
                <div class="search-frm-feild">
                    <form>
                        <input type="text" placeholder="Search...">
                        <input type="submit" value="" name="" >
                    </form>
                </div>
            </div>
        <!--<a href="javascript:void(0);"><span class="search-ico"></span></a>-->
        </li>
        <li><a href="javascript:void(0);">
          <p class="fav">0</p>
          <span class="mail"></span></a></li>
        <li><a href="javascript:void(0);">
          <p class="fav">3</p>
          <span class="bell"></span></a>
        </li>
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="img/user-img.png" class="user-image" alt="User Image">
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" style="display:none;">
              <!-- User image -->
              <li class="user-header">
                <img src="img/user-img.png" class="img-circle" alt="User Image">

                <h3>Admin Name</h3>
                <h4>Admin</h4>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="javascript:void(0);" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="javascript:void(0);" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
      </ul>
      
    </div>
        </div>
    </div>
</header><!--Header Ends-->
<div class="clear"></div>
<section class="content-part">
	<div class="row">
	
    <form class="form-horizantal budget_form">
       <div class="col-md-6">
        <div class="col-md-12">
        <div class="form-group">
            <label>Project</label>
            <input type="text" class="form-control" placeholder="project">
        </div>
            </div>
        <div class="col-md-6">
        <div class="form-group">
            <label>Start Date</label>
            <input type="text" id="from" name="from" class="form-control" placeholder="mm/dd/yy">
        </div>
           </div>
           <div class="col-md-6">
        <div class="form-group">
            <label>End Date</label>
            <input type="text" id="to" name="to" class="form-control" placeholder="mm/dd/yy">
        </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
            <label>Select</label>
            <select class="form-control">
            <option>Select dropdown</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            </select>
        </div>
        </div>
        
        <div class="col-md-12">
        <div class="form-group">
           <label>Textarea</label>
            <textarea rows="5" cols="50" class="form-control text_area" placeholder="Comment"></textarea>
            </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
            <label>Multiselect</label>
           <select class="test" multiple="multiple">
          <option value="1">Option 1</option>
            <option value="2" >Option 2</option>
            <option value="3">Option 3</option>
            <option value="4" >Option 4</option>
            <option value="5">Option 5</option>
      
    </select>
               </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
            <label>Radio</label>
            <div class="option_box">
                <input type="radio"><span> Radio1</span>
                <input type="radio"><span> Radio2</span>
                <input type="radio"><span> Radio3</span>
            </div>
               </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
            <label>Checkbox</label>
            <div class="option_box">
                <input type="checkbox"><span> checkbox1</span>
                <input type="checkbox"><span> checkbox2</span>
                <input type="checkbox"><span> checkbox3</span>
            </div>
               </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
              <input type="submit" class="budget_button" value="Submit">
               </div>
           </div>
        </div>
    </form>
    
    
    
    </div>
</section>
<!--Content part Ends-->

<!--Footer starts-->
<footer>
    <div class="row">
        <div class="f-left">
        	<ul>
            	<li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Terms of Service</a></li>
            </ul>
        </div>
        <div class="f-right">&copy; 2017 Good CSR. All Rights Reserved. Privacy Policy Terms of Service</div>
    </div>
</footer>
<!--Footer Ends-->

</div>

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="js/common.js" /></script>
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="js/jquery.nicescroll.min.js"></script>
<script>
//Toggle
		
		 $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
		 $(document).ready(function(e) {	
	/*Content Show/Hide */
	$('.hide-cont').hide();
	$('.close-cont').hide();
	$('.view-cont').click(function(){
		$('.hide-cont').slideDown(350);
		$('.close-cont').show();
		$('.view-cont').hide();
	});
	$('.close-cont').click(function(){
		$('.hide-cont').slideUp(350);
		$('.close-cont').hide();
		$('.view-cont').show();
	});	
 });
	
</script>

    <script type="text/javascript">
   
	
	var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll, .table-resp tbody").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV

    
  });
</script>
<script src="js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>
  <script src="js/fSelect.js"></script>
<script>
$(function($) {
    $(function() {
        $('.test').fSelect();
    });
});
</script>
</body>
</html>

