
<html>
<head>
   <link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">


</head>

<body>
<header>
<div class="container">
  <div class="header_home">
   <img src="/static/img/logo-goodcsr.png">
      <button type="button"><a href="/log-in/"><img src="/static/img/user-icon.png">Login</button>
    </div>
    </div>
    </header>
    <div>
    <div class="text_banner">
       <img src="/static/img/bannerimage-home.jpg" style="width:100%"> 
       <div class="banner_text">
          <div>
           <h1>Create Impact with Intelligence and Precision</h1>
           <p>GoodCSR Direct is an intuitive Project Management Platform, carefully crafted based on insights from CSR teams and imaplementation organisations. It reduces the probability of miscommunication, keeps projects on track and budgets in check.  </p>
           </div>
        </div>
        </div>
    </div>
    <div class="container">
    <div class="features_section">
       
        <h1>Features</h1>
       <hr> 
        <div class="col-md-4">
            <div class="feature_valuetext">
                <h4>Connect-Plan-Execute-Monitor (CPEM)</h4>
                <div>
                <img src="/static/img/feature01.png" >
                <p>Connect with implementation partners, plan your tasks, monitor progress and modify any aspect of the programme in response to implementation hurdles – under one roof! </p>
                </div>

            </div>
        </div>
       <div class="col-md-4">
            <div class="feature_valuetext">
                <h4>CSR Report in two clicks</h4>
                <div>
                <img src="/static/img/feature02.png" >
                <p>Customise data views for creation of exportable, quantitative and qualitative reports to communicate impact and archive progress in just two clicks. </p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="feature_valuetext">
                <h4>Single login to the world of CSR</h4>
                <div>
                <img src="/static/img/feature03.png" >
                    <p>Funders and implementation partners using other Samhita GoodCSR features can easily upload their programme onto GoodCSR Direct and into their portfolio without hassle. </p>
                </div>

            </div>
        </div>
        </div>
    </div>
    <div>
    <div class="background_slider">
      <div class="container">
       <article class="center slider arow col-lg-12 col-sm-12 nopadding">
           <div>
           <div class="col-lg-12 text_carousel nopadding">
               <div class="col-md-8">
                <img src="/static/img/slider-image01.jpg" style="width:100%;">
               </div>
               <div class="col-md-4 advatage_slider">
                <h3>The GoodCSR Advantage</h3>
                <p>Manage each element of your CSR through dashboards, which give you access to analyze the data across projects and report real time progress to all stakeholders.</p>
               </div>
           </div>
           </div>
           <div>
           <div class="col-lg-12 text_carousel">
                <div class="col-md-8">
                <img src="/static/img/slider-image01.jpg" style="width:100%;">
               </div>
               <div class="col-md-4 advatage_slider">
                <h3>The GoodCSR Advantage</h3>
                <p>Manage each element of your CSR through dashboards, which give you access to analyze the data across projects and report real time progress to all stakeholders.</p>
               </div>
           </div>
           </div>
          
    
            </article>
        </div>
        </div>
    </div>
<div>
   <div class="training_building">
   <div class="container">
   <div class="knoweledge">
   <img src="/static/img/building-img.png" >
      <div class="training">
          <h3>Capacity Building and Training</h3>
          <p>Samhita will provide capacity building support to CSR teams and implementation partners, handhold them through the features of the Project Management tool, and guide them on how to use the platform effectively. </p>
          
       </div>
       </div>
       
       
       </div>
    </div>
    <div class="container">
    <div class="signup_modal">
    <button type="button">Sign up for a demo</button>
        </div>
    </div>
    <div class="container">
    <div class="demo_section">
     <p>Ask for a demo to see how GoodCSR can help you transform the way you implement your CSR</p>
    </div>
    </div>
         <footer class="footer_section">
         <div class="container">
         <p>Privacy Policy </p>
         <p>Terms of Service</p>
         <p>&copy; 2017 Good CSR. All Rights Reserved. Privacy Policy Terms of Service</p>
             </div>
        </footer>
          
<script src="/static/js/jquery.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        autoplay: true,
        infinite: true,
        dots:true,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: false,
                dots: true
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                  infinite: false,
              }
            },
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                  infinite: false,
              }
            }
          ]
      });
        $(".center").slick({
        autoplay: true,
       /* dots: true,*/
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [
            {
              breakpoint: 1190,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                  infinite: true,
              }
            },
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true,
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                  infinite: true,
              }
            },
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                  infinite: true,
              }
            }
          ]
      });
    });
</script>

</body>
</html>