{% extends 'base.html' %}

{% block content %}
<!--Green pad Ends-->
<!--Content part starts-->
<section class="content-part">
	<div class="row">
	<div class="content-top">
	<div class = "header">
	    {% if model_name == 'Activity' %}
    <h3 class="box-title">Activity List</h3>
    {% endif %}
    {% if model_name == 'Task' %}
    <h3 class="box-title">Task List</h3>
    {% endif %}
    {% if model_name == 'Milestone' %}
    <h3 class="box-title">Milestone List</h3>
    {% endif %}
	</div>
<!--      <div class="select-area search_area">-->
<!--      	<label>Search</label>-->
<!--   -->
<!--		<input id="activate_tagator2" type="text" class="tagator" placeholder="Name or Type" data-tagator-show-all-options-on-focus="true" data-tagator-autocomplete="['Budget', 'Report', 'Document', 'Files', 'Budget', 'Report', 'Document', 'Task', 'Worksheet']">-->
<!--        <img src="/static/img/search-icon.png">-->
<!--         </div>-->
    </div>
    <div class="white-box white-pad">
    <div class="table-responsive">
    	<table class="table table-striped table-bordered sort_table" id="dest">
  <thead>
    {% if model_name == 'Activity' %}
            <tr>
                <th>Activity Name</th>
                <th>Super category</th>
                <th>Activity type</th>
                <th>Status</th>
                <th>Description</th>
                <th>Update</th>
                <th>Action</th>
            </tr>
            {% endif %}
            
            {% if model_name == 'Task' %}
            <tr>
                <th>Task Name</th>
                <th>Activity</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Update</th>
                <th>Action</th>
            </tr>
            {% endif %}
            
            {% if model_name == 'Milestone' %}
            <tr>
                <th>Milestone Name</th>
                <th>Task</th>
                <th>Over due date</th>
                <th>Update</th>
                <th>Action</th>
            </tr>
            {% endif %}
            
        </thead>
  </thead>
  <tbody>
    {% if model_name == 'Activity'%}
<!--            <div align = "right">-->
<!--                <a class="btn btn-primary" href="/manage/Activity/ActivityForm/add/"><i class="fa fa-edit"></i> Add</button>  </a>-->
<!--            </div>-->
        {% for i in obj_list %}
        <tr>
            <td>{{i.name}}</a></td>
            <td>{{i.super_category}}</td>
            <td>{{i.get_activity_type_display}}</td>
            <td>{{i.get_status_display}}</td>
            <td>{{i.description|safe}}</td>
            <td><a class="btn btn-primary" href="/managing/Activity/ActivityForm/edit/{{i.slug}}"><i class="fa fa-edit"></i> Edit</button> </a></td>
            {% ifequal i.active 2 %}
            <td><a class="btn btn-default" href="/managing/activity/status/?id={{i.id}}&status=2" onclick="return deactivate()">Deactivate</button></a></td>
            {% else %}
            <td><a class="btn btn-success" href="/managing/activity/status/?id={{i.id}}&status=3" onclick="return activate()">Activate</button></a></td>
            {% endifequal %}
        </tr>
        {% endfor %}
        {% endif %}
        
        {% if model_name == 'Task'%}
            <div align = "right">
                <a class="btn btn-primary" href="/managing/Task/TaskForm/add/"><i class="fa fa-edit"></i> Add</button>  </a>
            </div>
        {% for i in obj_list %}
        <tr>
            <td>{{i.name}}</a></td>
            <td>{{i.activity}}</td>
            <td>{{i.start_date}}</td>
            <td>{{i.end_date}}</td>
            <td>{{i.get_status_display}}</td>
            <td><a class="btn btn-primary" href="/managing/Task/TaskForm/edit/{{i.slug}}"><i class="fa fa-edit"></i> Edit</button>  </a></td>
            {% ifequal i.active 2 %}
            <td><a class="btn btn-default" href="/managing/task/status/?id={{i.id}}&status=2" onclick="return deactivate()">Deactivate</button></a></td>
            {% else %}
            <td><a class="btn btn-success" href="/managing/task/status/?id={{i.id}}&status=3" onclick="return activate()">Activate</button></a></td>
            {% endifequal %}
        </tr>
        {% endfor %}
        {% endif %}
        
        {% if model_name == 'Milestone'%}
            <div align = "right">
                <a class="btn btn-primary" href="/managing/Milestone/MilestoneForm/add/"><i class="fa fa-edit"></i> Add</button>  </a>
            </div>
        {% for i in obj_list %}
        <tr>
            <td>{{i.name}}</a></td>
            <td>{% for tasks in i.task.all %}<br>{{forloop.counter}}. {{tasks}}</br>{% endfor %}</td>
            <td>{{i.overdue}}</td>
            <td><a class="btn btn-primary" href="/managing/Milestone/MilestoneForm/edit/{{i.id}}"><i class="fa fa-edit"></i> Edit</button>  </a></td>
            {% ifequal i.active 2 %}
            <td><a class="btn btn-default" href="/managing/milestone/status/?id={{i.id}}&status=2" onclick="return deactivate()">Deactivate</button></a></td>
            {% else %}
            <td><a class="btn btn-success" href="/managing/milestone/status/?id={{i.id}}&status=3" onclick="return activate()">Activate</button></a></td>
            {% endifequal %}
        </tr>
        {% endfor %}
        {% endif %}
  </tbody>
</table>
        </div>
          <div class="pagination_no">
        <div id="pagination-long"></div>
    </div>
    </div>
    
    
    
    </div>
</section>
<!--Content part Ends-->
{% endblock %}


