{% extends 'base.html' %}

{% block section %}
<div> </div>
{% endblock %}
    <!-- Content Header (Page header) -->
<!--<style>
form { 
margin: 0 auto; 
width:450px;
}

</style>-->
    <!-- Main content -->

{% block content %}


<div class="clear"></div>
<section class="content-part forms_section">
    <div class='container' >
    <div class="white-box">



    
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              {% if key == 1 %}
              <h3 class="border_line">Add Document</h3>
              {% else %}
              <h3 class="border_line">Add Image</h3>
              {% endif %}
              <div align="right">
             <!-- <a class="btn btn-success" href="/project/list/" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>&#160;<input class="btn btn-primary" type="submit" form="prog_edit" value="Save" /> -->
         </div><br>
         
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            {% if obj %}
            <form autocomplete="off" id="prog_edit" action="/upload/edit/?model={{model}}&slug={{slug}}&id={{ids}}" class ="form-horizantal budget_form" method="POST" enctype="multipart/form-data">
            {% else %}
            <form autocomplete="off" id="prog_edit" action="/upload/doc/?model={{model}}&slug={{slug}}&key={{key}}" class ="form-horizantal budget_form" method="POST" enctype="multipart/form-data">
            {% endif %}
            {% csrf_token %}


                            {% if key == 1 %}
                                <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>{{form.document_type.label_tag}}</label>
                                            {{form.document_type}}
                                            {{ form.document_type.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

<!--                             <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Attachment File<font color="red">*</font>
                                </label>
                                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                    {{form.attachment_file}}
                                    {{ form.attachment_file.errors }}
                                    <br><b><font color=#fc282f><span id="file_error"></span></font></b>
                                </div>
                            </div> -->


                            <div class="row">
                                        <div class="col-md-6 nopadding">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                <label>Upload File</label><br>
                                                {{form.attachment_file}}
                                                {{ form.attachment_file.errors }}
                                                <br><br><b><font color=#fc282f><span id="file_error"></span></font></b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>Attachment Name</label>
                                            {{form.name}}
                                            {{ form.name.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>Attachment Description</label>
                                            {{form.description}}
                                    {{ form.description.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>{{form.date.label_tag}}</label>
                                            {{form.date}}
                                            {% if form.date.errors %}
                                            <p style="color: red;">
                                                Please Select.
                                            </p>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>Keywords</label>
                                            <textarea id="hero-demo" rows="4" name="keywords" class="tag-editor-hidden-src" class="form-control" required></textarea>
                                <p style="color:grey ;">
                                    (Please press Enter or TAB or ',' after typing each keyword)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          <a class="btn btn-success" href="/upload/list/?slug={{slug}}&model={{model}}" style="position: relative;left: 40%;padding:3px 15px;height: 30px; line-height: 25px;">Cancel</button></a>
                        <input class="budget_button" type="submit" value="Save" onclick="return ddlValidate();" style="position: absolute;left: 47%;padding:3px 15px; height: 30px; line-height: 25px;"/>
                       

                    </form>
  </div>
  </div>
  </div>
  </div>
  <br>
<div style="padding :0 7px 0 5px;max-width:900px;margin:auto">
    <textarea id="hero-demo" class="tag-editor-hidden-src"></textarea>
    <ul class="tag-editor ui-sortable" style="display:none;">
    </ul>
</div>
<input type="hidden" name="key_list" id="key_list" value="{{key_list}}">
<input type="hidden" name="keyss" id="keyss" value="{{keyss}}">
  </div>
  </div>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.caret.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.tag-editor.js"></script>


<!-- <link rel="stylesheet" href="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.tag-editor.css"> -->
<link rel="stylesheet" href="/static/css/tag-editor.css">

<script>
//Toggle
        
         $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
         $(document).ready(function(e) {    
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
        $('.hide-cont').slideDown(350);
        $('.close-cont').show();
        $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
        $('.hide-cont').slideUp(350);
        $('.close-cont').hide();
        $('.view-cont').show();
    }); 
 });
    
</script>

<script>
jQuery("input#id_attachment_file").change(function () {
    if (typeof ($("#id_attachment_file")[0].files) != "undefined") {
        var size = parseFloat($("#id_attachment_file")[0].files[0].size / 1024).toFixed(2);
        //alert(size + " KB.");
        if (size > 5000) {
            alert("File size must be less than 5 MB");
            document.getElementById('file_error').innerHTML="File Size must be less than 5 MB"
        } else{
            document.getElementById('file_error').innerHTML=""
        };

    } else {
        alert("This browser does not support HTML5.");
    }
});
</script>

<script type="text/javascript">
        function ddlValidate() {
            var size = parseFloat($("#id_attachment_file")[0].files[0].size / 1024).toFixed(2);
            if (size > 5000) {
                alert("File size must be less than 5 MB");
                document.getElementById('file_error').innerHTML="File Size must be less than 5 MB"
                return false;
            } else{
                document.getElementById('file_error').innerHTML=""
            };

        };
</script>

<script>
  $(function() {
    $( "#id_date").datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2012:2099",

    });
  });
</script>

<script type="text/javascript">
$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            // $(wrapper).append('<div><input type="text" name="location['+x+']"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            $(wrapper).append('<div><input type="text" name="activity['+x+']"/><input type="number" placeholder="Duration" name="duration['+x+']" id="id_number"><a href="#" class="remove_field">Remove</a></div>'); //add input box

            // $(wrapper).append('<div><input type="text" name="location['+x+']"/><select><option value="volvo">Volvo</option><option value="saab">Saab</option><option value="opel">Opel</option><option value="audi">Audi</option></select><a href="#" class="remove_field">Remove</a></div>'); //add input box
        }
        document.getElementById("activity_count").value = x;

    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>


<style>
.error{color:red; min-width: 200px;}
</style>
  <div class="control-sidebar-bg"></div>

<script>
  $("#id_end_date").datepicker({
    dateFormat: 'yy-mm-dd',
    onSelect: function(dateText, inst) {
        var start = new Date($('#id_start_date').val());
        var end = new Date($('#id_end_date').val());
        if (end <= start) {
            alert("'End date' should be greater than 'Start date'")
            document.getElementById('dateError').innerHTML="End date should be greater than Start date"
        };
        if (end > start) {
            document.getElementById('dateError').innerHTML=""
            document.getElementById('dateError1').innerHTML=""
        };

        var months = (end.getFullYear() - start.getFullYear()) * 12;
        months += end.getMonth() - start.getMonth();
        document.getElementById("id_duration").value = months;
    }

});
</script>

<script type="text/javascript">
$(function () {
    //var dddd = new $('#keyss').val().split(', ');
    $('#hero-demo').tagEditor({
        delimiter: ',',
        //initialTags: ['Hello', 'World', 'Example', 'Tags'],
        initialTags: new $('#keyss').val().split(', '),
        placeholder: 'Enter tags ...',
        autocomplete: {
            delay: 0,
            position: {
                collision: 'flip'
            },
            source: new $('#key_list').val().split(', ')
        },
        clickDelete : false,
        beforeTagSave : beforeTagSavecb,
        beforeTagDelete : beforeTagDeletecb,
        onChange: onChangecb
       /* autocomplete: {
            source: googleSuggest,
            minLength: 3,
            delay: 250,
            html: true,
            position: {
                collision: 'flip'
            }
        }*/
    });
    
    function onChangecb(field, editor, tags) {
    }
    
    function beforeTagSavecb(field, editor, tags, tag, val) {
    }
    
    function beforeTagDeletecb(field, editor, tags, val) {
        return true;
    }

/*
    $('#remove_all_tags').click(function () {
        var tags = $('#demo3').tagEditor('getTags')[0].tags;
        for (i = 0; i < tags.length; i++) {
            $('#demo3').tagEditor('removeTag', tags[i]);
        }
    });*/
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
        // $('select[multiple=multiple]').multiSelect()
        $("#prog_edit").validate({
            rules :
            {
                name : {required:true, maxlength: 300},
                date : {required:true},
                description : {required:true},
                attachment_file : {required:true},
                
            },
            messages:
            {
                name:{required:"<font color=#fc282f>Please enter name"},
                date : {required:"<font color=#fc282f>Please select Date</font>"},
                description:{required:"<font color=#fc282f>Please enter description</font>"},
                {% if key == 1 %}
                attachment_file:{required:"<br><font color=#fc282f>Please upload File"},
                {% else %}
                attachment_file:{required:"<br><font color=#fc282f>Please upload Image"},{% endif %}

            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },


        });
        
});
</script>
<script >
$(document).ready(function() {
    $('#id_name').keypress(function( e ){
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k >= 65 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 ||(k >= 38 && k <= 41) || (k>=44 && k<=46));
        }
     ).on('paste', function (e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k >= 65 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 ||(k >= 38 && k <= 41) || (k>=44 && k<=46));
        }
        );
  });
  $('#id_description').keypress(function (e) {
    var regex = new RegExp("^[a-zA-Z0-9]+$");
    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    if (regex.test(str)) {
        return true;
    }

    e.preventDefault();
    return false;
}).on('paste', function (e) {
  var regex = new RegExp("^[a-zA-Z0-9]+$");
    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    if (regex.test(str)) {
        return true;
    }

    e.preventDefault();
    return false;
});
    </script>
{% endblock %}
