{% extends 'project/project-summary.html' %}
{% load urs_tags roles_tags %}

{% block content %}
<style>
.budget_button{background: #00998b; border: 0px; color:#fff; padding:3px 10px; border-radius:3px;}
</style>
<script>
function exportToForm(){
  var selectedText = document.getElementById("activate_tagator2").value;
  $("#dest tr.data_row").each(function(){
    if ($(this).text().search(new RegExp(selectedText, "i")) < 0) {
        $(this).fadeOut();
     } else {
         $(this).show();
    }
});

}
</script>
<!--Green pad Ends-->
<!--Content part starts-->
<section class="content-part forms_section">

	<div class="row">
	<div class="content-top">
      <div class="select-area search_area">
      	<label>Search</label>
   
		<input id="activate_tagator2" type="text" class="form-control" placeholder="Name or Type" data-tagator-show-all-options-on-focus="true" data-tagator-autocomplete="['Budget', 'Report', 'Document', 'Files', 'Budget', 'Report', 'Document', 'Task', 'Worksheet']">
        <img onclick="javascript:exportToForm()" src="/static/img/search-icon.png">
         </div>
        <!--<form>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <select class="select_box">
                <option>Sep-Dec</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
              <label for="one">
                <input type="checkbox" id="one" />Jan-Mar</label>
              <label for="two">
                <input type="checkbox" id="two" />Apr-Jul</label>
              <label for="three">
                <input type="checkbox" id="three" />Aug-Sep</label>
              <label for="three">
                <input type="checkbox" id="three" />Oct-Dec</label>  
            </div>
          </div>
        </form>-->
       
    </div>
    <div class="white-box white-pad"><div style="float: right;">
      {% get_user_permission request as user_obj %}
            {% with "files"|make_string:"add" as keystring %}
            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
                  <a class="budget_button" href="/upload/doc/?model=Project&slug={{slug}}&key=2">Add Image</a>
                  <a class="budget_button" href="/upload/doc/?model=Project&slug={{slug}}&key=1">Add Document</a>
      {% endif %}
      {% endwith %}
    </div>
    <div class="table-responsive">
    	<table class="table table-striped table-bordered sort_table" id="dest">
  <thead>
    <tr>
      <th>File</th>
      <th style="width: 10%;">File Title</th>
      <th>File Description</th>
      <th>File Type</th>
      <!-- <th>Uploadaed by</th> -->
      <th>Tags</th>
      <!-- <th>Source</th> -->
      <th>Upload Date </th>
            {% with "files"|make_string:"edit" as keystring %}
            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
      <th>Manage </th>
      {% endif %}
      {% endwith %}
    </tr>
  </thead>
  <tbody>
    {% for i in attachment %}
    <tr class="data_row">
      <td align="center">
      {% if i.attachment_type == 2 %}
        {% if i.document_type == 1 %}<!-- excel -->
        {% if i.attachment_file %}
        <a href="{{image}}/{{i.attachment_file.url}}" download>{% endif %}<img src="/static/img/excell-color.jpg" height=128px width=128px></a>
        {% endif %}
        {% if i.document_type == 2 %}<!-- pdf -->
        {% if i.attachment_file %}
        <a href="{{image}}/{{i.attachment_file.url}}" download>{% endif %}<img src="/static/img/pdf.jpg" height=128px width=128px></a>
        {% endif %}
        {% if i.document_type == 3 %}<!-- ppt -->
        {% if i.attachment_file %}
        <a href="{{image}}/{{i.attachment_file.url}}" download>{% endif %}<img src="/static/img/wordpress.jpg" height=128px width=128px></a>
        {% endif %}
        {% if i.document_type == 4 %}<!-- doc -->
        {% if i.attachment_file %}
        <a href="{{image}}/{{i.attachment_file.url}}" download>{% endif %}<img src="/static/img/excell-black.jpg" height=128px width=128px></a>
        {% endif %}
        {% else %}

        {% if i.attachment_file %}<a href="{{image}}/{{i.attachment_file.url}}" download><img src="{{image}}/{{i.attachment_file.url}}" height=128px width=128px>{% else %}<img src="" height=128px width=128px>{% endif %}{% endif %}</td></a>
      <td align="center" style="width: 10%;"><!-- <a href="/upload/edit/?model=Project&obj_id={{i.object_id}}&id={{i.id}}"> -->{% if i.name %}{{i.name}}{% else %}-{% endif %} <!-- </a> --></td>
      <td align="center">{{i.description}}</a></td>
      <td align="center">{{i.get_attachment_type_display}} {% if i.attachment_type == 2 %} ({{i.get_document_type_display}}) {% endif %}</td>
      <!-- <td>{{i.created_by.user.first_name}} {{i.created_by.user.last_name}}</td> -->
        <td align="center"><div class="span_bottom">{% for j in i.get_file_keywords %}<span>{{j}} </span>{% endfor %}<!-- <span>Budget</span><span>Report</span><span>Document</span><span>Files</span> --></div class="span_bottom"></td>

        
      <!-- <td>Task: Dhenuki Labours Unit</td> -->
      <td align="center">{{i.created}}</td>
      {% with "files"|make_string:"edit" as keystring %}
            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
      <td align="right">
        {% get_user_permission request as user_obj %}
            {% pmo_role request as pmo_access %}
                {% if user_obj.is_admin_user == True or user_obj.organization_type == 1 or pmo_access == 1 %}
       <a class="budget_button" href="/upload/edit/?model=Project&obj_id={{i.object_id}}&id={{i.id}}&slug={{slug}}"> Edit</a> <a class="btn btn-danger delete_function" href="/project/remove/record/?id={{i.id}}&model=Attachment&slug={{slug}}" onclick="return confirm('Are you sure you want to Delete - {{i.name}}')">X</button></a>
       {% endif %} </td>
       {% endif %} {% endwith %}
      <!-- <td align="center"><a class="budget_button" href="/upload/edit/?model=Project&obj_id={{i.object_id}}&id={{i.id}}"> Edit</a></td> -->
    </tr>
      <!-- <td align="center"><a class="budget_button" href="/upload/edit/?model=Project&obj_id={{i.object_id}}&id={{i.id}}"> Edit</a></td> -->
    </tr>
    {% endfor %}

  </tbody>
</table>
        </div>
          <div class="pagination_no">
        <div id="pagination-long"></div>
    </div>
    </div>
    
    
    
    </div>
</section>
<!--Content part Ends-->
{% endblock %}

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>


    
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>

<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>

<script type="text/javascript">
alert("aaaa");
    $(function () {
        $("#activate_tagator2").change(function () {
            alert(this);
            var selectedText = $(this).text();
            var selectedValue = $(this).val();
            
            
            $("#dest tr.data_row").each(function(){
            if (selectedText == "Super Category"){
                $(this).show();
            }
            else{
            if ($(this).text().search(new RegExp(selectedText, "i")) < 0) {
                $(this).fadeOut();
             } else {
                 $(this).show();
            }
            }
        });
            
        });
    });
</script>
<script>
//Toggle
		
		 $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
		 $(document).ready(function(e) {	
	/*Content Show/Hide */
	$('.hide-cont').hide();
	$('.close-cont').hide();
	$('.view-cont').click(function(){
		$('.hide-cont').slideDown(350);
		$('.close-cont').show();
		$('.view-cont').hide();
	});
	$('.close-cont').click(function(){
		$('.hide-cont').slideUp(350);
		$('.close-cont').hide();
		$('.view-cont').show();
	});	
 });
	
</script>

    <script type="text/javascript">
   
	
	var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll, .table-resp tbody").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV

    
  });
</script>
<!--  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>-->
<script src="/static/js/materialize-pagination.js"></script>
    <script>
    $(function() {
        $(function() {
            $('#pagination-long').materializePagination({
                align: 'center',
                lastPage: 10,
                firstPage: 1,
                useUrlParameter: false,
                onClickCallback: function(requestedPage) {
                    //console.log('Requested page from #pagination-long: ' + requestedPage);
                }
            });
        });
    });
    </script>
<script src="js/sorttable.js"></script>

<script>
$(function(){
	$("#dest").addSortWidget();
});
</script>

    
    <script src="/static/js/fm.tagator.jquery.js"></script>
	<script>
		$(function () {
			var $input_tagator1 = $('#input_tagator1');
			var $activate_tagator1 = $('#activate_tagator1');
			$activate_tagator1.click(function () {
				if ($input_tagator1.data('tagator') === undefined) {
					$input_tagator1.tagator({
						autocomplete: ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'],
						useDimmer: true
					});
					$activate_tagator1.val('destroy tagator');
				} else {
					$input_tagator1.tagator('destroy');
					$activate_tagator1.val('activate tagator');
				}
			});
			$activate_tagator1.trigger('click');
		});
	</script>
<link rel="stylesheet" href="/static/css/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".iframe").fancybox({
        type: 'iframe'
    });
});
</script>


</body>
</html>

