{% extends 'base.html' %}

{% block content %}
<!--Green pad starts-->

<section class="content-part">
	<div class="row">
    <div class="col-md-8 nopadding company_listing">
    <div class="">
    <div class="white-box white-pad about_company">
    <div>
      <h2>Project Detail</h2>
    <a href="javascript:void(0);" class="link-pad">Make Private/Public</a>
    <a href="javascript:void(0);" class="link-pad">Edit</a>
        </div><br>

        <div class="info-box-content">
          <span class="info-box-text">Messages</span>
          <span class="info-box-number">1,410</span>
        </div>
        
       <div class="company_text">
        <h3>{{obj.name}}</h3><br>
        <p>{{obj.summary | safe}}</p><br>
           <h6><span>Cause areas:</span> {% for i in obj.cause_area.all %}{{i}} {% if not forloop.last %}{{", "}}{% endif %}{% endfor %}</h6><br>

           <h6><span>Target beneficiaries:</span> {% for i in obj.target_beneficiaries.all %}{{i}} {% if not forloop.last %}{{", "}}{% endif %}{% endfor %}</h6>
        </div>
        <div>
        <br><h5>Primary Activities</h5>
        {% for i in activity %}
        <p>• {{i.name}}</p>
        {% endfor %}
        </div>
        <br>
         <div class="mission_vission">
        <h3>Vision</h3>
        <p>To provide superior, proactive banking service to niche markets globally, while providing cost effective, respective, responsive service to others in our role as a development bank, and in doing so, meet the requirement of our stakeholders.</p>
        </div>
        
    </div>
       <div class="contact_details">
        <h3>Contact Details</h3>
        <p>Standard chartered bank, Ameya House Rajkumar Corner, JP Road, Andheri (West), Mumbai - 400 058.</p>
        </div>
        </div>
        
    <div class="white-box company_projects" >
    <div class="company_projects">
        <h3>About the Company</h3>
            </div>
    	<div class="white-box-left">
    	 
    <div class="table-responsive">
    	<table class="table-resp project_value" cellpadding="0" cellspacing="0" border="0">
  <thead>
      <tr>
        <th>Projects</th>
        <th>Budget</th>
        <th>Cause Area</th>
        <th>Beneficiaries</th>
        <th>Dates</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Child Labour Eradication Project For Tribal Engaged In Brick Kilns Works</td>
        <td>22 Lac</td>
        <td>Welfare of the SC, ST, OBC, minorities and women.</td>
        <td>Children: 0-5 years, Tribals, ST, SC, OBC, and minorities</td>
          <td><label>Start</label><br> 15 Aug 2016 <label>End</label><br> 15 Aug 2018</td>
      </tr>
       <tr>
        <td>Improve wellbeing of elderly people </td>
        <td>1.5 Cr</td>
        <td>Old age care</td>
        <td>Senior Citizens</td>
          <td><label>Start</label><br> 15 Aug 2015 <label>End</label><br> 05 Aug 2017</td>
      </tr>
    
       <tr>
        <td>Enhancing Primary Education</td>
        <td>50 Lac</td>
        <td>Rural development programs</td>
        <td>Primary School Children</td>
          <td><label>Start</label><br> 15 Nov 2016 <label>End</label><br> 06 Jan 2018</td>
      </tr>
      
      </tbody>
	</table>  
    </div>      
    </div>
        
        
    </div>   
    <div class="white-box company_projects">
    <div class="company_projects">
        <h3>Users</h3>
            </div>
    	<div class="white-box-left company_projects">
  
    <div class="table-responsive">
    	<table class="table-resp project_value" cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th style="width:28%;">Users</th>
        <th style="width:19%;">Organization</th>
        <th style="width:26%;">Designation</th>
        <th style="width:19%;">PMU Role</th>
        <th style="width:10%;">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="width:28%;"><img src="img/user-img.png" class="user-image" alt="User Image"> <span>Ramesh Tawde</span></td>
        <td style="width:19%;">OVP Venture</td>
        <td style="width:26%;">CSR Head</td>
        <td style="width:19%;">Super Admin</td>
        <td style="width:10%;"><a href="javascript:void(0);">Edit</a></td>
      </tr>
      <tr>
        <td style="width:28%;"><img src="img/user-img1.png" class="user-image" alt="User Image"> <span>Anil Sharma</span></td>
        <td style="width:19%;">OVP Venture</td>
        <td style="width:26%;">CSR Program Accountant</td>
        <td style="width:19%;">Admin</td>
        <td style="width:10%;"><a href="javascript:void(0);">Edit</a></td>
      </tr>
      <tr>
        <td style="width:28%;"><img src="img/user-img2.png" class="user-image" alt="User Image"> <span>Priya Dutta</span></td>
        <td style="width:19%;">OVP Venture</td>
        <td style="width:26%;">Human Resource</td>
        <td style="width:19%;">Account Manager</td>
        <td style="width:10%;"><a href="javascript:void(0);">Edit</a></td>
      </tr>
      <tr>
        <td style="width:28%;"><img src="img/user-img3.png" class="user-image" alt="User Image"> <span>Shakeel Ahmed</span></td>
        <td style="width:19%;">Akanksha</td>
        <td style="width:26%;">Program Manager</td>
        <td style="width:19%;">Program Manager</td>
        <td style="width:10%;"><a href="javascript:void(0);">Edit</a></td>
      </tr>
      <tr>
        <td style="width:28%;"><img src="img/user-img4.png" class="user-image" alt="User Image"> <span>Vikas Gupta</span></td>
        <td style="width:19%;">Akanksha</td>
        <td style="width:26%;">Volunteer</td>
        <td style="width:19%;">Volunteer</td>
        <td style="width:10%;"><a href="javascript:void(0);">Edit</a></td>
      </tr>
      <tr>
        <td style="width:28%;"><img src="img/user-img1.png" class="user-image" alt="User Image"> <span>Vikas Gupta</span></td>
        <td style="width:19%;">Akanksha</td>
        <td style="width:26%;">Volunteer</td>
        <td style="width:19%;">Volunteer</td>
        <td style="width:10%;"><a href="javascript:void(0);">Edit</a></td>
      </tr>
      <tr>
        <td style="width:28%;"><img src="img/user-img2.png" class="user-image" alt="User Image"> <span>Vikas Gupta</span></td>
        <td style="width:19%;">Akanksha</td>
        <td style="width:26%;">Volunteer</td>
        <td style="width:19%;">Volunteer</td>
        <td style="width:10%;"><a href="javascript:void(0);">Edit</a></td>
      </tr>
      </tbody>
	</table>  
    </div>
    <a href="javascript:void(0);" class="link-pad">Add User</a>       
    </div>
        
        
    </div> 
        </div>
        <div class="col-md-4  company_listing">
    <div class="">
    <div class="white-box white-pad about_company ">
       <div class="public_section">
        <h2>Recent Public Updates</h2><a href="javascript:void(0);" class="link-pad">Add User</a>  
        </div> 
        <div class="public_height">
        <div class="public_article">
        <div>
        <img src="img/public01.jpg">
            </div>
        <div>
            <h6>15 Aug 2016</h6>
           <h6>Bringing out the seriousness of the uphill.</h6>
            </div>
        </div>
        <div class="public_article">
        <div>
        <img src="img/public01.jpg">
            </div>
        <div>
            <h6>15 Aug 2016</h6>
           <h6>Bringing out the seriousness of the uphill.</h6>
            </div>
        </div>
        <div class="public_article">
        <div>
        <img src="img/public01.jpg">
            </div>
        <div>
            <h6>15 Aug 2016</h6>
           <h6>Bringing out the seriousness of the uphill.</h6>
            </div>
        </div>
        <div class="public_article">
        <div>
        <img src="img/public01.jpg">
            </div>
        <div>
            <h6>15 Aug 2016</h6>
           <h6>Bringing out the seriousness of the uphill.</h6>
            </div>
        </div>
        </div>
        </div>
           
            </div>
        </div>
    </div>
</section>
<!--Content part Ends-->
</div>

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="/static/js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<!--<script src="js/jquery.nicescroll.min.js"></script>-->
<script>
//Toggle
		
		 $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
		 $(document).ready(function(e) {	
	/*Content Show/Hide */
	$('.hide-cont').hide();
	$('.close-cont').hide();
	$('.view-cont').click(function(){
		$('.hide-cont').slideDown(350);
		$('.close-cont').show();
		$('.view-cont').hide();
	});
	$('.close-cont').click(function(){
		$('.hide-cont').slideUp(350);
		$('.close-cont').hide();
		$('.view-cont').show();
	});	
 });
	
</script>

    <script type="text/javascript">
   
	
	var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll, .table-resp tbody").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV

    
  });
</script>
<script>
    // Change the selector if needed
var $table = $('table.scroll'),
    $bodyCells = $table.find('tbody tr:first').children(),
    colWidth;

// Adjust the width of thead cells when window resizes
$(window).resize(function() {
    // Get the tbody columns width array
    colWidth = $bodyCells.map(function() {
        return $(this).width();
    }).get();
    
    // Set the width of thead columns
    $table.find('thead tr').children().each(function(i, v) {
        $(v).width(colWidth[i]);
    });    
}).resize(); // Trigger resize handler
    </script>

{% endblock %}
