{% extends 'base.html' %}

{% block section %}
<div> </div>
{% endblock %}
    <!-- Content Header (Page header) -->
<!--<style>
form { 
margin: 0 auto; 
width:450px;
}
</style>-->
    <!-- Main content -->
{% block content %}
<style>
.budget_button{background: #00998b; border: 0px; color:#fff; padding:3px 10px; border-radius:3px;}
</style>
<div class="clear"></div>
<section class="content-part">
    <div class='container' >
    <div class="white-box">

        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="border_line"> Upload Parameter Value for {{parameter.name}}</h3>
              <!-- <div align="right">
             <a class="btn btn-success" href="/project/parameter/manage/?slug={{parameter.project.slug}}&key={{key}}" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>&#160;<input class="btn btn-primary" type="submit" form="prog_edit" value="Save" />
         </div> -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            
            <form autocomplete="off" id="prog_edit" action="/project/upload/parameter/value/?id={{ids}}" class ="form-horizantal budget_form" method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6 nopadding">
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <label>Select Year<font color="red">*</font></label>
                                    <div>
                                <select class='form-control' id='gYear' name='year' onchange="configureDropDownLists(this)">
                                <option value='0'>--Select Year--</option>
                                </select>
                                <p style="color: red;">
                                    
                                <font color=#fc282f><span id="funder_error"></span></font>
                                </p>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id = "month_div">
                            <div class="col-md-6 nopadding">
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <label>Select Month<font color="red">*</font></label>
                                    <div>
                                <select title="Please select year first" class='form-control' id="ddl2" name="month"></select>
                                <p style="color: red;">
                                    
                                
                                </p>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <select class='form-control' id="ddl2"></select> -->
                        {% if not key_parameter %}
                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>{{parameter.name}} <font color="red">*</font></label>
                                            <input class="form-control" type="number" name="value" id="value{{parameter.id}}" required=True>
                                            </div><font color="green">{% if parameter.instructions %}{{parameter.instructions}}{% else %}{% endif %}</font>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}

                        <!-- {% if not key_parameter %}
                        <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    {{parameter.name}} <font color="red">*</font>
                                </label>
                                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                    
                                    <input class="form-control" type="number" name="value" id="value{{parameter.id}}" required=True>{% if parameter.instructions %}{{parameter.instructions}}{% else %}{% endif %}
                                </div>

                        </div>
                        {% endif %} -->
                        {% for i in key_parameter %}
                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>{{i.name}} <font color="red">*</font></label>
                                            <input class="form-control" type="number" name="value[{{i.id}}]" id="value{{i.id}}" required>{% if i.instructions %}{{i.instructions}}{% else %}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                        <div class="col-md-12">
                            <div class="form-group">
                        <input class="budget_button" type="submit" value="Save" onclick="return ddlValidate();" />
                        <a class="btn btn-success"style="margin-right:5px;float: right;" href="/project/parameter/manage/?slug={{parameter.project.slug}}&key={{key}}">Back</button></a>
                        </div>
                        </div>

                    </form>
  </div>
  </div>

  </div>
  </div>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.caret.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.tag-editor.js"></script>
<link rel="stylesheet" href="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.tag-editor.css">

<script type="text/javascript">
$('#ddl2').prop('disabled', true);
$('#month_div').hide()
var monthNames = [ "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ];
var arr = [];
var year = []
var datFrom = new Date({{start_date.year}}, {{start_date.month}}, {{start_date.day}});
var datTo = new Date({{end_date.year}}, {{end_date.month}}, {{end_date.day}});
var fromYear =  datFrom.getFullYear();
var toYear =  datTo.getFullYear();
var diffYear = (12 * (toYear - fromYear)) + datTo.getMonth();
for (var i = datFrom.getMonth(); i <= diffYear; i++) {
        arr.push(monthNames[i%12]);
    }

for (var j = datFrom.getFullYear(); j <= datTo.getFullYear(); j++) {
        year.push(j);


    }
//alert(arr);
//alert(year);
var optionsAsString = "";
for(var i = 0; i < arr.length; i++) {
    optionsAsString += "<option value='" + arr[i] + "'>" + arr[i] + "</option>";
}
$( 'select[name="month"]' ).append( optionsAsString );

var optionsAsString1 = "";
for(var i = 0; i < year.length; i++) {
    optionsAsString1 += "<option value='" + year[i] + "'>" + year[i] + "</option>";
}
$( 'select[name="year"]' ).append( optionsAsString1 );

var index;
var start=0;
var end;
var master_list;
// for (i = 0; i < arr.length; i++) {
//     //master_list.push(arr[i]);
//     if (arr[i] == 'December') {
//         var first_list = arr.slice(start,i);
//         alert(first_list);
//         start+=i

//         alert(i);
//         alert(arr[i]);
//     } else{

//     };
    
// }
var master_list1 = [];
var index = arr.indexOf("January");
for (i=0; i < year.length; i++) {

    first_list = arr.slice(start,index)
    start=index;
    index += 12
    master_list1[i] = first_list
}

// var index = arr.indexOf("January");
// first_list = arr.slice(start,index)
// start = index;
// first_list2 = arr.slice(start,start+12);

// first_list3 = arr.slice(start+12)

//function configureDropDownLists(year,ddl2) {
 // switch (year.value) {
 //        case '2010':
 //            ddl2.options.length = 0;
 //            for (i = 0; i < arr.length; i++) {
 //                createOption(ddl2, arr[i], arr[i]);
 //            }
 //            break;
 //        case '2011':
            
 //            ddl2.options.length = 0; 
 //        for (i = 0; i < arr.length; i++) {
 //            createOption(ddl2, arr[i], arr[i]);
 //            }
 //            break;
 //        case '2012':
 //            ddl2.options.length = 0;
 //            for (i = 0; i < arr.length; i++) {
 //                createOption(ddl2, arr[i], arr[i]);
 //            }
 //            break;
 //            default:
 //                ddl2.options.length = 0;
 //            break;
 //    }
 function configureDropDownLists (type){
    $("#ddl2 option").remove();
    $('#ddl2').removeAttr("title");
    $('#ddl2').prop('disabled', false);
    $('#month_div').show()
    document.getElementById('funder_error').innerHTML=""
    var selected_year = type.options[type.selectedIndex].value;
 for (var i in year) {
   if (selected_year == year[i]) {
    
    rrr = master_list1[i]
    for (i = 0; i < rrr.length; i++) {
                createOption(ddl2, rrr[i], rrr[i]);
            }
    
  }
}
}
function createOption(ddl2, text, value) {
        var opt = document.createElement('option');
        opt.value = value;
        opt.text = text;
        ddl2.options.add(opt);
    }
</script>



</script>

<script type="text/javascript">
        function ddlValidate() {
            var e = document.getElementById("gYear");
            var para_type = e.options[e.selectedIndex].value;
            if (para_type == 0) {
                document.getElementById('funder_error').innerHTML="Please select Year"
                return false;
            } else {
                document.getElementById('funder_error').innerHTML=""
                return true;
            }
        }

    </script>


<script>
  $( function() {
    $( "#id_start_date" ).datepicker();
    $( "#id_end_date" ).datepicker();
  } );
  </script>

<script type="text/javascript">
$(document).ready(function() {
    var max_fields      = 6; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><input class="form-control" type="text" name="name['+x+']"/><input class="form-control" type="number" placeholder="value" name="value['+x+']" id="id_number"><a href="#" class="remove_field">Remove</a></div>'); //add input box

        }
        document.getElementById("activity_count").value = x;

    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>

<script type="text/javascript">
$('#pie').hide();
$("#para_type").change(function () {
  if($(this).val() == "PIN" || $(this).val() == "PIP")
    $('#pie').show();
    $('#name').hide();
    $('#value').hide();
    //$("#inputArea").append('<input name="inputs[]" />');
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
        //$('select[multiple=multiple]').multiSelect()
        $( function() {
            $('#id_start_date').datepicker({ dateFormat: 'yy-mm-dd',
            onSelect: function(dateText, inst) {
        var start = new Date($('#id_start_date').val());
        var end = new Date($('#id_end_date').val());
        var today = new Date();

        if (end <= start) {
            document.getElementById('dateError1').innerHTML="Start date should be less than End date"
        };
        if (end > start) {
            document.getElementById('dateError1').innerHTML=""
        };
        var months = (end.getFullYear() - start.getFullYear()) * 12;
        months += end.getMonth() - start.getMonth();
        document.getElementById("id_duration").value = months;
    } });
            });

        $("#prog_edit").validate({
            rules :
            {
                name : {required:true},
                //program : {required:true},
                no_of_beneficiaries : {required:true},
                target_beneficiaries : {required:true},
                cause_area : {required:true},
                id_end_date: { greaterThan: "#id_start_date" },
            },
            messages:
            {
                name : {required : "<font color=#fc282f>Please enter the name</font>"},
                //program:{required:"<font color=#fc282f>Please select the program</font>"},
                no_of_beneficiaries:{required:"<font color=#fc282f>Please enter the no of beneficiaries</font>"},
                target_beneficiaries : {required : "<font color=#fc282f>Please enter primary beneficiary</font>"},
                cause_area : {required : "<font color=#fc282f>Please enter primary area of focus</font>"},
                id_end_date : {required : "<font color=#fc282f>Please enter the name</font>"},

            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
        });
        });
</script>
<style>
.error{color:red; min-width: 200px;}
</style>
  <div class="control-sidebar-bg"></div>
<script>
function RemoveProduct() {
    if ($('#id_start_date').val()>$('#id_end_date').val()){
        return false;
        } else {
            return true;
        }
    }
</script>

</div>
</div>

{% endblock %}
