{% extends 'base.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
<!--<style>
form { 
margin: 0 auto; 
width:450px;
}
</style>-->
    <!-- Main content -->

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Add Parameter</h3>
              <div align="right">
             <a class="btn btn-success" href="/project/list/" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>&#160;<input class="btn btn-primary" type="submit" form="prog_edit" value="Save" />
         </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            
            <form autocomplete="off" id="prog_edit" action="/project/upload/key-parameter/" method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}

                        <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Select Project <font color="red">*</font>
                                </label>
                                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                    <select class="form-control" name="project" id="mylist">
                                        <option selected></option>
                                        {% for i in proj_obj %}
                                        <option value="{{i.id}}" >{{i.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Parameter Type<font color="red">*</font>
                            </label>
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <select class="form-control" name="para_type" id="para_type">
                                    <option selected>Select</option>
                                    <option value="PIN" >Pie chart Numbers</option>
                                     <option value="PIP">Pie Chart Percent</option>
                                    <option value="NUM">Number</option>
                                    <option value="PER">Percent</option>
                                    <option value="CUR">Currency</option>
                                </select>
                            </div>
                        </div>

                        <div id="name" class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Name
                            </label>
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <input class="form-control" type="text" name="name" id="name">
                            </div>
                        </div> 

                        <div id="value" class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Value
                            </label>
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <input class="form-control" type="number" name="value" id="value">
                            </div>
                        </div> 

                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name" >
                            </label>
                        <div id="pie" class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <div class="input_fields_wrap">
                            <button class="add_field_button">Add More</button>
                            {% if slug %}
                            {% for i in activity_view %}
                            <div><input value="{{i.name}}" type="text" name="activity[1]"><input type="number" value="{{i.activity_duration}}" name="duration[1]" placeholder="Duration" id="id_number"><!-- <select name="activity_type[1]" id="id_activity_type"><option value="1" selected="">Core</option><option value="2">Non-core</option></select> --></div>
                            {% endfor %}
                            {% else %}
                            <div><input class="form-control" value="{{i.name}}" type="text" name="name[1]"><input class="form-control" type="number" value="{{i.activity_duration}}" name="value[1]" placeholder="Value" id="id_number"></div>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Start Date
                            </label>
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <input type="text" name="start_date" readonly="true" class="form-control" id="id_start_date">
                                <font color=#fc282f><b><span id="dateError1"></span></b></font>
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                End Date
                            </label>
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <input type="text" name="end_date" readonly="true" class="form-control" id="id_end_date">
                                <font color=#fc282f><b><span id="dateError"></span></b></font>

                            </div>
                            
                        </div>

                        <input style="width: 0px;" name="name_count" id="activity_count" type="text"/>

                        <input class="btn btn-primary" type="submit" value="Save" onclick="return RemoveProduct();" />
                        <a class="btn btn-success" href="/project/list/">Back</button></a>
                    </form>
  </div>

<input type="hidden" name="key_list" id="key_list" value="{{key_list}}">
<input type="hidden" name="keyss" id="keyss" value="{{keyss}}">
  </div>
  </div>

<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.caret.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.tag-editor.js"></script>
<link rel="stylesheet" href="https://rawgit.com/Pixabay/jQuery-tagEditor/master/jquery.tag-editor.css">

<script>
  $( function() {
    $( "#id_start_date" ).datepicker();
    $( "#id_end_date" ).datepicker();
  } );
  </script>

<script type="text/javascript">
$(document).ready(function() {
    var max_fields      = 12; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><input class="form-control" type="text" name="name['+x+']"/><input class="form-control" type="number" placeholder="value" name="value['+x+']" id="id_number"><a href="#" class="remove_field">Remove</a></div>'); //add input box

        }
        document.getElementById("activity_count").value = x;

    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>

<script type="text/javascript">
$('#pie').hide();
$("#para_type").change(function () {
  if($(this).val() == "PIN" || $(this).val() == "PIP")
    alert($(this).val());
    $('#pie').show();
    $('#name').hide();
    $('#value').hide();
    //$("#inputArea").append('<input name="inputs[]" />');
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
        //$('select[multiple=multiple]').multiSelect()
        $( function() {
            $('#id_start_date').datepicker({ dateFormat: 'yy-mm-dd',
            onSelect: function(dateText, inst) {
        var start = new Date($('#id_start_date').val());
        var end = new Date($('#id_end_date').val());
        var today = new Date();

        if (end <= start) {
            document.getElementById('dateError1').innerHTML="Start date should be less than End date"
        };
        if (end > start) {
            document.getElementById('dateError1').innerHTML=""
        };
        var months = (end.getFullYear() - start.getFullYear()) * 12;
        months += end.getMonth() - start.getMonth();
        document.getElementById("id_duration").value = months;
    } });
            });

        $("#prog_edit").validate({
            rules :
            {
                name : {required:true},
                //program : {required:true},
                no_of_beneficiaries : {required:true},
                target_beneficiaries : {required:true},
                cause_area : {required:true},
                id_end_date: { greaterThan: "#id_start_date" },
            },
            messages:
            {
                name : {required : "<font color=#fc282f>Please enter the name</font>"},
                //program:{required:"<font color=#fc282f>Please select the program</font>"},
                no_of_beneficiaries:{required:"<font color=#fc282f>Please enter the no of beneficiaries</font>"},
                target_beneficiaries : {required : "<font color=#fc282f>Please enter primary beneficiary</font>"},
                cause_area : {required : "<font color=#fc282f>Please enter primary area of focus</font>"},
                id_end_date : {required : "<font color=#fc282f>Please enter the name</font>"},

            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
        });
        });
</script>
<style>
.error{color:red; min-width: 200px;}
</style>
  <div class="control-sidebar-bg"></div>
<script>
function RemoveProduct() {
    if ($('#id_start_date').val()>$('#id_end_date').val()){
        alert("'End date' should be greater than 'Start date'");
        return false;
        } else {
            return true;
        }
    }
</script>



{% endblock %}
