{% extends 'base.html' %}
{% load urs_tags %}
{% load roles_tags %}
{% block section %}
{% endblock %}
{% block content %}
<!--Green pad Ends-->
<!--Content part starts-->
<style>
.budget_button{background: #00998b; border: 0px; color:#fff; padding:3px 10px; border-radius:3px;}
button.budget_button.button_section {
    line-height: 18px;
    margin-right: 10px;
}
#example_paginate, #example_info, .dataTables_length, .dataTables_filter {
    display: none;
}
</style>

<!--{% with "project-list"|make_string:"view" as keystring %}-->
<!--            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}-->
<section class="content-part forms_section">
    <div class="row">
    <div class="content-top">

        <!--<form>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <select class="select_box">
                <option>Sep-Dec</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
              <label for="one">
                <input type="checkbox" id="one" />Jan-Mar</label>
              <label for="two">
                <input type="checkbox" id="two" />Apr-Jul</label>
              <label for="three">
                <input type="checkbox" id="three" />Aug-Sep</label>
              <label for="three">
                <input type="checkbox" id="three" />Oct-Dec</label>  
            </div>
          </div>
        </form>-->
       
    </div>
    <div class="white-box white-pad">
    <div class="box-body table-responsive">
        <h3>Project List</h3>
        {% get_user_permission request as user_obj %}
    {% with "add-new-project"|make_string:"add" as keystring %}
            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
        <div style="float: right;"><a class="budget_button" href="/project/add/">Add Project</a></div>{% endif %}
        {% endwith %}
    {% if obj_list %}
    <form action='.' class="finance-report" id='download_form'>
         <input type="hidden" name='download' value='true'>
         <button class="budget_button button_section" type="submit" style="float: right;">Download</button>
    </form>
    {% endif %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
       <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Name</th>
                <th>Managed by</th>
                <th>Implementation Partner</th>
                <th>Funder</th>
                <th>Status</th>
                <th>Budget Planned</th>
                <th>Duration</th>
<!--                {% with "project-list"|make_string:"edit" as keystring %}-->
<!--            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}-->
                <th>Action</th>
                <th>Manage</th>
<!--            {% endif %}-->
<!--            {% endwith %}-->
            </tr>
        </thead>
        
        {% for i in obj_list %}
        <tr>
            <td style='width: 13%;'> {{i.start_date}}</td>
            <td style='width: 13%;'> {{i.end_date}}</td>
            <td style='width:38%;'><a href="/project/summary/?slug={{i.slug}}">{{i.name}}</a></td>
            {% get_funder_mapping i as funder_mapping %}
            {% get_pmo_user i as pmo_org %}
			<td>{{pmo_org}} </td>
            <td>{{funder_mapping.implementation_partner.organization}} </td>
            <td>{{funder_mapping.funder.organization}}</td>            
            <td>{{i.get_active_display}}</td>
            <td>{{i.total_budget}}</td>
            <!-- test column -->
            <td>{{i.duration}}</td>
<!--            {% with "project-list"|make_string:"edit" as keystring %}-->
<!--            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}-->
           <td>
                {% if user_obj.is_admin_user == True or user_obj.organization_type == 2  and user_obj.owner == True or pmo_access == 1 %}
                <a class="budget_button" href="/project/add/?slug={{i.slug}}">Edit</button></a>
                {% endif %}
            </td>
            <!--<td style='width: 13%;'>-->
            <td>
            <div style="width:160px">
            
                {% if user_obj.is_admin_user == True or user_obj.organization_type == 2  and user_obj.owner == True or pmo_access == 1 %}
                <a class="budget_button" href="/manage/project/role/list/?slug={{i.slug}}"> Manage Roles</a>{% endif %}
                <!-- <a class="budget_button" href="/upload/list/?slug={{i.slug}}&model=Project"> Manage Files</a> -->  <!-- <a class="budget_button" href="/report/listing/?slug={{i.slug}}"> Manage Reports</a> --> 
                {% if user_obj.is_admin_user == True or user_obj.organization_type == 2  and user_obj.owner == True or pmo_access == 1 %}
                <a href="/project/remove/record/?id={{i.id}}&model=Project" type="button" title="Delete Project" class="btn btn-danger delete_function" onclick="return confirm('Are you sure you want to Delete')"><b>x</b></a>
                {% endif %}
           </div> 
            </td>
<!--            {% endif %}-->
<!--            {% endwith %}-->
        </tr>
        {% endfor %}


  </tbody>
</table>


        </div>
          
    </div>
    
    {% if obj_list.has_other_pages %}
    <div align="right" class="right_box">
  <ul class="pagination">
    {% if obj_list.has_previous %}
      <li><a href="?page={{ obj_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in obj_list.paginator.page_range %}
      {% if obj_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if obj_list.has_next %}
      <li><a href="?page={{ obj_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}
    
    </div>
</section>
<!--{% endif %}-->
<!--        {% endwith %}-->
<script>
//Toggle
        
         $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
         $(document).ready(function(e) {    
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
        $('.hide-cont').slideDown(350);
        $('.close-cont').show();
        $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
        $('.hide-cont').slideUp(350);
        $('.close-cont').hide();
        $('.view-cont').show();
    }); 
 });
    
</script>
<!--Content part Ends-->


<!-- jQuery (necessary for JavaScript plugins) -->


<!--link rel="stylesheet" href="/static/css/bootstrap.min.css" />-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap-glyphicons.css" />
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>


    
    
    
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>

<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>



    <script type="text/javascript">
   
    
    var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
    var nice = $("html").niceScroll();  // The document page (body)
    
    $("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll, .table-resp tbody").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV

    
  });
</script>
<!--  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>-->
<script src="/static/js/materialize-pagination.js"></script>
    <script>
    $(function() {
        $(function() {
            $('#pagination-long').materializePagination({
                align: 'center',
                lastPage: 10,
                firstPage: 1,
                useUrlParameter: false,
                onClickCallback: function(requestedPage) {
                    //console.log('Requested page from #pagination-long: ' + requestedPage);
                }
            });
        });
    });
    </script>
<script src="js/sorttable.js"></script>

<script>
$(function(){
    $("#dest").addSortWidget();
});
</script>

    
    <script src="/static/js/fm.tagator.jquery.js"></script>
    <script>
        $(function () {
            var $input_tagator1 = $('#input_tagator1');
            var $activate_tagator1 = $('#activate_tagator1');
            $activate_tagator1.click(function () {
                if ($input_tagator1.data('tagator') === undefined) {
                    $input_tagator1.tagator({
                        autocomplete: ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'],
                        useDimmer: true
                    });
                    $activate_tagator1.val('destroy tagator');
                } else {
                    $input_tagator1.tagator('destroy');
                    $activate_tagator1.val('activate tagator');
                }
            });
            $activate_tagator1.trigger('click');
        });
    </script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
{% endblock %}

</body>
</html>

