{% extends 'base.html' %}

{% block section %}
<div> </div>
{% endblock %}
    <!-- Content Header (Page header) -->
<!--<style>
form { 
margin: 0 auto; 
width:450px;
}
</style>-->
    <!-- Main content -->
{% block content %}
<div class="clear"></div>
<section class="content-part">
    <div class='container' >
    <div class="white-box">
        <div class="col-md-12">
      <h3 class="border_line">Manage Role</h3><br>
        </div>
                    {% if key == 'edit' %}
                        
                        <form id="ic_form" class="form-horizantal budget_form" action="/manage/project/role/edit/?objid={{objid}}" method = "post" >{% csrf_token %}
                        <input type="hidden" name="slug" value="{{project_slug}}">
                        <input type="hidden" name="key" value="{{redirect_key}}">
                    {% else %}
                        <form id="ic_form" class="form-horizantal budget_form" action="." method = "post" >{% csrf_token %}
                        <input type="hidden" name="slug" value="{{project_slug}}">
                        <input type="hidden" name="key" value="{{redirect_key}}">
                    {% endif %}
                    {% if message %}<p style="color:red"><b>{{message}}</b></p>{% endif %}
                    <small>Note: Fields marked with Asterisk (<span class="required" style="color:red">*</span>) are mandatory</small></br></br>
                        <div class="col-md-6">
                        <!-- <div class="col-md-12">
                                <div class="form-group">
                            <label>
                                User <span class="required" style="color:red">*</span>
                            </label>
                                {{ form.user }}
								{{ form.user.errors }}
                        </div>
                        </div> -->

                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>User <span class="required" style="color:red">*</span></label>
                                            {{ form.user }}
                                            {{ form.user.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>Role <span class="required" style="color:red">*</span></label>
                                            {{ form.role }}
                                            {{ form.role.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group">
                                    {% if key == "add" %}
                                        <input type="submit" class="btn btn-success" value="Save">
                                    {% else %}
                                        <input type="submit" value="Update" class="btn btn-success">
                                    {% endif %}
                                    {% if redirect_key == "summary" %}
                                        <input class="btn btn-primary" type="button" value="Cancel" onClick="parent.location='/project/summary/?slug={{project_slug}}'">
                                        {% else %}
                                        <input class="btn btn-primary" type="button" value="Cancel" onClick="parent.location='/manage/project/role/list/?slug={{project_slug}}'">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
    </div>
</div>
</div>
</section>


{% endblock %}
{% block script %}

<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>

<script type="text/javascript">
        
    $(document).ready(function(){
                $('select[multiple=multiple]').multiSelect()
        $("#ic_form").validate({
            rules :
            {
                user : {required:true},
                role : {required:true},
            },
            messages:
            {
                user : {required : "Please Choose the User"},
                role : {required : "Please Choose the Role"},
            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
        });
        });
        
</script>

<style>
.error{color:red; min-width: 200px;}
</style>

{% endblock %}

