{% extends 'base.html' %}
{% load roles_tags %}
{% block section %}
<div> </div>
{% endblock %}
    <!-- Content Header (Page header) -->
<!--<style>
form { 
margin: 0 auto; 
width:450px;
}
</style>-->
    <!-- Main content -->
{% block content %}
<div class="clear"></div>
<section class="content-part forms_section">
<!--    {% with "add-user"|make_string:"add" as keystring %}-->
<!--        {% if request.user.is_superuser or request|has_permission_for_action:keystring %}-->
    <div class='container' >
    <div class="white-box">
        <div class="col-md-12">
      <h3 class="border_line">Manage Role</h3><br>
        </div>
                    {% if key == 'project_edit_user' %}
                    <form id="ic_form" class="form-horizantal budget_form" action="/project/manage/funder/?slug={{project_slug}}" method = "post" >{% csrf_token %}
                        <input type="hidden" name="slug" value="{{project_slug}}">
                        <input type="hidden" name="key" value="{{redirect_key}}">
                    {% endif %}
                    {% if key == 'edit' %}
                        
                        <form id="ic_form" class="form-horizantal budget_form" action="/manage/project/role/edit/?objid={{objid}}" method = "post" >{% csrf_token %}
                        <input type="hidden" name="slug" value="{{project_slug}}">
                        <input type="hidden" name="key" value="{{redirect_key}}">
                    {% else %}
                        <form id="ic_form" class="form-horizantal budget_form" action="." method = "post" >{% csrf_token %}
                        <input type="hidden" name="slug" value="{{project_slug}}">
                        <input type="hidden" name="key" value="{{redirect_key}}">
                    {% endif %}
                    {% if message %}<p style="color:red"><b>{{message}}</b></p>{% endif %}
                    <small>Note: Fields marked with Asterisk (<span class="required" style="color:red">*</span>) are mandatory</small></br></br>
                        <div class="col-md-6">
                        <!-- <div class="col-md-12">
                                <div class="form-group">
                            <label>
                                User <span class="required" style="color:red">*</span>
                            </label>
                                {{ form.user }}
								{{ form.user.errors }}
                        </div>
                        </div> -->

                        {% if key == 'project_edit_user' %}
                        <div id="impl_partner_div">
                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>Implementation Partner<span class="required" style="color:red">*</span></label>
                                            <select class="form-control" name="implementation_partner" id="implementation_partner" required><option selected disabled>Select Implementation Partner</option>{% for i in partner %}<option {% if proj_funder_obj.implementation_partner.id == i.id %}selected="selected" {% endif %} value="{{i.id}}" >{{i.organization}}</option>{% endfor %}</select>
                                            {{ form.user.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="funder_div">
                                <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>Funder<span class="required" style="color:red">*</span></label>
                                            <select class="form-control" name="funder" id="funder"><option selected disabled>Select Funder</option>{% for i in funder_user %}<option {% if proj_funder_obj.funder.id == i.id %}selected="selected" {% endif %} value="{{i.id}}" >{{i.organization}}</option>{% endfor %}</select>
                                            {{ form.user.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        {% else %}
                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>User <span class="required" style="color:red">*</span></label>
                                            {{ form.user }}
                                            {{ form.user.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        <div class="row">
                                    <div class="col-md-6 nopadding">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label>Role <span class="required" style="color:red">*</span></label>
                                            {{ form.role }}
                                            {{ form.role.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
 
                                <div class="col-md-12">
                                    <div class="form-group">
                                    {% if key == "add" %}
                                        <input class="budget_button" type="submit" class="btn btn-success" value="Save">
                                    {% else %}
                                        <input class="budget_button" type="submit" value="Update" class="btn btn-success">
                                    {% endif %}
                                    {% if redirect_key == "summary" %}
                                        <input class="btn btn-" type="button" style="margin-right:5px;float: right;" value="Cancel" onClick="parent.location='/project/summary/?slug={{project_slug}}&key=summary'">
                                        {% else %}
                                        <input class="btn btn-success" type="button"style="margin-right:5px;float: right;" value="Cancel" onClick="parent.location='/manage/project/role/list/?slug={{project_slug}}'">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
    </div>
</div>
</div>
<!--{% endif %}-->
<!--{% endwith %}-->
</section>
{% endblock %}
{% block script %}

<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    {% if project_funder == '1' %}
    $("#impl_partner_div").hide();
    {% endif %}
    {% if project_funder == '0' %}
    $("#funder_div").hide();
    {% endif %}
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
                $('select[multiple=multiple]').multiSelect()
        $("#ic_form").validate({
            rules :
            {
                user : {required:true},
                role : {required:true},
            },
            messages:
            {
                user : {required : "Please Choose the User"},
                role : {required : "Please Choose the Role"},
            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
        });
        });
        
</script>
<script>
//Toggle
        
         $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
         $(document).ready(function(e) {    
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
        $('.hide-cont').slideDown(350);
        $('.close-cont').show();
        $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
        $('.hide-cont').slideUp(350);
        $('.close-cont').hide();
        $('.view-cont').show();
    }); 
 });
    
</script>
<style>
.error{color:red; min-width: 200px;}
</style>

{% endblock %}

