{% extends 'base.html' %}
{% load urs_tags roles_tags %}
{% load common_tags %}
{% block section %}
{% load humanize %}

<script src="/static/js/jquery.simplePopup.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/static/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css">
<link href="/static/css/jsgantt.css" rel="stylesheet" type="text/css" />
<script src="/static/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<style>
.timeline_p {
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
</style>
<script type="text/javascript">
    $(document).on('ready', function() {
     
        $(".center").slick({
        autoplay: true,
       /* dots: true,*/
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        responsive: [
            {
              breakpoint: 1190,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 1,
                  infinite: false,
              }
            },
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                infinite: false,
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                  infinite: false,
              }
            },
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                  infinite: false,
              }
            }
          ]
      });
    });
</script>
<script type="text/javascript">

$(document).ready(function(){
    $('#popup').click(function(){
	$('#pop1').simplePopup();
    });
});

//Function to filter data by year
function filterData(){
  var selected = [];
  var separator = (window.location.href.indexOf("?")===-1)?"?":"&";
  var param = {};
  $('.year-check-box').each(function(){
    selected.push($(this).attr("id"));
    if ($(this).is(":checked")) {
      selected.push($(this).attr("id"));
    }
    //param+=separator+"year="+$(this).attr("id");
  });
  param = {name : selected}
  window.location.href = window.location.href + $.param(param);
  console.log("Selected years:",$.param(param))
}
</script>
<style>
    .error { color :red;}
    .errorlist li{color :red;}
    #size_upload{color: red;}
    #date_error,#min_max {color : red;}
    .orglogo img {
    object-fit: contain;
}
.key-image-budget {
    margin-top: 81px;
}
.first_section3 .float_section{float: left;margin: 0px 10px}
/*.key-image{
  margin-top: -10px;
}
*/
</style>
<div class="clear"></div>
<!--Green pad starts-->
<section class="green-pad green-height">
	<div class="row">

	<div class="image-pad orglogo ">
	    {% get_org_logo projectobj as org_logo %}
    	<a href="javascript:void(0);"> {% if org_logo.0 %}<img src="{{org_logo.0}}"  alt="" title="" height='117px' width = '100px'> {% else %}<img src="/static/img/GoodCSR_color_circle.png" alt="" title="" height='117px' width = '100px'> {% endif %}</a><a href="javascript:void(0);">
<!--    	<img src="img/logo-n.png" alt="" title="" ></a>-->
    </div>
    <div class="title-left">
    {% get_funder projectobj as project_funders %}
     {% if project_funders.project %}
    <h4><a href="javascript:void(0);" id="popup"><p class="trunc" style="width:620px;">{{project_funders.project.name}} ⓘ<p></a></h4>
    {% else %}
    <h4><a href = '#'>Project Name </a></h4>
    {% endif %}
    <ul>

    	<li><a href="javascript:void(0)"> Funded by: {% if project_funders.funder.organization %} {{project_funders.funder.organization}}  {% else %} {% endif %}</a></li>
        <li> <a href="javascript:void(0)">NGO Partner: {% if project_funders.implementation_partner.organization %}{{project_funders.implementation_partner.organization}} {% else %} {{project_funders.implementation_partner.name}}  {% endif %}</a></li>
    </ul>
    </div>
    
    {% with "generate-report"|make_string:"view" as keystring %}
        {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
    <a id="myBtn1" class="green-link green-link1" href="/report/listing/?slug={{request.GET.slug}}&key=generate-report" style="margin-top:30px;"> <img src="/static/img/generator-report.png" alt=""> &nbsp;Generate Report</a>
    {% endif %}
    {% endwith %}
    

<!--    <a id="myBtn1" class="green-link green-link1" href="/report/survey/quarter/?slug={{request.GET.slug}}" style="margin-top:30px;"> &nbsp;Temp Generate Report</a>-->
<!--    <a id="myBtn1" class="green-link green-link1" href="/report/final/design/?slug={{request.GET.slug}}" style="margin-top:30px;"> &nbsp;Generate Report with design</a>-->

    <!-- <a id="myBtn1" class="green-link green-link1 iframe" href="/report/generation-form/?slug={{request.GET.slug}}" style="margin-top:30px;"> <img src="/static/img/generator-report.png" alt=""> &nbsp;Generate Report</a> -->
        {% get_special_menu_list as menu %}
         <div class="menu-bottom">
            <ul>
            {% for i in menu %}
                {% with i.slug|make_string:"view" as keystring %}
                    {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
                        {% if i.slug == "project-summary" %}
                        <li><a  {% if key == "summary" %} class="active" {% endif %} href="/project/summary/?slug={{request.GET.slug}}&key=summary">Summary</a></li>
                        {% elif i.slug == "updates" %}
                        <li><a  {% if key == "updates" %} class="active" {% endif %} href="/dashboard/updates/?slug={{request.GET.slug}}&key=updates">Updates</a></li>
                        {% elif i.slug == "tasks-milestones" %}
                        <li><a {% if key == "task-milestone" %} class="active" {% endif %} href="/managing/listing/?slug={{request.GET.slug}}&key=task-milestone">Tasks & Milestones</a></li>
                        {% elif i.slug == "budget" %}
                        <li><a {% if key == "budget" %} class="active" {% endif %} href="/manage/project/budget/view/?slug={{request.GET.slug}}&key=budget">Budget</a></li>
                        {% elif i.slug == "files" %}
                        <li><a {% if key == "files" %} class="active" {% endif %} href="/upload/list/?slug={{request.GET.slug}}&model=Project&key=files">Files</a></li>
                        {% elif i.slug == "tranches" %}
                        <li><a {% if key == "tranches" %} class="active" {% endif %} href="/project/tranche/list/?slug={{request.GET.slug}}&key=tranches">Tranches</a></li>
                        {% elif i.slug == "project-tasks" %}
                        <li><a {% if key == "projecttasks" %} class="active" {% endif %} href = "/managing/my-tasks/details/?slug={{request.GET.slug}}&key=projecttasks&status=1">Project Tasks </a></li>
                    {% endif %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
            </ul>
        </div>
<!--     <div class="menu-bottom">-->
<!--        <ul>-->
<!--          <li><a  {% if key == "summary" %} class="active" {% endif %} href="/project/summary/?slug={{request.GET.slug}}&key=summary">Summary</a></li>-->
<!--          <li><a {% if key == "task-milestone" %} class="active" {% endif %} href="/managing/listing/?slug={{request.GET.slug}}&key=task-milestone">Tasks & Milestones</a></li>-->
<!--          <li><a {% if key == "budget" %} class="active" {% endif %} href="/manage/project/budget/view/?slug={{request.GET.slug}}&key=budget">Budget</a></li>-->
<!--          <li><a {% if key == "files" %} class="active" {% endif %} href="/upload/list/?slug={{request.GET.slug}}&model=Project&key=files">Files</a></li>-->
<!--          <li><a {% if key == "tranches" %} class="active" {% endif %} href="/project/tranche/list/?slug={{request.GET.slug}}&key=tranches">Tranches</a></li>-->
<!--<!--            <li><a {% if key == "mytasks" %} class="active" {% endif %} href = "/managing/my-tasks/details/?slug={{request.GET.slug}}&key=mytasks&status=0">My Tasks </a></li>-->
<!--            <li><a {% if key == "projecttasks" %} class="active" {% endif %} href = "/managing/my-tasks/details/?slug={{request.GET.slug}}&key=projecttasks&status=1">Project Tasks </a></li>-->
<!--        </ul>-->
<!--     </div>-->

<!--    <div class="menu-bottom">-->
<!--        <ul>-->
<!--          <li><a  {% if key == "summary" %} class="active" {% endif %} href="/project/summary/?slug={{request.GET.slug}}&key=summary">Summary</a></li>-->
<!--          <li><a  {% if key == "updates" %} class="active" {% endif %} href="/dashboard/updates/?slug={{request.GET.slug}}&key=updates">Updates</a></li>-->
<!--          <li><a {% if key == "task-milestone" %} class="active" {% endif %} href="/managing/listing/?slug={{request.GET.slug}}&key=task-milestone">Tasks & Milestones</a></li>-->
<!--          <li><a {% if key == "budget" %} class="active" {% endif %} href="/manage/project/budget/view/?slug={{request.GET.slug}}&key=budget">Budget</a></li>-->
<!--          <li><a {% if key == "files" %} class="active" {% endif %} href="/upload/list/?slug={{request.GET.slug}}&model=Project&key=files">Files</a></li>-->
<!--          <li><a {% if key == "tranches" %} class="active" {% endif %} href="/project/tranche/list/?slug={{request.GET.slug}}&key=tranches">Tranches</a></li>-->
<!--<!--            <li><a {% if key == "mytasks" %} class="active" {% endif %} href = "/managing/my-tasks/details/?slug={{request.GET.slug}}&key=mytasks&status=0">My Tasks </a></li>-->
<!--            <li><a {% if key == "projecttasks" %} class="active" {% endif %} href = "/managing/my-tasks/details/?slug={{request.GET.slug}}&key=projecttasks&status=1">Project Tasks </a></li>-->
<!--        </ul>-->
<!--     </div>-->
    </div>

<div id="pop1" class="simplePopup">
   <div class="pop-content">
      <div class="img"> <img src="/static/img/GoodCSR_color_circle.png" alt="girl"> </div>
      <div class="course-dtl">
        <h1>{{projectobj.name}} <!-- <sup>PGR</sup> --></h1>
        <ul class="pop-list">
          <li> <img src="/static/img/pop-up/users.jpg">
            <p> No. of beneficiaries <span>{{projectobj.no_of_beneficiaries}}</span> </p>
          </li>
          <li> <img src="/static/img/pop-up/dureation.jpg">
            <p> Program duration <span>{{projectobj.duration}} months </span> </p>
          </li>
          <li> <img src="/static/img/pop-up/dureation.jpg">
            <p> Total Budget <span>₹ {{projectobj.total_budget | intcomma}}</span> </p>
            
          </li>
        </ul>

        <div class="rht-content">
         <ul>
         <li class="fst">
            <h2>Target beneficiaries</h2>
            <p>{% if projectobj.target_beneficiaries.all %}
                {% for i in projectobj.target_beneficiaries.all %}{{i}}{% if not forloop.last %}{{", "}}{% endif %}{% endfor %}
                {% else %}
                <span class="col-md-7">N/A</span>
                {% endif %}</p>
         </li>
         <li class="snd">

            <h2>Cause area</h2>
            <p>{% if projectobj.cause_area.all %}
                {% for i in projectobj.cause_area.all %}{{i}}{% if not forloop.last %}{{", "}}{% endif %}{% endfor %}
                {% else %}
                <span class="col-md-7">N/A</span>
                {% endif %}</p>
            </li>
            </ul>

        </div>
      </div>
      
      <div class="cont-det">
         <h2>Location coverage</h2>
         {% get_projct_location projectobj as project_location %}
         {% if project_location %}
            
            {% for j in project_location %}
            <li style="color:#363636;" > {{j.location.name}}, {{j.location.parent.name}}, {{j.get_program_type_display}}</li>
            {% endfor %}
          
          {% else %}
          <li style="color:#363636;" >N/A</li>
          {% endif %}
          <br>
                
         <h2>About the Program</h2>
<p dangerouslySetInnerHTML={{obj.summary}}>{{projectobj.summary | safe}}</p>

   <div class="concepto-carousel">
         <h1>Pictures and files</h1>
            <!-- carousel starts -->
              <div id="con-carousel" class="owl-carousel">
                {% get_attachments projectobj as attachment %}
              {% for i in attachment %}
                {% if i.attachment_type == 2 %}

        {% if i.document_type == 1 %}<!-- excel -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file}}" {% else %} href="#" onClick="alert('File Not Found!')" {% endif %}{% if i.attachment_file %}download{% endif %}><img src="/static/img/excell-color.jpg"  height=70 width=63px>
        <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}

        {% if i.document_type == 2 %}<!-- pdf -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/pdf.jpg" height=70 width=63px>
        <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}
        {% if i.document_type == 3 %}
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/wordpress.jpg" height=70 width=63px>
          <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}
        {% if i.document_type == 4 %}<!-- doc -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/excell-black.jpg" height=70 width=63px >
          <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}


        {% endif %}
        {% endfor %}

             </div>
            <!-- carousel ends -->

            <!-- carousel starts -->


              <div id="img-carousel" class="owl-carousel">
                {% get_attachments projectobj as attachment %}
              {% for  i in attachment %}

              {% if i.attachment_type == 1 %}
                <div class="item">
                  {% if i.attachment_file %}
                    <a href="{{image}}/{{i.attachment_file.url}}" download><img src="{{image}}/{{i.attachment_file.url}}" alt="" height=97 width=156px>
                    <h2>{{i.description}}</h2></a>
                  {% else %}
                  <a href="#"><img src="" onClick="alert('Image Not Found!')" alt="" height=97 width=156px>
                    <h2>{{i.description}}</h2></a>
                  {% endif %}
                </div>
              {% endif %}
                {% endfor %}


             </div>
            <!-- carousel ends -->
      </div>

      </div>
    </div>
</div>
</section>
<!--Green pad Ends-->
<!--Content part starts-->


{% endblock %}
{% block content %}
<style>
.budget_button{background: #00998b; border: 0px; color:#fff; padding:3px 10px; border-radius:3px;}
</style>
<!--Green pad Ends-->
<!--Content part starts-->
<section class="content-part forms_section">
    <div class="row">
    <div class="content-top">
      
        <!--<form>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <select class="select_box">
                <option>Sep-Dec</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
              <label for="one">
                <input type="checkbox" id="one" />Jan-Mar</label>
              <label for="two">
                <input type="checkbox" id="two" />Apr-Jul</label>
              <label for="three">
                <input type="checkbox" id="three" />Aug-Sep</label>
              <label for="three">
                <input type="checkbox" id="three" />Oct-Dec</label>  
            </div>
          </div>
        </form>-->
       
    </div>
    <div class="white-box white-pad">
    <div class="box-body table-responsive">
        <h3><a href="/project/summary/?slug={{slug}}&key=summary">{{project_name}}</a></h3>
        
        {% get_user_permission request as user_obj %}
    {% with "upload-parameters"|make_string:"add" as keystring %}
            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
        <div style="float: right;"><a class="budget_button" href="/project/parameter/add/?slug={{slug}}&key={{key}}">Add Parameter</a></div>
        {% endif %}
        {% endwith %}
        <!-- {% if parameter_count >= 4 %}
        <div style="float: right;"><a class="budget_button" href="#" onclick="count_validate()">Add Parameter</a></div>
        {% else %}
        <div style="float: right;"><a class="budget_button" href="/project/parameter/add/?slug={{slug}}&key={{key}}" onclick="count_validate()">Add Parameter</a></div>
        {% endif %} -->
        
    <table id="example1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Project Parameter </th>
                <th>Parameter Type</th>
        {% with "upload-parameters"|make_string:"edit" as keystring %}
            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
                <th>Action</th>
                {% endif %}
                {% endwith %}
            </tr>
        </thead>
        
        {% for i in parameter %}
        {% if request.user.is_superuser or i.get_parameter_type != "HTML" %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.get_parameter_type_display}}</td>
        {% with "upload-parameters"|make_string:"edit" as keystring %}
            {% if request.user.is_superuser or request|has_permission_for_action:keystring %} 
              <td><a class="budget_button" href="/project/upload/parameter/value/?id={{i.id}}&slug={{slug}}">Add Values</button></a>
                  <a class="budget_button" href="/project/parameter/values/manage/?id={{i.id}}&slug={{slug}}">Manage Values</button></a>
                  <a class="budget_button" href="/project/parameter/edit/?id={{i.id}}&slug={{slug}}"><i class="fa fa-edit"></i> Edit</button></a>
                  <a href="/project/remove/record/?id={{i.id}}&model=ProjectParameter&slug={{slug}}" type="button" title="Delete Project Parameter" class="btn btn-danger delete_function" onclick="return confirm('Are you sure you want to Delete')">X</a>
              </td>
            {% endif %}
            {% endwith %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}

  </tbody>
</table>
        </div>
          <div class="pagination_no">
        <div id="pagination-long"></div>
    </div>
    </div>
    </div></div>
    
    </div>
</section>
<!--Content part Ends-->


<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>


    
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>

<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>

<script>
//Toggle
        
         $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
         $(document).ready(function(e) {    
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
        $('.hide-cont').slideDown(350);
        $('.close-cont').show();
        $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
        $('.hide-cont').slideUp(350);
        $('.close-cont').hide();
        $('.view-cont').show();
    }); 
 });
    
</script>

<script type="text/javascript">
parameter_count = {{parameter_count}}
//console.log(parameter_count);
function count_validate() {
    if (parameter_count >= 4) {
        alert("Please Delete existing Paramter to Add new");
        return false;
    };
}
</script>


<!--  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>-->

{% endblock %}
