{% extends 'base.html' %}
{% load urs_tags %}
{% block section %}

{% endblock %}
{% block content %}
<!--Green pad Ends-->
<!--Content part starts-->
<section class="content-part">
    <div class="row">
    <div class="content-top">
      
        <!--<form>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <select class="select_box">
                <option>Sep-Dec</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
              <label for="one">
                <input type="checkbox" id="one" />Jan-Mar</label>
              <label for="two">
                <input type="checkbox" id="two" />Apr-Jul</label>
              <label for="three">
                <input type="checkbox" id="three" />Aug-Sep</label>
              <label for="three">
                <input type="checkbox" id="three" />Oct-Dec</label>  
            </div>
          </div>
        </form>-->
       
    </div>
    <div class="white-box white-pad">
    <div class="box-body table-responsive">
        <h3><a href="/project/summary/?slug={{slug}}">{{project_name}}</a></h3>
        
        {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2 %}
        <div style="float: right;"><a class="btn btn-primary" href="/project/parameter/add/?slug={{slug}}&key={{key}}">Add Parameter</a></div>
        {% endif %}
        
    <table id="example1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Project Parameter</th>
                <th>Parameter Type</th>
                <th>Action</th>
            </tr>
        </thead>
        
        {% for i in parameter %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.get_parameter_type_display}}</td>
            
            <td><a class="btn btn-primary" href="/project/upload/parameter/value/?id={{i.id}}&key={{key}}">Upload Values</button></a>
                <a class="btn btn-primary" href="#">Manage Values</button></a>
                <!-- /project/parameter/values/manage/?id={{i.id}} -->
            </td>

            
           
            </td>
        </tr>
        {% endfor %}

  </tbody>
</table>
        </div>
          <div class="pagination_no">
        <div id="pagination-long"></div>
    </div>
    </div>
    
    
    
    </div>
</section>
<!--Content part Ends-->
{% endblock %}

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>


    
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>

<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>

<script>
//Toggle
        
         $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
         $(document).ready(function(e) {    
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
        $('.hide-cont').slideDown(350);
        $('.close-cont').show();
        $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
        $('.hide-cont').slideUp(350);
        $('.close-cont').hide();
        $('.view-cont').show();
    }); 
 });
    
</script>

    <script type="text/javascript">
   
    
    var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
    var nice = $("html").niceScroll();  // The document page (body)
    
    $("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll, .table-resp tbody").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV

    
  });
</script>
<!--  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>-->
<script src="/static/js/materialize-pagination.js"></script>
    <script>
    $(function() {
        $(function() {
            $('#pagination-long').materializePagination({
                align: 'center',
                lastPage: 10,
                firstPage: 1,
                useUrlParameter: false,
                onClickCallback: function(requestedPage) {
                    console.log('Requested page from #pagination-long: ' + requestedPage);
                }
            });
        });
    });
    </script>
<script src="js/sorttable.js"></script>

<script>
$(function(){
    $("#dest").addSortWidget();
});
</script>

    
    <script src="/static/js/fm.tagator.jquery.js"></script>
    <script>
        $(function () {
            var $input_tagator1 = $('#input_tagator1');
            var $activate_tagator1 = $('#activate_tagator1');
            $activate_tagator1.click(function () {
                if ($input_tagator1.data('tagator') === undefined) {
                    $input_tagator1.tagator({
                        autocomplete: ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'],
                        useDimmer: true
                    });
                    $activate_tagator1.val('destroy tagator');
                } else {
                    $input_tagator1.tagator('destroy');
                    $activate_tagator1.val('activate tagator');
                }
            });
            $activate_tagator1.trigger('click');
        });
    </script>
</body>
</html>

