{% extends 'base.html' %}
{% load urs_tags %}
{% block section %}

{% endblock %}
{% block content %}
<style>
.budget_button{background: #00998b; border: 0px; color:#fff; padding:3px 10px; border-radius:3px;}
</style>
<!--Green pad Ends-->
<!--Content part starts-->
<section class="content-part forms_section">
    <div class="row">
    <div class="content-top">
      
        <!--<form>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <select class="select_box">
                <option>Sep-Dec</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
              <label for="one">
                <input type="checkbox" id="one" />Jan-Mar</label>
              <label for="two">
                <input type="checkbox" id="two" />Apr-Jul</label>
              <label for="three">
                <input type="checkbox" id="three" />Aug-Sep</label>
              <label for="three">
                <input type="checkbox" id="three" />Oct-Dec</label>  
            </div>
          </div>
        </form>-->
       
    </div>
    <div class="white-box white-pad">
    <div class="box-body table-responsive">
        <h3><a href="/project/summary/?slug={{slug}}&key=summary">{{project_name}}</a></h3>
        
        {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2 %}
        {% if parameter_count >= 4 %}
        <div style="float: right;"><a class="budget_button" href="#" onclick="count_validate()">Add Parameter</a></div>
        {% else %}
        <div style="float: right;"><a class="budget_button" href="/project/parameter/add/?slug={{slug}}&key={{key}}" onclick="count_validate()">Add Parameter</a></div>
        {% endif %}
        {% endif %}
        
    <table id="example1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Project Parameter </th>
                <th>Parameter Type</th>
                <th>Action</th>
            </tr>
        </thead>
        
        {% for i in parameter %}
        <tr>
            <td>{{i.name}}<a href="/project/parameter/edit/?id={{i.id}}"><i class="fa fa-edit" style="float:right"></i></a></td>
            <td>{{i.get_parameter_type_display}}</td>
            
            <td><a class="budget_button" href="/project/upload/parameter/value/?id={{i.id}}">Upload Values</button></a>
                <a class="budget_button" href="/project/parameter/values/manage/?id={{i.id}}">Manage Values</button></a>
                <a href="/project/remove/record/?id={{i.id}}&model=ProjectParameter" type="button" title="Delete Project Parameter" class="btn btn-danger delete_function" onclick="return confirm('Are you sure you want to Delete')">X</a>
                <!-- /project/parameter/values/manage/?id={{i.id}} -->
            </td>

            
           
            </td>
        </tr>
        {% endfor %}

  </tbody>
</table>
        </div>
          <div class="pagination_no">
        <div id="pagination-long"></div>
    </div>
    </div>
    </div></div>
    
    </div>
</section>
<!--Content part Ends-->


<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>


    
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>

<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>

<script type="text/javascript">
parameter_count = {{parameter_count}}
console.log(parameter_count);
function count_validate() {
    if (parameter_count >= 4) {
        alert("Please Delete existing Paramter to Add new");
        return false;
    };
}
</script>


<!--  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>-->

{% endblock %}
