{% extends 'base.html' %}
{% load common_tags %}
{% load urs_tags %}
{% block section %}
{% load humanize %}

<div class="clear"></div>
<!--Green pad starts-->
<section class="green-pad green-height">
	<div class="row">
	<div class="image-pad logo-shadow">
    	<a href="javascript:void(0);"><img src="/static/img/GoodCSR_color_circle.png" alt="" title="" height='60px' width = '60px'></a><a href="javascript:void(0);">
<!--    	<img src="img/logo-n.png" alt="" title="" ></a>-->
    </div>
    <div class="title-left">
    {% if obj %}
    <h4><a href="javascript:void(0);" id="popup"><p class="trunc" style="width:620px;">{{obj.name}} <p></a></h4>
    {% else %}
    <h4><a href = '#'>Project Name </a></h4>
    {% endif %}
    <ul>
    	<li><a href="javascript:void(0)"> by: {% if project_funders.funder.name %} {{project_funders.funder.name}}  {% else %} {% endif %}</a></li>
        <li> <a href="javascript:void(0)">NGO Partner:{% if project_funders.implementation_partner.name %}{{project_funders.implementation_partner.name}} {% else %} {% endif %}</a></li>
    </ul>    
    </div>
    <span style="position: absolute;
    right: 30px;
    top: 0px;">Comming Soon...</span>
    <a id="myBtn1" class="green-link green-link1" href="javascript:void(0);" style="margin-top:30px;"> <img src="/static/img/generator-report.png" alt=""> &nbsp;Generate Report</a>
     <div class="menu-bottom">
        <ul>
          <li><a class="active" href="/project/summary/?slug={{slug}}">Summary</a></li>
          <li><a href="/managing/listing/?slug={{slug}}">Task & Milestone</a></li>
          <li><a href="/manage/project/budget/view/?slug={{slug}}">Budget</a></li>
          <li><a href="/upload/list/?slug={{slug}}&model=Project">Files</a></li>
          <li><a href="/project/tranche/list/?slug={{slug}}">Tranches</a></li>
          <li><a href = "/managing/my-tasks/details/?slug={{slug}}">My Tasks </ad></li>
        </ul>
     </div>
    </div>
</section>
<!--Green pad Ends-->
<!--Content part starts-->
{% endblock %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    //var loop_count = $('#loop_count').val()
    var wrapper         = $(".timeline-slide"); //Fields wrapper
    var lengths = {{timeline_json_length}};
    var ff= {{timeline_json | safe}}
    var loc_url = '{{image}}'
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun","July", "Aug", "Sep", "Oct", "Nov", "Dec"];
    for (var i = 0; i < lengths ; i++) 
    {
      var obj = ff[i]
      var name = obj.name;
      console.log(obj);
      if (obj.url) {
        var url = loc_url + obj.url;
        }else{
          var url = loc_url + '/' +"/static/img/milestone-icon.png";
        };
        var date = obj.date
        var f = new Date(date);
        var month = months[f.getMonth()];
        var nn = f.getMonth();
        var ids = obj.id
        var date1 = f.getDate()
        //alert(date1);
        function delete_upload()
        {
            //return confirm("Are you sure you want to delete this item?");
            alert("Are you sure?");
        }

      if (i % 2) {
        if (obj.type == 'image') {
        $(wrapper).append('<li class="event-up">&nbsp;<div class="event-img"><img height=112px width=162px src='+url+' alt=""><p>'+name+'</p></div><div class="event-circle"></div><div class="event-date">'+date1+'<span>'+month+'</span></div></li>');
        }else{
          $(wrapper).append(' <li class="event-up red-down current-event">&nbsp;<div class="event-img"><h3>Milestone Achieved</h3><div class= "image_tag"><img src="/static/img/milestone-icon.png" alt=""></div><p>'+ name +'</p></div><div class="event-circle"></div><div class="event-date">'+date1+'<span>'+ month +'</span></div></a></li>');
        };
      } else {
        if (obj.type == 'image') {
        $(wrapper).append('<li class="event-down">&nbsp;<div class="event-img"><img height=112px width=162px src='+url+' alt=""><p>'+name+'</p></div><div class="event-circle"></div><div class="event-date">'+date1+'<span>'+month+'</span></div></li>');
        }else{
          $(wrapper).append(' <li class="event-down red-down current-event">&nbsp;<div class="event-img"><h3>Milestone Achieved</h3><img src="/static/img/milestone-icon.png" alt=""><p>'+ name +'</p></div><div class="event-circle"></div><div class="event-date">'+date1+'<span>'+ month +'</span></div></a></li>');
        };
      };
    // $(wrapper).append('<div><input class="form-control" placeholder="Enter Activity Name" type="text" name="activity['+x+']"/><input class="form-control" type="number" placeholder="Duration" name="duration['+x+']" id="id_number"><a href="#" class="remove_field">Remove</a></div>'); //add input box
}
})
</script>
<script type="text/javascript">
var ff= {{number_json | safe}}
var lengths = ff.length;
var loc_url = '{{image}}'
$(document).ready(function() {
    //var loop_count = $('#loop_count').val()
    var wrapper         = $(".numeric_parameter"); //Fields wrapper
    for (var i = 0; i < lengths ; i++) 
    {
      var obj = ff[i]
      var title = obj.title;
      console.log(obj);
      var value = obj.value
      if (obj.type == 'CUR') {
        var url = loc_url + '/' + "static/img/budget-icon.png";
        }else{
          var url = loc_url + '/' + "static/img/key-icon2.png";
        };
        $(wrapper).append('<div><li><h3>'+title+'</h3><img class="key-image" src='+url+' alt=""><h4 class="title-pad">'+value+'</h4></li></div>');
}
})

</script>



<section class="content-part">
	<div class="row">
    
    <div class="white-box timeline-white">
    	<h2>Timeline Progress</h2>
    	    {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2 %}
    	<a class="link-pad" href="/upload/images/?slug={{obj.slug}}">Upload Images</a>
    	{% endif %}
        <div class="clear"></div>
<!-- timeline slider -->
        <div id="scrollbar1">
                <div class="viewport">
                     <div class="overview">
                       <div id="time-line-pad">
            <div class="time-line">
              <div class="time-line-bdr"></div>
                <ul>
                    <div class="timeline-slide"></div>
                </ul>
            </div>
           </div>
                    </div>
                </div>
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
       </div>
    </div>
    <div class="clear"></div>
	<div class="content-top margin-top">
      <div class="select-area">
      	<label>See Data as </label>

        <div class="dropdown user select-down select-width">
            <a href="javascript:void(0);" class="dropdown-toggle" >
              <p>By Year</p>
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu1" style="display:none;">

              <li class="user-header">
                <input class="check-box" type="checkbox" id="one" />
                <label for="one"><span><span></span></span> 2015</label>
              </li>
              <li>
                <input class="check-box" type="checkbox" id="two" />
                <label for="two"><span><span></span></span> 2016</label>
              </li>
              <li>
                <input class="check-box" type="checkbox" id="three" />
                <label for="three"><span><span></span></span> 2017</label>
              </li>
              <li>
                <input class="check-box" type="checkbox" id="four" />
                <label for="four"><span><span></span></span> 2017</label>
              </li>

            </ul>
          </div>
          <div class="small-select">
        <select name="lang" class="select_box ">
            <option>2016</option>
            <option>2017</option>
        </select>
        </div>

        <!--<select name="lang" class="select_box ">
            <option>Select Quarters</option>
            <option>Quarter1</option>
            <option>Quarter2</option>
        </select>-->
         </div>
    </div>
    <div class="clear"></div>
    <div class="white-box white-pad">
    	<div class="key-program">
        <h2>Key Program Info</h2>
        {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2  and user_obj.owner == True %}
        <a class="link-pad" href="/project/parameter/manage/?slug={{slug}}&key=2">Upload Parameters</a>
        {% endif %}
        </div>
        <ul>
            <div class='numeric_parameter'></div>
        	
            
            {% if master_pin %}
            {% for lol in  master_pin %}
            <li>
            	<!-- <h3>{{chart_name_pip}}</h3> -->
                <div class="right-budget beni-dist">
                 <div id="{{lol}}" style="width: 100%;float: left;"></div>
            </div>
            </li>
            {% endfor %}
            {% endif %}
            <!-- <li>
            	<h3>Total Budget</h3>
                 <img class="key-image" src="/static/img/budget-icon.png" alt="">
                <h4 class="title-pad">2.3cr</h4>
            </li> -->
            {% if master_pip %}
            {% for rofl in master_pip %}
             <li>
                <div class="right-budget beni-dist beni-dist1">
                <div id="{{rofl}}" style="width: 100%;float: left;"></div>
            </div>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="white-box">
    	<div class="left-white-pad">
        	<h3>Total Task Completed</h3>
            <div class="img-left">
            <img src="/static/img/board-img.png" alt="">
            </div>
            <div class="budget-value-right">
            <div class="budget-value">
                {% if tasks %}
                  <div class="budget-left">{{tasks.completed_tasks}} tasks</div>
                  <div class="budget-right">{{tasks.percent}}%</div>
              </div>
              <h5>of {{tasks.total_tasks}} tasks <br>
under {{tasks.total_milestones}} Milestones</h5>
                {% else %}
                    <div class="budget-left">0 tasks</div>
                  <div class="budget-right">0%</div>
              </div>
              <h5>of 0 tasks <br>
under 0 Milestones</h5>
                {% endif %}
		</div>
        </div>
        <div class="right-white-pad">
        	<h3>Total Budget</h3>
            <div class="budget-pad">
            {% if budget %}
              <p><span class="green-d-circle"></span> Utilized</p>
              <div class="budget-value">
                  <div class="budget-left">{{budget.utilized}} </div>
                  <div class="budget-right">{{budget.utilized_percent}}%</div>
              </div>
              <p><span class="light-green-circle"></span> Disbursed</p>
              <div class="budget-value">
                  <div class="budget-left">{{budget.disbursed}}</div>
                  <div class="budget-right">{{budget.disbursed_percent}}%</div>
              </div>
              <p><span class="yellow-circle"></span> Total</p>
              <div class="budget-value budget-border">
                  <div class="budget-left">{{budget.total}}</div>
                  <div class="budget-right">{{budget.total_percent}}%</div>
              </div>
            {% endif %}
          </div>
          <div class="img-right">
            <div id = "total_budget" style="width:100%;float:left;"></div>
          </div>
        </div>
    </div>
    
    <div class=" white-box ">
<!--    	<img src="/static/img/wip-img.jpg" alt="">-->
        <div id="gwContainer" className="col-md-12 gantt" style="padding-top: '25px', position: 'relative', height: 'auto', width:'100%'"></div>
    </div>
    <div class="white-box-left">
    <div class="table-responsive">
    <table class="table-resp" cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th style="width:28%;">Users</th>
        <th style="width:19%;">Organization</th>
        <th style="width:26%;">Designation</th>
        <th style="width:19%;">PMU Role</th>
        <th style="width:10%;">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      {% if projectuserlist %}
      {% for i in projectuserlist %}
      <tr>
            <td style="width:28%;"><img src="/static/img/user-img.png" class="user-image" alt="User Image">{{i.user.name}}</a></td>
            <td style="width:19%;">{{i.user.organization}}</td>
            <td style="width:26%;">{% if i.user.designation %}{{i.user.designation}} {% else %} {% endif %}</td>
            <td style="width:19%;">{{i.role.name}}
                {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2 %}
            <td style="width:10%;"><a class="btn btn-primary" href="/manage/project/role/edit/?objid={{i.id}}&slug={{obj.slug}}&key=summary">Edit</a></td>{% endif %}
      </tr>
      {% endfor %}
      {% else %}
        <h5>Users not tagged</h5>
      {% endif %}

      </tbody>
  </table>
	</table>
    </div>
        {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2  and user_obj.owner == True %}
    <a href="/manage/project/role/add/?slug={{obj.slug}}&key=summary" class="link-pad">Add User</a>
    {% endif %}
    </div>
    <div class="white-box-right">
    	<h2>Recent Updates</h2>
         <div id="boxscroll" class="updates-scroll ">
        <p><span>Today</span> - {% now "jS F Y" %}</p>
            
         {% if updates_list %}
             {% for obj in updates_list %}
             <ul>
                    {% get_details obj as update %}
                        {% for i in update %}
                           {{i | safe}}
                        {% endfor %}
            </ul>
                {% endfor %}
         {% else %}
            <li><span>No updates </span></li>
         {% endif %}
        </ul>
        </div>
    </div>
    </div>
</section>
<!--Content part Ends-->

</div>

<div id="pop1" class="simplePopup">
   <div class="pop-content">
      <div class="img"> <img src="/static/img/GoodCSR_color_circle.png" alt="girl"> </div>
      <div class="course-dtl">
        <h1>{{obj.name}} <!-- <sup>PGR</sup> --></h1>
        <ul class="pop-list">
          <li> <img src="/static/img/pop-up/users.jpg">
            <p> No. of beneficiaries <span>{{obj.no_of_beneficiaries}}</span> </p>
          </li>
          <li> <img src="/static/img/pop-up/dureation.jpg">
            <p> Program duration <span>{{obj.duration}} months </span> </p>
          </li>
          <li> <img src="/static/img/pop-up/dureation.jpg">
            <p> Total Budget <span>₹ {{obj.total_budget | intcomma}}</span> </p>
          </li>
        </ul>
       
        <div class="rht-content">
         <ul>
         <li class="fst">
            <h2>Target beneficiaries</h2>
            <p>{% if obj.target_beneficiaries.all %}
                {% for i in obj.target_beneficiaries.all %}{{i}}{% if not forloop.last %}{{", "}}{% endif %}{% endfor %}
                {% else %}
                <span class="col-md-7">N/A</span>
                {% endif %}</p>
         </li>
         <li class="snd">
       
            <h2>Cause area</h2>
            <p>{% if obj.cause_area.all %}
                {% for i in obj.cause_area.all %}{{i}}{% if not forloop.last %}{{", "}}{% endif %}{% endfor %}
                {% else %}
                <span class="col-md-7">N/A</span>
                {% endif %}</p>
            </li>
            </ul>
       
        </div>
      </div>
      
      <div class="cont-det">
         <h2>Location coverage</h2>
         {% if lobj %}
         <p>{% for i in lobj %}

                                <div>
                                <b>Category: </b>{{i.get_program_type_display}}<br>
                                </div>
                                <div>
                                <b>State: </b>{{i.location.parent.name}}<br>
                                </div>
                                <div>
                                <b>City: </b>{{i.location.name}}<br>
                                </div><br>
                {% endfor %}</p>
                {% else %}
                <p>N/A</p>
                {% endif %}
         <h2>About the Program</h2>
<p dangerouslySetInnerHTML={{obj.summary}}>{{obj.summary | safe}}</p>
<h2>Primary Activities </h2>
<ul class="act-list">
{% for i in activity %}
  <li>{{i.name}}</li>
{% endfor %}
</ul>
  
   <div class="concepto-carousel">
         <h1>Pictures and files</h1>
            <!-- carousel starts -->
              <div id="con-carousel" class="owl-carousel">      
              {% for i in attachment %}
                {% if i.attachment_type == 2 %}
        
        {% if i.document_type == 1 %}<!-- excel -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file}}" {% else %} href="#" onClick="alert('File Not Found!')" {% endif %}{% if i.attachment_file %}download{% endif %}><img src="/static/img/excell-color.jpg"  height=70 width=63px>
        <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}

        {% if i.document_type == 2 %}<!-- pdf -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/pdf.jpg" height=70 width=63px> 
        <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}
        {% if i.document_type == 3 %}
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/wordpress.jpg" height=70 width=63px>
          <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}
        {% if i.document_type == 4 %}<!-- doc -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/excell-black.jpg" height=70 width=63px >
          <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}


        {% endif %}
        {% endfor %}
                
             </div>
            <!-- carousel ends -->
            
            <!-- carousel starts -->


              <div id="img-carousel" class="owl-carousel">
                {{attachment}}
              {% for  i in attachment %}

              {% if i.attachment_type == 1 %}
                <div class="item"> 
                  {% if i.attachment_file %}
                    <a href="{{image}}/{{i.attachment_file.url}}" download><img src="{{image}}/{{i.attachment_file.url}}" alt="" height=97 width=156px>
                    <h2>{{i.description}}</h2></a>
                  {% else %}
                  <a href="#"><img src="" onClick="alert('Image Not Found!')" alt="" height=97 width=156px>
                    <h2>{{i.description}}</h2></a>
                  {% endif %}
                </div>
              {% endif %}
                {% endfor %}
                  
                                   
             </div>
            <!-- carousel ends -->
      </div>

      </div>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- jQuery (necessary for JavaScript plugins) -->
<!--<script type="text/javascript" src="/static/js/jquery.selectbox-0.2.js"></script>-->
<!--<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>-->
<!--<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>-->
<!--<script type="text/javascript" src="/static/js/common.js" /></script>-->
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/owl.carousel.js"></script>
<script type="text/javascript" src="/static/js/jquery.tinyscrollbar.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
 <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/78d1e57168.js"></script>
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cookie|Satisfy|Kelly+Slab|Overlock" rel="stylesheet">
  <!-- jsGanttImproved App -->
  <link href="/static/css/jsgantt.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/jsgantt.js" type="text/javascript"></script>


<script type="text/javascript">
/*
function confirm_alert(node) {
    var d1 = {{parameter_count}};
    if (d1 > 3) {
      alert("You cant add more than 4 Parameters")
    };
    
}
*/
</script>



<script>
    var jsonData = {{taskdict|safe}}
    var g = new JSGantt.GanttChart(document.getElementById('gwContainer'), 'week');
    // console.log(jsonData.tasks);
    // g.AddTaskItem(new JSGantt.TaskItem(1, 'Chart Object', '2017-07-28T18:30:00Z', '2017-07-31T18:30:00Z', 'gmilestone', '', 1, '', 100, 0, 4316, 1, '431725FF', '', '', g));
    $.each(jsonData.supercategories, function (i) {
      var superId = this.id;
      var superName = this.name;
      var superDesc = this.description;
      g.AddTaskItem(new JSGantt.TaskItem(superId, superName, '', '', 'ggroupblack', '', 0, null, 0, 1, 0, 1, '',
        '', superDesc, g));
      // console.log("Super");
      // console.log(superId, superName, '', '', 'ggroupblack', '', 0, null, 0, 1, 0, 1, '',
      //   '', superDesc);
    });
    $.each(jsonData.activities, function (i) {
      var activityId = this.id.toString();
      var superId = this.super_category;
      activityId = this.super_category.toString() + activityId;
      // console.log("ActID", activityId);
      var activityName = this.name;
      var activitySuper = this.super_category;
      var activityDesc = this.description;
      g.AddTaskItem(new JSGantt.TaskItem(activityId, activityName, '', '', 'ggroupblack', '', 0, '', 0, 2, superId,
        1, '', '',
        activityDesc, g));
      // console.log("Act");
      // console.log(activityId, activityName, '', '', 'ggroupblack', '', 0, '', 0, 2, superId,1, '', '',activityDesc);
    });
    $.each(jsonData.tasks, function (i) {
      var taskId = this.id;
      var activityId = this.activity;
      var activity_type = 'Core';
      // activity = jsonData.activities.filter(function( i ) {
      //   if(i.id == activityId){return i.super_category;}
      // });
      var superId;
      $.each(jsonData.activities, function () {
        if (this.id == activityId) {
          activity_type = this.activity_type;
          superId = this.super_category;
        }
      });
      taskId = superId.toString() + activityId.toString() + taskId.toString();
      activityId = superId.toString() + activityId.toString();
      activityId = parseInt(activityId);
      // console.log("TaskID", taskId);
      var taskName = this.name;
      var eStartDate = this.expected_start_date;
      var eEndDate = this.expected_end_date;
      var taskCompletion = 0;
      var taskStatus = 'gtaskred';
      if (activity_type == "Core") {
        switch (this.status) {
          case "Ongoing":
            taskStatus = 'gtaskblue';
            break;
          case "Open":
            taskStatus = 'gtaskyellow';
            break;
          case "Close":
            taskStatus = 'gtaskgreen';
            break;
          default:
            taskStatus = 'gtaskblue';
            break;
        };
      }
      g.AddTaskItem(new JSGantt.TaskItem(taskId, taskName, eStartDate, eEndDate, taskStatus, '', 0,
        '', 0, 0, activityId, 1, '', '', '', g));
      // console.log("Task");
      // console.log(taskId, this.id, superId, taskName, eStartDate, eEndDate, taskStatus, '', 0,
      //   '', 0, 0, activityId, 1, '', '', '');
    });
    // g.AddTaskItem(new JSGantt.TaskItem(11, 'Paper Work', '', '', 'ggroupblack', '', 0, 'Shlomy', 40, 2, 1, 1, '', '',
    //   '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(111, 'Constructor Proc', '2017-07-21', '2017-09-09', 'gtaskblue', '', 0,
    //   'Brian T.', 60, 0, 11, 1, '', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(112, 'Task Variables', '2017-09-06', '2017-09-11', 'gtaskred', '', 0, 'Brian',
    //   0, 0, 11, 1, 121, '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(113, 'Task by Minute/Hour', '2017-09-09', '2017-09-14 12:00', 'gtaskyellow', '',
    //   0, 'Ilan', 60, 0, 11, 1, '', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(114, '4th task', '2017-09-12', '2017-09-20 12:00', 'gtaskblue', '',
    //   0, 'Ilan', 60, 0, 11, 1, '', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(115, '5th task', '2017-09-14', '2017-09-27 12:00', 'gtaskblue', '',
    //   0, 'Ilan', 20, 0, 11, 1, '', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(13, 'Education', '2017-09-09', '2017-09-29', 'gtaskred', '', 0, 'Anyone', 60, 0,
    //   1, 1, '123SS', 'This is a caption', null, g));
    // g.AddTaskItem(new JSGantt.TaskItem(2, 'Create HTML Shell', '2017-09-24', '2017-09-28', 'gtaskyellow', '', 0,
    //   'Brian', 20, 0, 0, 1, 122, '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(3, 'Code Javascript', '', '', 'ggroupblack', '', 0, 'Brian', 0, 1, 0, 1, '', '',
    //   '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(31, 'Define Variables', '2017-09-25', '2017-09-29', 'gtaskgreen', '', 0, 'Brian',
    //   30, 0, 2, 1, '', 'Caption 1', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(32, 'Calculate Chart Size', '2017-09-15', '2017-09-24', 'gtaskgreen', '', 0,
    //   'Shlomy', 40, 0, 3, 1, '', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(33, 'Draw Task Items', '', '', 'ggroupblack', '', 0, 'Someone', 40, 2, 3, 1, '',
    //   '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(332, 'Task Label Table', '2017-09-06', '2017-09-09', 'gtaskblue', '', 0, 'Brian',
    //   60, 0, 33, 1, '331', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(333, 'Task Scrolling Grid', '2017-09-11', '2017-09-20', 'gtaskblue', '', 0,
    //   'Brian', 0, 0, 33, 1, '332', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(34, 'Draw Task Bars', '', '', 'ggroupblack', '', 0, 'Anybody', 60, 2, 3, 0, '',
    //   '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(341, 'Loop each Task', '2017-09-26', '2017-09-30', 'gtaskred', '', 0, 'Brian',
    //   60, 0, 34, 1, '', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(342, 'Calculate Start/Stop', '2017-04-12', '2017-05-18', 'gtaskred', '', 0, 'Brian', 60, 0, 34, 1, '', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(343, 'Draw Task Div', '2017-05-13', '2017-05-17', 'gtaskred', '', 0, 'Brian', 60, 0, 34, 1, '', '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(344, 'Draw Completion Div', '2017-05-17', '2017-07-04', 'gtaskred', '', 0, 'Brian', 60, 0, 34, 1, "342,343", '', '', g));
    // g.AddTaskItem(new JSGantt.TaskItem(35, 'Make Updates', '2017-09-17', '2017-09-04', 'gtaskblue', '', 0, 'Brian', 30, 0, 3, 1, '333', '', '', g));
    g.setShowStartDate(0);
    g.setShowEndDate(0);
    g.setShowRes(0);
    g.setShowDeps(0);
    g.setShowDur(0);
    g.setUseToolTip(0);
    g.setWeekColWidth(50);
    g.setWeekMajorDateDisplayFormat('mon yyyy');
    g.setWeekMinorDateDisplayFormat('W w');
    // g.setScrollTo('today');
    g.Draw();

    function collision($div1, $div2) {
      var x1 = $div1.offset().left;
      var y1 = $div1.offset().top;
      var h1 = $div1.outerHeight(true);
      var w1 = $div1.outerWidth(true);
      var b1 = y1 + h1;
      var r1 = x1 + w1;
      var x2 = $div2.offset().left;
      var y2 = $div2.offset().top;
      var h2 = $div2.outerHeight(true);
      var w2 = $div2.outerWidth(true);
      var b2 = y2 + h2;
      var r2 = x2 + w2;

      if (b1 < y2 || y1 > b2 || r1 < x2 || x1 > r2) return false;
      return true;
    }
    var count = 0,
      padding = 25,
      arrayTask = [],
      collide = false;
    $('.gselector').hide();
    $(document).ready(function () {
      var previous = null;
      var prePrevious = null;
      $(".gtaskbarcontainer").each(function (index) {
        currParent = $(this).parent().parent().parent();
        if (previous && $(this).parent().parent().parent().attr('id') == $(previous).parent().parent().parent()
          .attr('id')) {
          if (collision($(this), $(previous)) || collision($(this), $(prePrevious))) {
            listParent = currParent.attr('id').replace('row', '');
            console.log("PARENT", currParent.attr('id'));
            $('#' + currParent.attr('id') + " .gtaskbarcontainer").each(function () {
              if ($(this).css('top') == '-5px') {
                $(this).css('top', '0px');
              }
            });
            collide = true;
            $(this).css('top', parseInt($(previous).css('top')) + padding + 'px');
            if (count == 0) {
              $(previous).css('top', '0px');
              count++;
              padding = 25;
            }
            listParentDiv = $('#' + listParent);
            // console.log('Heights', $(this).css('top'), parseInt(currParent.css('height')));
            if (parseInt(currParent.css('height')) <= parseInt($(this).css('top'))) {
              listParentDiv.css('height', parseInt(listParentDiv.css('height')) + 25 + 'px');
              currParent.css({
                'height': parseInt(currParent.css('height')) + 25 + 'px',
                'vertical-align': 'top'
              });
            }
          }
        } else {
          count = 0;
          arrayTask = [];
          collide = false;
          $('#' + currParent.attr('id') + ' .gtaskbarcontainer').css({
            top: '-5px'
          });
        }
        prePrevious = previous;
        previous = this;
      });
    });
  </script>

<script>
//Toggle

	$('.user-menu').on('click',function(){
		$('.dropdown-menu').slideDown(350);

	});
	$('.select-down').on('click',function(){
        $('.dropdown-menu1').slideDown(350);

    });

	$(document).ready(function(e) {
		/*Content Show/Hide */
		$('.hide-cont').hide();
		$('.close-cont').hide();
		$('.view-cont').click(function(){
			$('.hide-cont').slideDown(350);
			$('.close-cont').show();
			$('.view-cont').hide();
		});
		$('.close-cont').click(function(){
			$('.hide-cont').slideUp(350);
			$('.close-cont').hide();
			$('.view-cont').show();
		});
		$(document).trigger( "click" );
	});

	$(document).click(function(){

		$('.user-menu, .select-down').click(function(event){
			event.stopPropagation();
		});

		$('.dropdown-menu, .dropdown-menu1').slideUp(350);

	});
</script>


    <script>
  $(document).ready(function() {
    $("#boxscroll1").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV
  });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });
		});
</script>
<script>
  $(document).ready(function() {


    $("#boxscroll, .table-resp tbody").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV

	var li_Count = $('.time-line li').length;
	$(".time-line").css('width', 200*li_Count);
  });

	$(document).ready(function()
	{
		  $("#scrollbar1").tinyscrollbar({ axis: "x"});

	});
</script>
<script>
$(document).ready(function(){
	var owl = $('#img-carousel');
	owl.owlCarousel({
		goToFirstSpeed :1500,
		items:4,
		margin:25,
		loop:false,
		autoplay:true,
		singleItem: true,
		autoplayTimeout:4000,
		autoplayHoverPause:true,
		responsive: {
			0:{ items:1 },
			479:{ items:2 },
			639:{ items:2 },
			768:{ items:4 },
			1024:{ items:4 },
			1280:{ items:4 }
		},
		nav : true,
		dots : false
	  });
	var owl = $('#con-carousel');
	owl.owlCarousel({
		goToFirstSpeed :1000,
		items:6,
		margin:25,
		loop:false,
		autoplay:true,
		autoplayTimeout:4000,
		autoplayHoverPause:true,
		responsive: {
			0:{ items:3 },
			639:{ items:4 },
			768:{ items:5 },
			1024:{ items:5 },
			1280:{ items:6 }
		},
		nav : true,
		dots : false
	  });


	});
</script>
<script src="/static/js/jquery.simplePopup.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#popup').click(function(){
	$('#pop1').simplePopup();
    });
});

</script>

<!---datepicker script-->
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
	$(function() {
	$( ".datepicker" ).datepicker({
	showOn: "button",
	buttonImage: "/static/img/calender-icon.png",
	buttonImageOnly: true
	});
	});
</script>

<script src="/static/code/highcharts.js"></script>
<script src="/static/code/highcharts-more.js"></script>

<script src="/static/code/modules/solid-gauge.js"></script>
<script type="text/javascript">
    var new_data_pin = 0;
    var new_data_pip = 0;
</script>
<!--/* Pie Chat Number */-->
<script type="text/javascript">
{% for pin in master_sh.PIN %}
//alert(pin);
var data1 = {{pin | safe}};
var values = "Batch_size_" + (new_data_pin).toString()
var pin_title = {{pin_title_name | safe}}
var pin_title = pin_title[new_data_pin]
new_data_pin++;
Highcharts.chart(values, {
   chart:{type:'pie', backgroundColor: null,height:288},
            credits:{enabled: false},
            colors:[
                '#5485BC', '#AA8C30', '#5C9384', '#981A37', '#FCB319',     '#86A033', '#614931', '#00526F', '#594266', '#cb6828', '#aaaaab', '#a89375'
                ],
            title:{text: pin_title},
            tooltip:{
                enabled: true,
                animation: true
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    animation: true,
                    cursor: 'pointer',
                    showInLegend: true,
                    dataLabels: {
                        enabled: false,
                        formatter: function() {
                            return this.percentage.toFixed(2) + '%';
                        }
                    }
                }
            },
            legend: {
                enabled: true,
                layout: 'horizontal',
                align: 'center',
                width: 250,
                verticalAlign: 'bottom',
                borderWidth: 0,
                useHTML: true,

                margin: 12


            },
            series: [{
                type: 'pie',
                dataLabels:{

                },
                data: data1

            }]
        });
{% endfor %}
</script>

<!--/* Pie Chart Percentage */-->
<script type="text/javascript">
{% for pip in master_sh.PIP %}
var data2 = {{pip | safe}};
var values = "Beneficary_distribution_" + (new_data_pip).toString()
var pip_title = {{pip_title_name | safe}}
var pip_title = pip_title[new_data_pip]
new_data_pip++;
Highcharts.chart(values, {
   chart:{type:'pie', backgroundColor: null,height:288},
            credits:{enabled: false},
            colors:[
                '#5485BC', '#AA8C30', '#5C9384', '#981A37', '#FCB319',     '#86A033', '#614931', '#00526F', '#594266', '#cb6828', '#aaaaab', '#a89375'
                ],
            title:{text: pip_title},
            tooltip:{
                enabled: true,
                animation: true
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    animation: true,
                    cursor: 'pointer',
                    showInLegend: true,
                    dataLabels: {
                        enabled: false,
                        formatter: function() {
                            return this.percentage.toFixed(2) + '%';
                        }
                    }
                }
            },
            legend: {
                enabled: true,
                layout: 'horizontal',
                align: 'center',
                width: 250,
                verticalAlign: 'bottom',
                borderWidth: 0,
                useHTML: true,

                margin: 12


            },
            series: [{
                type: 'pie',
                dataLabels:{

                },
                data: data2

            }]
        });
{% endfor %}
</script>

<script>
var data = {{budget|safe}}
console.log(data);
//var utilized = data.utilized/(data.utilized + data.total)*100
//var disbursed = data.disbursed/(data.disbursed + data.total)*100
var utilized = data.utilized_percent
if (data.disbursed_percent == 0){
    var disbursed = 0
}
else {
    if (data.disbursed_percent > data.utilized_percent ){
        var disbursed = data.disbursed_percent-data.utilized_percent
    }
    else{
        var disbursed = data.utilized_percent - data.disbursed_percent
    }
}
var total = 100 - (utilized + disbursed)

console.log(total , utilized , disbursed);
var gaugeOptions = {

    chart: {
        height:250,
         plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false

    },

    title: null,

      pane: {
            center: ['50%', '50%'],
            size: '100%',
            startAngle: -90,
            endAngle: 90,
            background: {
                borderWidth: 1,
                backgroundColor: '#D0C173',
                borderColor: '#D0C173',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },


    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        //     stops: [
        //     [0.1, '#D0C173'], // green
        //     [0.5, '#34837C'] // yellow


        // ],
        lineWidth: 0,
        minorTickInterval: null,
        tickAmount: 0,
        title: {
            y: -70
        },
        labels: {
            enabled: false
        },

   },


    // plotOptions: {
    //    gauge: {
    //             pivot: {
    //                 radius: 0

    //             }, dial: {
    //                 backgroundColor:'#7A4F59',
    //                 borderColor: "#DAC7CC",
    //                 radius: '100%',
    //                 baseWidth: 2,
    //                    baseLength: '100%',
    //                     baseWidth: 2,
    //                     rearLength: '0%',
    //                     borderWidth: 0
    //             }
    //         }
    // }

     plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '50%']
            },
            gauge: {
                dataLabels: {
                    enabled: false
                },
                pivot: {
                    radius: 0

                }
                ,
                dial: {
                    backgroundColor:'#7A4F59',
                    borderColor: "#7A4F59",
                    radius: '105%',
                    baseWidth: 2,
                       baseLength: '100%',
                        baseWidth: 2,
                        rearLength: '0%',
                       // borderWidth: 0
                }
            }
        },

};

// The speed gauge
var chartSpeed = Highcharts.chart('total_budget', Highcharts.merge(gaugeOptions, {

    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: ''
        }
    },

    credits: {
        enabled: false
    },

      series: [
      {
            type: 'pie',
             size: '100%',

            innerSize: '76%',
            data: [

                {y:utilized,name:'Utilized',color:'#006861',borderColor: "#006861"},
                {y:disbursed,name:'Disbursed',color:'#169776',borderColor: "#169776"},
                {y:total,name:'Total',color:'#D0C173',borderColor: "#D0C173"}


            ]
        },

        {
            type: 'gauge',
            data: [0],

        }
    ],
        dataLabels: {
               enabled: false
        }


}));

// Bring life to the dials
setInterval(function () {
    // Speed
    var point,
        point1,
        newVal,
        inc;

    if (chartSpeed) {
        point = chartSpeed.series[0].points[0];

        point1 = chartSpeed.series[0].points[1];

        $.each(chartSpeed.series, function(i, item){
            if(item.type == 'gauge'){

               item.setData([["none",point.y]], true);

            }
        });

        //console.log(chartSpeed.series[1].points);



        // chartSpeed.yAxis[0].removePlotBand('plot-band-1');
        //     chartSpeed.yAxis[0].addPlotBand({
        //         from: 0,
        //         to: point.y,
        //         color: '#2F9974',
        //         thickness: '40%',
        //         id: 'plot-band-1'
        //     });



        // point.update(point.y);
    }

}, 800);

</script>

<script>
$(function() {
   $('.trunc').each(function(i) {
       if (isEllipsisActive(this)) {
           $(this).attr("title", $(this).text());
       }        
   });
});

function isEllipsisActive(e) {
    return (e.offsetWidth < e.scrollWidth);
}
</script>
<style type="text/css">
 #total_budget .highcharts-container {
       border-bottom: 1px solid;
       height: 120px !important;
   }
    .highcharts-background {
   fill: none
}
text.highcharts-title{
  font-family: 'Playfair Display', serif;
}
</style>
{% endblock %}
