{% extends 'base.html' %}
{% load common_tags %}
{% load urs_tags %}
{% block section %}
{% load humanize %}

<script src="/static/js/jquery.simplePopup.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(){
    $('#popup').click(function(){
	$('#pop1').simplePopup();
    });
});

</script>
<style>
    .error { color :red;}
    .errorlist li{color :red;}
    #size_upload{color: red;}
    #date_error,#min_max {color : red;}
    .orglogo img {
    object-fit: contain;
}
.key-image-budget {
    margin-top: 81px;
}
/*.key-image{
  margin-top: -10px;
}
*/
</style>
<div class="clear"></div>
<!--Green pad starts-->
<section class="green-pad green-height">
	<div class="row">

	<div class="image-pad orglogo ">
	    {% get_org_logo projectobj as org_logo %}
    	<a href="javascript:void(0);"> {% if org_logo %}<img src="{{org_logo}}"  alt="" title="" height='117px' width = '100px'> {% else %}<img src="/static/img/GoodCSR_color_circle.png" alt="" title="" height='117px' width = '100px'> {% endif %}</a><a href="javascript:void(0);">
<!--    	<img src="img/logo-n.png" alt="" title="" ></a>-->
    </div>
    <div class="title-left">
    {% get_funder projectobj as project_funders %}
     {% if project_funders.project %}
    <h4><a href="javascript:void(0);" id="popup"><p class="trunc" style="width:620px;">{{project_funders.project.name}} <p></a></h4>
    {% else %}
    <h4><a href = '#'>Project Name </a></h4>
    {% endif %}
    <ul>

    	<li><a href="javascript:void(0)"> by: {% if project_funders.funder.organization %} {{project_funders.funder.organization}}  {% else %} {% endif %}</a></li>
        <li> <a href="javascript:void(0)">NGO Partner:{% if project_funders.implementation_partner.organization %}{{project_funders.implementation_partner.organization}} {% else %} {{project_funders.implementation_partner.name}}  {% endif %}</a></li>
    </ul>
    </div>
    <span style="position: absolute;
    right: 30px;
    top: 0px;">Coming Soon...</span>
    
    <a id="myBtn1" class="green-link green-link1" href="/report/listing/?slug={{request.GET.slug}}" style="margin-top:30px;"> <img src="/static/img/generator-report.png" alt=""> &nbsp;Generate Report</a>
<!--    <a id="myBtn1" class="green-link green-link1" href="/report/survey/quarter/?slug={{request.GET.slug}}" style="margin-top:30px;"> &nbsp;Temp Generate Report</a>-->
<!--    <a id="myBtn1" class="green-link green-link1" href="/report/final/design/?slug={{request.GET.slug}}" style="margin-top:30px;"> &nbsp;Generate Report with design</a>-->

    <!-- <a id="myBtn1" class="green-link green-link1 iframe" href="/report/generation-form/?slug={{request.GET.slug}}" style="margin-top:30px;"> <img src="/static/img/generator-report.png" alt=""> &nbsp;Generate Report</a> -->
    
     <div class="menu-bottom">
        <ul>
          <li><a  {% if key == "summary" %} class="active" {% endif %} href="/project/summary/?slug={{request.GET.slug}}&key=summary">Summary</a></li>
          <li><a {% if key == "task-milestone" %} class="active" {% endif %} href="/managing/listing/?slug={{request.GET.slug}}&key=task-milestone">Tasks & Milestones</a></li>
          <li><a {% if key == "budget" %} class="active" {% endif %} href="/manage/project/budget/view/?slug={{request.GET.slug}}&key=budget">Budget</a></li>
          <li><a {% if key == "files" %} class="active" {% endif %} href="/upload/list/?slug={{request.GET.slug}}&model=Project&key=files">Files</a></li>
          <li><a {% if key == "tranches" %} class="active" {% endif %} href="/project/tranche/list/?slug={{request.GET.slug}}&key=tranches">Tranches</a></li>
<!--            <li><a {% if key == "mytasks" %} class="active" {% endif %} href = "/managing/my-tasks/details/?slug={{request.GET.slug}}&key=mytasks&status=0">My Tasks </a></li>-->
            <li><a {% if key == "projecttasks" %} class="active" {% endif %} href = "/managing/my-tasks/details/?slug={{request.GET.slug}}&key=projecttasks&status=1">Project Tasks </a></li>
        </ul>
     </div>
    </div>

<div id="pop1" class="simplePopup">
   <div class="pop-content">
      <div class="img"> <img src="/static/img/GoodCSR_color_circle.png" alt="girl"> </div>
      <div class="course-dtl">
        <h1>{{projectobj.name}} <!-- <sup>PGR</sup> --></h1>
        <ul class="pop-list">
          <li> <img src="/static/img/pop-up/users.jpg">
            <p> No. of beneficiaries <span>{{projectobj.no_of_beneficiaries}}</span> </p>
          </li>
          <li> <img src="/static/img/pop-up/dureation.jpg">
            <p> Program duration <span>{{projectobj.duration}} months </span> </p>
          </li>
          <li> <img src="/static/img/pop-up/dureation.jpg">
            <p> Total Budget <span>₹ {{projectobj.total_budget | intcomma}}</span> </p>
          </li>
        </ul>

        <div class="rht-content">
         <ul>
         <li class="fst">
            <h2>Target beneficiaries</h2>
            <p>{% if projectobj.target_beneficiaries.all %}
                {% for i in projectobj.target_beneficiaries.all %}{{i}}{% if not forloop.last %}{{", "}}{% endif %}{% endfor %}
                {% else %}
                <span class="col-md-7">N/A</span>
                {% endif %}</p>
         </li>
         <li class="snd">

            <h2>Cause area</h2>
            <p>{% if projectobj.cause_area.all %}
                {% for i in projectobj.cause_area.all %}{{i}}{% if not forloop.last %}{{", "}}{% endif %}{% endfor %}
                {% else %}
                <span class="col-md-7">N/A</span>
                {% endif %}</p>
            </li>
            </ul>

        </div>
      </div>
      
      <div class="cont-det">
         <h2>Location coverage</h2>

         {% if project_location %}
          
            {% for j in project_location %}
            <li style="color:#363636;" > {{j.location.name}}, {{j.location.parent.name}}, {{j.get_program_type_display}}</li>
            {% endfor %}
          
          {% else %}
          <li style="color:#363636;" >N/A</li>
          {% endif %}
          <br>
                
         <h2>About the Program</h2>
<p dangerouslySetInnerHTML={{obj.summary}}>{{projectobj.summary | safe}}</p>

   <div class="concepto-carousel">
         <h1>Pictures and files</h1>
            <!-- carousel starts -->
              <div id="con-carousel" class="owl-carousel">
                {% get_attachments projectobj as attachment %}
              {% for i in attachment %}
                {% if i.attachment_type == 2 %}

        {% if i.document_type == 1 %}<!-- excel -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file}}" {% else %} href="#" onClick="alert('File Not Found!')" {% endif %}{% if i.attachment_file %}download{% endif %}><img src="/static/img/excell-color.jpg"  height=70 width=63px>
        <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}

        {% if i.document_type == 2 %}<!-- pdf -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/pdf.jpg" height=70 width=63px>
        <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}
        {% if i.document_type == 3 %}
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/wordpress.jpg" height=70 width=63px>
          <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}
        {% if i.document_type == 4 %}<!-- doc -->
        <div class="item">
        <a {% if i.attachment_file %} href="{{image}}/{{i.attachment_file.url}}{% else %} href="#" onClick="alert('File Not Found!')" {% endif %}" {% if i.attachment_file %}download{% endif %}><img src="/static/img/excell-black.jpg" height=70 width=63px >
          <h2>{{i.name}} </h2></a>
        </div>
        {% endif %}


        {% endif %}
        {% endfor %}

             </div>
            <!-- carousel ends -->

            <!-- carousel starts -->


              <div id="img-carousel" class="owl-carousel">
                {% get_attachments projectobj as attachment %}
              {% for  i in attachment %}

              {% if i.attachment_type == 1 %}
                <div class="item">
                  {% if i.attachment_file %}
                    <a href="{{image}}/{{i.attachment_file.url}}" download><img src="{{image}}/{{i.attachment_file.url}}" alt="" height=97 width=156px>
                    <h2>{{i.description}}</h2></a>
                  {% else %}
                  <a href="#"><img src="" onClick="alert('Image Not Found!')" alt="" height=97 width=156px>
                    <h2>{{i.description}}</h2></a>
                  {% endif %}
                </div>
              {% endif %}
                {% endfor %}


             </div>
            <!-- carousel ends -->
      </div>

      </div>
    </div>
</div>
</section>
<!--Green pad Ends-->
<!--Content part starts-->
{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    //var loop_count = $('#loop_count').val()
    var wrapper         = $(".timeline-slide"); //Fields wrapper
    var lengths = {{timeline_json_length}};
    var ff= {{timeline_json | safe}}
    var loc_url = '{{image}}'
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun","July", "Aug", "Sep", "Oct", "Nov", "Dec"];
    for (var i = 0; i < lengths ; i++)
    {
      var obj = ff[i]
      var name = obj.name;
      console.log(obj);
      if (obj.url) {
        var url = loc_url + obj.url;
        }else{
          var url = loc_url + '/' +"/static/img/milestone-icon.png";
        };
        var date = obj.date
        var f = new Date(date);
        var month = months[f.getMonth()];
        var nn = f.getMonth();
        var ids = obj.id
        var date1 = f.getDate()
        //alert(date1);
        function delete_upload()
        {
            //return confirm("Are you sure you want to delete this item?");
            alert("Are you sure?");
        }

      if (i % 2) {
        if (obj.type == 'image') {
        $(wrapper).append('<li class="event-up">&nbsp;<div class="event-img"><img height=112px width=162px src='+url+' alt=""><p>'+name+'</p></div><div class="event-circle"></div><div class="event-date">'+date1+'<span>'+month+'</span></div></li>');
        }else{
          $(wrapper).append(' <li class="event-up red-down current-event">&nbsp;<div class="event-img"><h3>Milestone Achieved</h3><div class= "image_tag"><img src="/static/img/milestone-icon.png" alt=""></div><p>'+ name +'</p></div><div class="event-circle"></div><div class="event-date">'+date1+'<span>'+ month +'</span></div></a></li>');
        };
      } else {
        if (obj.type == 'image') {
        $(wrapper).append('<li class="event-down">&nbsp;<div class="event-img"><img height=112px width=162px src='+url+' alt=""><p>'+name+'</p></div><div class="event-circle"></div><div class="event-date">'+date1+'<span>'+month+'</span></div></li>');
        }else{
          $(wrapper).append(' <li class="event-down red-down current-event">&nbsp;<div class="event-img"><h3>Milestone Achieved</h3><img src="/static/img/milestone-icon.png" alt=""><p>'+ name +'</p></div><div class="event-circle"></div><div class="event-date">'+date1+'<span>'+ month +'</span></div></a></li>');
        };
      };
    }
})
</script>
<script type="text/javascript">
var ff= {{number_json | safe}}
var lengths = ff.length;
var loc_url = '{{image}}'
$(document).ready(function() {
    //var loop_count = $('#loop_count').val()
    var wrapper         = $(".numeric_parameter"); //Fields wrapper
    for (var i = 0; i < lengths ; i++)
    {
      var obj = ff[i]
      var title = obj.title;
      console.log(obj);
      if (obj.type == 'CUR') {
        var url = loc_url + '/' + "static/img/budget-icon.png";
        var value = numDifferentiation(obj.value);
        var class_name = "key-image parameter-position";
        }else{
          var class_name = "key-image-budget parameter-position";
          var value = numDifferentiation_beneficiary(obj.value);
          var url = loc_url + '/' + "static/img/key-icon2.png";
        };
        $(wrapper).append('<li><h3>'+title+'</h3><img class="'+class_name+'" src='+url+' alt=""><h4 class="title-pad">'+value+'</h4></li>');
}
})
function numDifferentiation(val) {
    if(val >= 10000000) val = '<small>₹</small>'+ (val/10000000).toFixed(2) + ' <small>Cr</small>';
    else if(val >= 100000) val = '<small>₹</small>'+ (val/100000).toFixed(2) + '<small>Lac</small>';
    else if(val >= 1000) val = '<small>₹</small>'+ numberWithCommas(val);
    else if(val < 1000) val = '<small>₹</small>'+ val;
    return val;
}
function numDifferentiation_beneficiary(val) {
    if(val >= 10000000) val = (val/10000000).toFixed(1) + ' <small>Cr</small>';
    else if(val >= 100000) val = (val/100000).toFixed(1) + '<small>Lac</small>';
    else if(val >= 1000) val = numberWithCommas(val);
    else if(val < 1000) val = val;
    return val;
}
function numberWithCommas(x) {
    x=x.toString();
    var lastThree = x.substring(x.length-3);
    var otherNumbers = x.substring(0,x.length-3);
    if(otherNumbers != '')
    lastThree = ',' + lastThree;
    //var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
    return otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
}

</script>



<section class="content-part">
	<div class="row">


    <div class="clear"></div>
	<div class="content-top margin-top">
      <div class="select-area">
      	<label>See Data as </label>

        <div class="dropdown user select-down select-width">
            <a href="javascript:void(0);" class="dropdown-toggle" >
              <p>By Year</p>
              <!-- <i class="fa fa-angle-down"></i> -->
            </a>
            <ul class="dropdown-menu1" style="display:none;">

              <li class="user-header">
                <input class="check-box" type="checkbox" id="one" />
                <label for="one"><span><span></span></span> 2015</label>
              </li>
              <li>
                <input class="check-box" type="checkbox" id="two" />
                <label for="two"><span><span></span></span> 2016</label>
              </li>
              <li>
                <input class="check-box" type="checkbox" id="three" />
                <label for="three"><span><span></span></span> 2017</label>
              </li>
              <li>
                <input class="check-box" type="checkbox" id="four" />
                <label for="four"><span><span></span></span> 2018</label>
              </li>

            </ul>
          </div>

        <!--<select name="lang" class="select_box ">
            <option>Select Quarters</option>
            <option>Quarter1</option>
            <option>Quarter2</option>
        </select>-->
         </div>
    </div>
    <div class="clear"></div>
    <div class="white-box white-pad">
    	<div class="key-program">
        <h2>Key Program Info</h2>
<!--        <form action="/save/image/?slug={{slug}}" method="POST" enctype="multipart/form-data">{% csrf_token %}-->
<!--       <button>Save Image</button>-->
<!--        </form>-->
        {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2  and user_obj.owner == True %}
        <a class="link-pad timeline-image" href="/project/parameter/manage/?slug={{slug}}&key=2">Upload Parameters</a>
        {% endif %}
        </div>
        <ul class="key_parameter parameter">
          <div class='numeric_parameter'></div>
            {% if master_pin %}
            {% for lol in  master_pin %}
            <li>
            	<!-- <h3>{{chart_name_pip}}</h3> -->
                <div class="right-budget beni-dist">
                 <div id="{{lol}}" style="width: 100%;float: left;"></div>
            </div>
            </li>
            {% endfor %}
            {% endif %}

            {% if master_pip %}
            {% for rofl in master_pip %}
             <li>
                <div class="right-budget beni-dist beni-dist1">
                <div id="{{rofl}}" style="width: 100%;float: left;"></div>
            </div>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="white-box timeline-white">
    	<h2>Timeline Progress</h2>
    	    {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2 %}
    	<a class="link-pad" href="/upload/images/?slug={{obj.slug}}">Upload Images</a>
    	{% endif %}
        <div class="clear"></div>
<!-- timeline slider -->
        {% if timeline_json != '[]' %}
        <div id="scrollbar1">
                
                <div class="viewport">
                     <div class="overview">
                       <div id="time-line-pad">
            <div class="time-line">
              <div class="time-line-bdr"></div>
                <ul>

                    <div class="timeline-slide"></div>

                </ul>
            </div>
           </div>
                    </div>
                </div>
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                {% endif %}
       </div>
       
    </div>
    
    <div class="white-box">
    	<div class="left-white-pad">
        	<h3>Total Task Completed</h3>
            <div class="img-left">
            <img src="/static/img/board-img.png" alt="">
            </div>
            <div class="budget-value-right">
            <div class="budget-value">
                {% if tasks %}
                  <div class="budget-left">{{tasks.completed_tasks}} tasks</div>
                  <div class="budget-right">{{tasks.percent}}%</div>
              </div>
              <h5>of {{tasks.total_tasks}} tasks <br>
under {{tasks.total_milestones}} Milestones</h5>
                {% else %}
                    <div class="budget-left">0 tasks</div>
                  <div class="budget-right">0%</div>
              </div>
              <h5>of 0 tasks <br>
under 0 Milestones</h5>
                {% endif %}
		</div>
        </div>
        <div class="right-white-pad">
        	<h3>Total Budget</h3>
            <div class="budget-pad">
            {% if budget %}
              <p><span class="green-d-circle"></span> Utilized</p>
              <div class="budget-value">
                  <div class="budget-left">{{budget.utilized}} </div>
                  <div class="budget-right">{{budget.utilized_percent}}%</div>
              </div>
              <p><span class="light-green-circle"></span> Disbursed</p>
              <div class="budget-value">
                  <div class="budget-left">{{budget.disbursed}}</div>
                  <div class="budget-right">{{budget.disbursed_percent}}%</div>
              </div>
              <p><span class="yellow-circle"></span> Total</p>
              <div class="budget-value budget-border">
                  <div class="budget-left">{{budget.total}}</div>
                  <div class="budget-right">{{budget.total_percent}}%</div>
              </div>
            {% endif %}
          </div>
          <div class="img-right">
            <div id = "total_budget" style="width:100%;float:left;"></div>
          </div>
        </div>
    </div>

    <div class=" white-box ">
<!--    	<img src="/static/img/wip-img.jpg" alt="">-->
        <div id="gwContainer" className="col-md-12 gantt" style="padding-top: '25px', position: 'relative', height: 'auto', width:'100%'"></div>
    </div>
    <div class="white-box-left user-list-box">
    <div class="table-responsive">
    <table class="table-resp" cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th style="width:28%;">Users</th>
        <th style="width:19%;">Organization</th>
        <th style="width:26%;">Designation</th>
        <th style="width:19%;">PMU Role</th>
        {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2 %}
        <th style="width:10%;">&nbsp;</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% if projectuserlist %}
      {% for i in projectuserlist %}
      <tr>
            <td style="width:28%;"><img src="/static/img/default_profile_image.png" class="user-image" alt="User Image">{{i.user.name}}</a></td>
            <td style="width:19%;">{{i.user.organization}}</td>
            <td style="width:26%;">{% if i.user.designation %}{{i.user.designation}} {% else %} {% endif %}</td>
            <td style="width:19%;">{{i.role.name}}
                {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2 %}
            <td style="width:10%;"><a class="btn btn-primary" href="/manage/project/role/edit/?objid={{i.id}}&slug={{obj.slug}}&key=summary">Edit</a></td>{% endif %}
      </tr>
      {% endfor %}
      {% else %}
        <h5>Users not tagged</h5>
      {% endif %}

      </tbody>
  </table>
	</table>
    </div>
        {% get_user_permission request as user_obj %}
        {% if user_obj.is_admin_user == True or user_obj.organization_type == 2  and user_obj.owner == True %}
    <a href="/manage/project/role/add/?slug={{obj.slug}}&key=summary" class="link-pad">Add User</a>
    {% endif %}
    </div>
    <div class="white-box-right">
    	<h2>Recent Updates</h2>
         <div id="boxscroll" class="updates-scroll ">
        <p><span>Today</span> - {% now "jS F Y" %}</p>

         {% if updates_list %}
             {% for obj in updates_list %}
             <ul class="section_updates">
                    {% get_details obj as update %}
                        {% for i in update %}
                           {{i | safe}}
                        {% endfor %}
            </ul>
                {% endfor %}
         {% else %}
            <li><span>No updates </span></li>
         {% endif %}
        </ul>
        </div>
    </div>
    </div>
</section>
<!--Content part Ends-->

</div>



{% endblock %}

{% block script %}
<!-- jQuery (necessary for JavaScript plugins) -->
<!--<script type="text/javascript" src="/static/js/jquery.selectbox-0.2.js"></script>-->
<!--<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>-->
<!--<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>-->
<!--<script type="text/javascript" src="/static/js/common.js" /></script>-->
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/owl.carousel.js"></script>
<script type="text/javascript" src="/static/js/jquery.tinyscrollbar.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
 <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/78d1e57168.js"></script>
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cookie|Satisfy|Kelly+Slab|Overlock" rel="stylesheet">
  <!-- jsGanttImproved App -->
  <link href="/static/css/jsgantt.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/jsgantt.js" type="text/javascript"></script>
  <script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>
 <script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>


<script type="text/javascript">
/*
function confirm_alert(node) {
    var d1 = {{parameter_count}};
    if (d1 > 3) {
      alert("You cant add more than 4 Parameters")
    };

}
*/
</script>
<!-- script for gantt chart starts here-->

<script>
    var jsonData = {{taskdict|safe}}
    console.log(jsonData);
    var g = new JSGantt.GanttChart(document.getElementById('gwContainer'), 'week');
    // console.log(jsonData.tasks);
    // Get today and tomorrows date
    var cur = new Date();
    var tom = new Date();
    tom.setDate(tom.getDate() + 1);
    var curDate = cur.getFullYear() + '-' +
      (('' + (cur.getMonth() + 1)).length < 2 ? '0' : '') + (cur.getMonth() + 1) + '-' +
      (('' + cur.getDate()).length < 2 ? '0' : '') + cur.getDate();

    var tomDate = tom.getFullYear() + '-' +
      (('' + (tom.getMonth() + 1)).length < 2 ? '0' : '') + (tom.getMonth() + 1) + '-' +
      (('' + tom.getDate()).length < 2 ? '0' : '') + tom.getDate();
    // Get today and tomorrows date
    $.each(jsonData.supercategories, function (i) {
      superId = 1, activity_type = 'Core', taskCompletion = 0, superName = 'Super Category';
      if (this.id != null) {
        superId = this.id;
      }
      superName = this.name;
      var superDesc = this.description;
      if (superName.toLowerCase() != "location") {
        g.AddTaskItem(new JSGantt.TaskItem(superId, superName, '', '', 'ggroupblack', '', 0, null, 0, 1, 0, 1, '',
          '', superDesc, g));
      }
      // console.log("Super");
      // console.log(superId, superName, '', '', 'ggroupblack', '', 0, null, 0, 1, 0, 1, '',
      //   '', superDesc);
    });
    $.each(jsonData.activities, function (i) {
      var activityId = 11,
        superId = 1,
        activity_type = 'Core',
        taskCompletion = 0,
        activityName = 'Activity';
      if (this.id != null) {
        activityId = this.id.toString();
      }
      if (this.super_category != null) {
        superId = this.super_category;
        if (this.id != null) {
          activityId = this.super_category.toString() + activityId;
        }
      }
      // console.log("ActID", activityId);
      activityName = this.name;
      var activityDesc = this.description;
      g.AddTaskItem(new JSGantt.TaskItem(activityId, activityName, '', '', 'ggroupblack', '', 0, '', 0, 2, superId,
        1, '', '',
        activityDesc, g));
      // console.log("Act");
      // console.log(activityId, activityName, '', '', 'ggroupblack', '', 0, '', 0, 2, superId,1, '', '',activityDesc);
    });
    $.each(jsonData.tasks, function (i) {
      var taskId = 111,
        tempId = 1,
        activityId = 11,
        superId = 1,
        activity_type = 'Core',
        taskCompletion = 0,
        taskName = 'Task',
        taskStatus = 'gtaskred',
        eStartDate = curDate,
        eEndDate = tomDate;
      if (this.id != null) {
        taskId = this.id;
        tempId = this.id;
      }
      // added the script 16th-Nov
      if(this.task_progress != null || this.task_progress != undefined){
            taskCompletion = this.task_progress;
      }
      // ended th script
      if (this.activity != null) {
        activityId = this.activity;
      }
      // activity = jsonData.activities.filter(function( i ) {
      //   if(i.id == activityId){return i.super_category;}
      // });
      $.each(jsonData.activities, function () {
        if (this.id == activityId) {
          activity_type = this.activity_type;
          if (this.super_category != null) {
            superId = this.super_category;
          }
        }
      });
      if (superId != null && activityId != null && taskId != null) {
        taskId = superId.toString() + activityId.toString() + taskId.toString();
      }
      if (superId != null && activityId != null) {
        activityId = superId.toString() + activityId.toString();
      }
      activityId = parseInt(activityId);
      // console.log("TaskID", taskId);
      taskName = this.name;
      eStartDate = this.expected_start_date;
      eEndDate = this.expected_end_date;
      if (activity_type == "Core") {
        switch (this.status) {
          case "Ongoing":
            taskStatus = 'gtaskblue';
            break;
          case "Open":
            taskStatus = 'gtaskyellow';
            break;
          case "Close":
            taskStatus = 'gtaskgreen';
            break;
          default:
            taskStatus = 'gtaskblue';
            break;
        };
      }
      // For Milestones
      var completionDate = this.actual_end_date;
      console.log('Complete date', completionDate);
      $.each(jsonData.milestones, function (i) {
        var mileId = 111, 
        mileStatus = 'gmilestone redmile '
        depTask = [];
        depTask = this.task;
        mileName = this.name;
        if (this.id != null) {
          mileId = this.id;
        }
        // added the script 16th-Nov
        maxDate = new Date('1970-01-01');		
        var tempArray = [];		
        var n = 0;		
        $.each(depTask, function (index, value) {		
          console.log('value', n);		
          tempArray.push({		
            'id': value		
          });		
          for (var i = 0; i < jsonData.tasks.length; i++) {		
            if (jsonData.tasks[i].id == value && jsonData.tasks[i].actual_end_date != null) {		
              tempArray[n].date = new Date(jsonData.tasks[i].actual_end_date).getTime();		
            }		
            if (i == (depTask.length - 1)) {		
            		
              console.log('Array', depTask)		
              console.log('Max Date',Math.max(tempArray.date));		
            }		
          }		
          n++;		
        });		
        console.log("tempArray", tempArray);
        //end of  the added script
        // if (depTask.length == 1) {
        var ln = depTask.length;
        ln--;
        console.log('depTask', depTask[0]);
        if (depTask[ln] == tempId) {
          var d1 = new Date(eEndDate);
          var d2 = new Date(eEndDate);
          d1.setDate(d1.getDate() + 1);
          d2.setDate(d2.getDate() + 11);
          var mileStart = d1.getFullYear() + '-' +
            (('' + (d1.getMonth() + 1)).length < 2 ? '0' : '') + (d1.getMonth() + 1) + '-' +
            (('' + d1.getDate()).length < 2 ? '0' : '') + d1.getDate();

          var mileEnd = d2.getFullYear() + '-' +
            (('' + (d2.getMonth() + 1)).length < 2 ? '0' : '') + (d2.getMonth() + 1) + '-' +
            (('' + d2.getDate()).length < 2 ? '0' : '') + d2.getDate();
          //Check for milestone complete or calculate delay
          if (completionDate == null) {
            mileStatus = 'gmilestone redmile '
          } else {
            var d3 = new Date(this.overdue);
            var d4 = new Date(completionDate);
            var timeDiff = (d3.getTime() + 86400) - d4.getTime();
            var diffDays = Math.ceil(timeDiff / 86400000);
            console.log('DiffDays', diffDays);
            if (diffDays < 0) {
              var dur = rem = Math.abs(diffDays);
              if (dur < 8) { 
                mileName += " - Delayed by " + dur + " day(s)"
              };
              if (dur >= 8 && dur < 30) {
                dur = Math.floor(dur / 7); 
                //add 16th- Nov
                rem = Math.floor(rem % 7);
                mileName += " - Delayed by " + dur + " week(s) and " + rem + " day(s)";              
                };
                //end
              if (dur >= 30 && dur < 365) { 
                dur = Math.floor(dur / 30);
                //add 16th-Nov
                rem = Math.floor(rem % 30);
                mileName += " - Delayed by " + dur + " month(s) and " + rem + " day(s)";		
              };
                //end 
              if (dur >= 365) { 
                dur = Math.floor(dur / 365);
                //added script 
                rem = Math.floor(rem % 365);
                mileName += " - Delayed by " + dur + " year(s), " + rem + " day(s)";
              };
              //ended script
              console.log('Diff days', mileName);
            } else {
              mileStatus = 'gmilestone greenmile '
              var dur = rem = Math.abs(diffDays);
              if (dur == 0) {
                 mileName += " - On track"
              };
              if (dur < 8) { 
                mileName += " - Ahead by " + dur + " day(s)"
              };
              if (dur >= 8 && dur < 30) { 
                dur = Math.floor(dur / 7);
                rem = Math.floor(rem % 7);//new line
                mileName += " - Ahead by " + dur + " week(s) and " + rem + " day(s)";	//modified
              };
              if (dur >= 30 && dur < 365) { 
                dur = Math.floor(dur / 30);
                rem = Math.floor(rem % 30);//new line
                mileName += " - Ahead by " + dur + " month(s) and " + rem + " day(s)";//modified
              };
              if (dur >= 365) {
                 dur = Math.floor(dur / 365);
                rem = Math.floor(rem % 365);//new line
                mileName += " - Ahead by " + dur + " year(s), " + rem + " day(s)";//modified
                 };
              console.log('Diff days', mileName);
            }
          }
          g.AddTaskItem(new JSGantt.TaskItem(mileId, mileName, mileStart, mileEnd,
            mileStatus, '', 1, '', 100, 0, activityId, 1, '', '', '', g));//changed null to 100
        }
        // } else {
        //   var prevDate, maxDate;
        //   $.each(depTask, function () {
        //     var depValue = this.valueOf();
        //     $.each(jsonData.tasks,function(){
        //       if(this.id == depValue){

        //       }
        //     });
        //     console.log('Dep', this.valueOf(), depTask);
        //   });
        // }
        // g.AddTaskItem(new JSGantt.TaskItem(66141, 'Milestone', '2017-05-30T18:30:00Z', '2017-06-07T00:00:00Z',
        //   'gmilestone', '', 1, '', 10, 0, 6614, 1, '661496FS', '', '', g));
      });


      //Draw task after drawing milestone
      g.AddTaskItem(new JSGantt.TaskItem(taskId, taskName, eStartDate, eEndDate, taskStatus, '', 0,
        '', taskCompletion , 0, activityId, 1, '', '', '', g));
      // console.log("Task");
      // console.log(taskId, this.id, superId, taskName, eStartDate, eEndDate, taskStatus, '', 0,
      //   '', 0, 0, activityId, 1, '', '', '');

    });

    g.setShowStartDate(0);
    g.setShowEndDate(0);
    g.setShowRes(0);
    g.setShowDeps(0);
    g.setShowDur(0);
    g.setUseToolTip(0);
    g.setWeekColWidth(50);
    g.setWeekMajorDateDisplayFormat('mon yyyy');
    g.setWeekMinorDateDisplayFormat('W w');
    g.setScrollTo('today');
    g.Draw();

    function collision($div1, $div2) {
      var x1 = $div1.offset().left;
      var y1 = $div1.offset().top;
      var h1 = $div1.outerHeight(true);
      var w1 = $div1.outerWidth(true);
      var b1 = y1 + h1;
      var r1 = x1 + w1;
      var x2 = $div2.offset().left;
      var y2 = $div2.offset().top;
      var h2 = $div2.outerHeight(true);
      var w2 = $div2.outerWidth(true);
      var b2 = y2 + h2;
      var r2 = x2 + w2;

      if (b1 < y2 || y1 > b2 || r1 < x2 || x1 > r2) return false;
      return true;
    }
    var count = 0,
      padding = 25,
      arrayTask = [],
      collide = false;
    $('.gselector').hide();
    $(document).ready(function () {
      var previous = null;
      var prePrevious = null;
      var mile = false;
      $(".gtaskbarcontainer").each(function (index) {
        currParent = $(this).parent().parent().parent();
        listParent = currParent.attr('id').replace('row', '');
        if ($(this).hasClass('gmilecontainer')) {
          mile = true;
        }
        if (previous && $(this).parent().parent().parent().attr('id') == $(previous).parent().parent().parent()
          .attr('id')) {
          // console.log("This ID", $(this).attr('id'), mile);
          if (mile) {

          }
          if (collision($(this), $(previous)) || collision($(this), $(prePrevious))) {
            $('#' + currParent.attr('id') + " .gtaskbarcontainer").each(function () {
              if ($(this).css('top') == '-5px') {
                $(this).css('top', '0px');
              }
            });
            collide = true;
            $(this).css('top', parseInt($(previous).css('top')) + padding + 'px');
            if (count == 0) {
              $(previous).css('top', '0px');
              count++;
            }
            listParentDiv = $('#' + listParent);
            if (parseInt(currParent.css('height')) <= parseInt($(this).css('top'))) {
              listParentDiv.css('height', parseInt(listParentDiv.css('height')) + 25 + 'px');
              currParent.css({
                'height': parseInt(currParent.css('height')) + 25 + 'px',
                'vertical-align': 'top'
              });
            }
          }
        } else {
          count = 0;
          arrayTask = [];
          collide = false;
          $('#' + currParent.attr('id') + ' .gtaskbarcontainer').css({
            top: '-5px'
          });
          mile = false;
        }
        prePrevious = previous;
        previous = this;
      });
    });
    // new script 16th-Nov 
    if (window.location.hash) {
        setTimeout(function() {
        $('html, body').scrollTop(0).show();	
        $('html, body').animate({	
                scrollTop: $(window.location.hash).offset().top - ($(window).height()/2) }, 1000)
        },0);
            $(window.location.hash).trigger('click')
    $(window.location.hash).click();
    }
    else{
        $('html, body').show();
    }
    // end of the script added 16th-Nov
  </script>>
  
  <!-- script for gant chart ends here-->
<script>
//Toggle

	$('.user-menu').on('click',function(){
		$('.dropdown-menu').slideDown(350);

	});
	$('.select-down').on('click',function(){
        $('.dropdown-menu1').slideDown(350);

    });

	$(document).ready(function(e) {
		/*Content Show/Hide */
		$('.hide-cont').hide();
		$('.close-cont').hide();
		$('.view-cont').click(function(){
			$('.hide-cont').slideDown(350);
			$('.close-cont').show();
			$('.view-cont').hide();
		});
		$('.close-cont').click(function(){
			$('.hide-cont').slideUp(350);
			$('.close-cont').hide();
			$('.view-cont').show();
		});
		$(document).trigger( "click" );
	});

	$(document).click(function(){

		$('.user-menu, .select-down').click(function(event){
			event.stopPropagation();
		});

		$('.dropdown-menu, .dropdown-menu1').slideUp(350);

	});
</script>


    <script>
  $(document).ready(function() {
    $("#boxscroll1").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV
  });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });
		});
</script>
<script>
  $(document).ready(function() {


    $("#boxscroll, .table-resp tbody").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV

	var li_Count = $('.time-line li').length;
	$(".time-line").css('width', 200*li_Count);
  });

	$(document).ready(function()
	{
		  $("#scrollbar1").tinyscrollbar({ axis: "x"});

	});
</script>
<script>
$(document).ready(function(){
	var owl = $('#img-carousel');
	owl.owlCarousel({
		goToFirstSpeed :1500,
		items:4,
		margin:25,
		loop:false,
		autoplay:true,
		singleItem: true,
		autoplayTimeout:4000,
		autoplayHoverPause:true,
		responsive: {
			0:{ items:1 },
			479:{ items:2 },
			639:{ items:2 },
			768:{ items:4 },
			1024:{ items:4 },
			1280:{ items:4 }
		},
		nav : true,
		dots : false
	  });
	var owl = $('#con-carousel');
	owl.owlCarousel({
		goToFirstSpeed :1000,
		items:6,
		margin:25,
		loop:false,
		autoplay:true,
		autoplayTimeout:4000,
		autoplayHoverPause:true,
		responsive: {
			0:{ items:3 },
			639:{ items:4 },
			768:{ items:5 },
			1024:{ items:5 },
			1280:{ items:6 }
		},
		nav : true,
		dots : false
	  });


	});
</script>

<!---datepicker script-->
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
	$(function() {
	$( ".datepicker" ).datepicker({
	showOn: "button",
	buttonImage: "/static/img/calender-icon.png",
	buttonImageOnly: true
	});
	});
</script>

<script src="/static/code/highcharts.js"></script>
<script src="/static/code/highcharts-more.js"></script>

<script src="/static/code/modules/solid-gauge.js"></script>
<script type="text/javascript">
    var new_data_pin = 0;
    var new_data_pip = 0;
</script>
<!--/* Pie Chat Number */-->
<script type="text/javascript">
{% for pin in master_sh.PIN %}
//alert(pin);
var data1 = {{pin | safe}};
var values = "Batch_size_" + (new_data_pin).toString()
var pin_title = {{pin_title_name | safe}}
var pin_title = pin_title[new_data_pin]
new_data_pin++;
Highcharts.chart(values, {
   chart:{type:'pie', backgroundColor: null,height:288},
            credits:{enabled: false},
            colors:[
                '#5485BC', '#AA8C30', '#5C9384', '#981A37', '#FCB319',     '#86A033', '#614931', '#00526F', '#594266', '#cb6828', '#aaaaab', '#a89375'
                ],
            title:{text: pin_title},
            tooltip:{
                enabled: true,
                animation: true
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    animation: true,
                    cursor: 'pointer',
                    showInLegend: true,
                    dataLabels: {
                        enabled: true,
                        distance: -30,
                        formatter: function() {
                            return this.y;
                        }
                    }
                }
            },
            legend: {
                enabled: true,
                layout: 'horizontal',
                align: 'center',
                width: 200,
                verticalAlign: 'bottom',
                useHTML: true,
                labelFormatter: function() {
                    return '<div style="text-align: left;float:left;font-weight: normal;">' + this.name +' - '+ this.y + '%</div>';
                }
            },
            series: [{
                type: 'pie',
                dataLabels:{

                },
                data: data1

            }]
        });
{% endfor %}
</script>

<!--/* Pie Chart Percentage */-->
<script type="text/javascript">
{% for pip in master_sh.PIP %}
var data2 = {{pip | safe}};
var values = "Beneficary_distribution_" + (new_data_pip).toString()
var pip_title = {{pip_title_name | safe}}
var pip_title = pip_title[new_data_pip]
new_data_pip++;
Highcharts.chart(values, {
   chart:{type:'pie', backgroundColor: null,height:288},
            credits:{enabled: false},
            colors:[
                '#5485BC', '#AA8C30', '#5C9384', '#981A37', '#FCB319',     '#86A033', '#614931', '#00526F', '#594266', '#cb6828', '#aaaaab', '#a89375'
                ],
            title:{text: pip_title},
            tooltip:{
                enabled: true,
                animation: true
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    animation: true,
                    cursor: 'pointer',
                    showInLegend: true,
                    dataLabels: {
                        enabled: true,
                        distance: -30,
                        formatter: function() {
                            return this.y;
                    }
                }
            },
            legend: {
                enabled: true,
                layout: 'horizontal',
                align: 'center',
                width: 200,
                verticalAlign: 'bottom',
                useHTML: true,
                labelFormatter: function() {
                    return '<div style="text-align: left;float:left;font-weight: normal;">' + this.name +' - '+ this.y + '%</div>';
                }
            },
            series: [{
                type: 'pie',
                dataLabels:{

                },
                data: data2

            }]
        });
{% endfor %}
</script>

<script>
var data = {{budget|safe}}
console.log(data);
//var utilized = data.utilized/(data.utilized + data.total)*100
//var disbursed = data.disbursed/(data.disbursed + data.total)*100
var utilized = data.utilized_percent
if (data.disbursed_percent == 0){
    var disbursed = 0
}
else {
    if (data.disbursed_percent > data.utilized_percent ){
        var disbursed = data.disbursed_percent-data.utilized_percent
    }
    else{
        var disbursed = data.utilized_percent - data.disbursed_percent
    }
}
var total = 100 - (utilized + disbursed)

console.log(total , utilized , disbursed);
var gaugeOptions = {

    chart: {
        height:250,
         plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false

    },

    title: null,

      pane: {
            center: ['50%', '50%'],
            size: '100%',
            startAngle: -90,
            endAngle: 90,
            background: {
                borderWidth: 1,
                backgroundColor: '#D0C173',
                borderColor: '#D0C173',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },


    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        //     stops: [
        //     [0.1, '#D0C173'], // green
        //     [0.5, '#34837C'] // yellow


        // ],
        lineWidth: 0,
        minorTickInterval: null,
        tickAmount: 0,
        title: {
            y: -70
        },
        labels: {
            enabled: false
        },

   },


    // plotOptions: {
    //    gauge: {
    //             pivot: {
    //                 radius: 0

    //             }, dial: {
    //                 backgroundColor:'#7A4F59',
    //                 borderColor: "#DAC7CC",
    //                 radius: '100%',
    //                 baseWidth: 2,
    //                    baseLength: '100%',
    //                     baseWidth: 2,
    //                     rearLength: '0%',
    //                     borderWidth: 0
    //             }
    //         }
    // }

     plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '50%']
            },
            gauge: {
                dataLabels: {
                    enabled: false
                },
                pivot: {
                    radius: 0

                }
                ,
                dial: {
                    backgroundColor:'#7A4F59',
                    borderColor: "#7A4F59",
                    radius: '105%',
                    baseWidth: 2,
                       baseLength: '100%',
                        baseWidth: 2,
                        rearLength: '0%',
                       // borderWidth: 0
                }
            }
        },

};

// The speed gauge
var chartSpeed = Highcharts.chart('total_budget', Highcharts.merge(gaugeOptions, {

    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: ''
        }
    },

    credits: {
        enabled: false
    },

      series: [
      {
            type: 'pie',
             size: '100%',

            innerSize: '76%',
            data: [

                {y:utilized,name:'Utilized',color:'#006861',borderColor: "#006861"},
                {y:disbursed,name:'Disbursed',color:'#169776',borderColor: "#169776"},
                {y:total,name:'Total',color:'#D0C173',borderColor: "#D0C173"}


            ]
        },

        {
            type: 'gauge',
            data: [0],

        }
    ],
        dataLabels: {
               enabled: false
        }


}));

// Bring life to the dials
setInterval(function () {
    // Speed
    var point,
        point1,
        newVal,
        inc;

    if (chartSpeed) {
        point = chartSpeed.series[0].points[0];

        point1 = chartSpeed.series[0].points[1];

        $.each(chartSpeed.series, function(i, item){
            if(item.type == 'gauge'){

               item.setData([["none",point.y]], true);

            }
        });

        //console.log(chartSpeed.series[1].points);



        // chartSpeed.yAxis[0].removePlotBand('plot-band-1');
        //     chartSpeed.yAxis[0].addPlotBand({
        //         from: 0,
        //         to: point.y,
        //         color: '#2F9974',
        //         thickness: '40%',
        //         id: 'plot-band-1'
        //     });



        // point.update(point.y);
    }

}, 800);

</script>

<script>
$(function() {
   $('.trunc').each(function(i) {
       if (isEllipsisActive(this)) {
           $(this).attr("title", $(this).text());
       }
   });
});

function isEllipsisActive(e) {
    return (e.offsetWidth < e.scrollWidth);
}
</script>

<link rel="stylesheet" href="/static/css/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".iframe").fancybox({
        type: 'iframe'
    });
});
</script>

<style type="text/css">
 #total_budget .highcharts-container {
       border-bottom: 1px solid;
       height: 120px !important;
   }
    .highcharts-background {
   fill: none
}
text.highcharts-title{
  font-family: 'Playfair Display', serif;
}
</style>
{% endblock %}
