{% extends 'base.html' %}
{% block section %}
{% endblock %}
{% block content %}

<section class="content-part forms_section">
    <div class="row">
<div class="white-box white-pad">
<div class="box-body table-responsive">
        <h3> Users List</h3>
                <div style="float: right;"><a class="btn btn-primary" href="/manage/project/role/add/?slug={{project_slug}}&key=manage">Add User</a></div>
</br>
<div class="box-body table-responsive">
    <table id="example1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>User</th>
                <th>Organization</th>
                <th>Designation</th>
                <th>PMU Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>            
        </thead>
        
    {% for i in projectuserlist %}
        <tr>
            <td>{{i.user.name}}</a></td>
            <td>{{i.user.organization}}</td>
            <td>{% if i.user.designation %}{{i.user.designation}} {% else %} {% endif %}</td>
            <td>{{i.role.name}}
            <td>{{i.get_active_display}}</td>
            <td><a class="btn btn-primary" href="/manage/project/role/edit/?objid={{i.id}}&slug={{project_slug}}&key=manage">Edit</a>
            <a href="/project/remove/record/?id={{i.id}}&model=ProjectUserRoleRelationship" type="button" title="Delete Project" class="btn btn-danger" onclick="return confirm('Are you sure you want to Delete')"><b>x</b></a>
        </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
    </div>
</section>
<script>
//Toggle
        
        //  $('.user-menu').on('click',function(){
        //   $('.dropdown-menu').slideToggle();
          
        // });
         $(document).ready(function(e) {    
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
        $('.hide-cont').slideDown(350);
        $('.close-cont').show();
        $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
        $('.hide-cont').slideUp(350);
        $('.close-cont').hide();
        $('.view-cont').show();
    }); 
 });
    
</script>
{% endblock %}
