{% extends 'base.html'%}

{% block section %}
<div class="clear"></div>
<!--Green pad starts-->
<section class="green-pad green-height">
	<div class="row">
	<div class="image-pad logo-shadow">
    	<a href="javascript:void(0);"><img class="border-pad" src="/static/img/logo-v.png" alt="" title="" ></a><a href="javascript:void(0);"><img src="img/logo-n.png" alt="" title="" ></a>
    </div>    
    <div class="title-left">
    {% if project %}
    <h4><a href = '/project/detail/?slug={{obj.slug}}'>{{project.name}}</h4>
    {% else %}
    <h4><a href = '#'>Project Name</h4>
    {% endif %}
    <ul>
        {%if project_funders %}
    	<li><a href="">by {% if project_funders.funder.name %} {{project_funders.funder.name}} {% endif %}</a> </li>
        <li><a href="">NGO Partner: {% if project_funders.implementation_partner.name %} {{project_funders.implementation_partner.name}}{% endif %}</a></li>
        {% else %}
        <li><a href="">by Funder</a> </li>
        <li><a href="">NGO Partner: </a></li>
        {% endif %}
    </ul>    
    </div>
    <a id="myBtn1" class="green-link green-link1" href="javascript:void(0);"> <img src="/static/img/generator-report.png" alt=""> &nbsp;Generate Report</a>
     <div class="menu-bottom">
        <ul>
          <li><a class="active" href="/project/summary/?slug={{project.slug}}">Summary</a></li>
          <li><a href="/managing/listing/?slug={{project.slug}}">Task & Milestone</a></li>
          <li><a href="/manage/project/budget/view/?slug={{project.slug}}">Budget</a></li>
          <li><a href="/upload/list/?slug={{project.slug}}&model=Project">Files</a></li>
        </ul>
     </div>         
    </div>
</section>
<!--Green pad Ends-->
{% endblock %}
<!--Content part starts-->

{% block content %}
<div class="clear"></div>
<!--Content part starts-->
<section class="content-part">
	<div class="row">
    <div class="green-box">
    	<div class="green-box-lft">
    		<h2>Activities</h2>
        <div class="green-content">
          <div id="boxscroll-atm">
          <ul>{% if activity_list %}
              {% for i in activity_list %}
              <li><a href="javascript:void(0);">{{i.name}}<span>({{i.get_activity_type_display}})</span></a>
<!--                <a class="add-task" href="/managing/Activity/ActivityForm/edit/?slug={{i.slug}}"><i class="fa fa-edit"></i> Edit </a>-->
              </li>
              {% endfor %}
              {% else %}
              </h5> No activites are created
              {% endif %}
          </ul>
          </div>
          <div class="clear"></div>
          <a class="add-task" href="/managing/Activity/ActivityForm/add/?slug={{project.slug}}">Add Activity</a>
    	</div>
        <div class="green-box-lft">
    		<h2>Tasks</h2>
        <div class="green-content">
          <div id="boxscroll-atm1">
          <ul>
              {% if task_list %}
              {% for task in task_list %}
              <li><a href="javascript:void(0);">{{task.name}} <span>{{task.start_date}} - {{task.end_date}}</span></a>
<!--              <a class="add-task" href="/managing/Task/TaskForm/edit/?slug={{task.slug}}"><i class="fa fa-edit"></i> Edit</a>-->
              </li>
              {% endfor %}
              {% else %}
              </h5> No tasks are created
              {% endif %}
          </ul>
          </div>
          <div class="clear"></div>
          <a class="add-task" href="/managing/Task/TaskForm/add/?slug={{project.slug}}">Add Task</a>
        </div>
    	</div>
        <div class="green-box-lft">
    		<h2>Milestones</h2>
        <div class="green-content">
          <div id="boxscroll-atm2">
          <ul>
              {% if milestone_list %}
              {% for mile in milestone_list %}
              <li><a href="javascript:void(0);">{{mile.name}} <span>(due - {{mile.overdue|date:'jS F'}})</span></a>
<!--              <a class="add-task" href="/managing/Milestone/MilestoneForm/edit/?id={{mile.id}}"><i class="fa fa-edit"></i> Edit</a>-->
              </li>
              {% endfor %}
              {% else %}
              </h5> No milestones
              {% endif %}
          </ul>
          </div>
          <div class="clear"></div>
          <a class="add-task" href="/managing/Milestone/MilestoneForm/add/?slug={{project.slug}}">Add Milestone</a>
        </div>
    	</div>
     </div>
    </div>
</section>
<!--Content part Ends-->

{% endblock %}

{% block script %}
<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="/static/js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>
 <script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script>
//Toggle
		
	$('.user-menu').on('click',function(){
		$('.dropdown-menu').slideDown(350);
	
	});
	$('.select-down').on('click',function(){
        $('.dropdown-menu1').slideDown(350);
          
    });
	
	$(document).ready(function(e) {	
		/*Content Show/Hide */
		$('.hide-cont').hide();
		$('.close-cont').hide();
		$('.view-cont').click(function(){
			$('.hide-cont').slideDown(350);
			$('.close-cont').show();
			$('.view-cont').hide();
		});
		$('.close-cont').click(function(){
			$('.hide-cont').slideUp(350);
			$('.close-cont').hide();
			$('.view-cont').show();
		});	
		$(document).trigger( "click" );
	});
	
	$(document).click(function(){
	
		$('.user-menu, .select-down').click(function(event){
			event.stopPropagation();
		});
	
		$('.dropdown-menu, .dropdown-menu1').slideUp(350);	 
	
	});		 
</script>

    <script type="text/javascript">
   
	
	var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
    $("#boxscroll-atm").niceScroll("#boxscroll-atm ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});
	// First scrollable DIV
	$("#boxscroll-atm1").niceScroll("#boxscroll-atm1 ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});
	$("#boxscroll-atm2").niceScroll("#boxscroll-atm2 ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});

    
  });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });
		});
</script>
<script src="/static/js/jquery.simplePopup.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#myBtn1').click(function(){
	$('#pop3').simplePopup();
    });
});
</script>

<!---datepicker script-->
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
	$(function() {
	$( ".datepicker" ).datepicker({
	showOn: "button",
	buttonImage: "img/calender-icon.png", 
	buttonImageOnly: true
	});
	});
</script>
{% endblock %}

