{% extends 'project/project-summary.html' %}
{% load urs_tags %}

<!--Content part starts-->

{% block content %}
<div class="clear"></div>
<!--Content part starts-->
<section class="content-part">
  <div class="row">
  <div id="Super_Completion" style="width: 100%;float: left;">Super Category Completion</div>
  <div class=" white-box ">
<!--      <img src="/static/img/wip-img.jpg" alt="">-->
        <div id="gwContainer" className="col-md-12 gantt" style="padding-top: '25px', position: 'relative', height: 'auto', width:'100%'"></div>
    </div>
<div class="green-box">
   <div class="green-box-lft">
      <h2>Activities</h2>
      <div class="green-content">
         <div id="boxscroll-atm">
            <ul>
               {% if activity_list %}
               {% for i in activity_list %}
               <li><a href="javascript:void(0);" act_id={{i.id}} category_id={{i.super_category.id}}>{{i.name}}<span>({{i.get_activity_type_display}}) <i class="fa fa-filter" style="float:right; padding-left: 5px;" onclick="filter(this,this.parentNode.parentNode,'activity')"></i> <i class="fa fa-edit" style="float:right" onclick="activity('{{i.slug}}','{{project.slug}}','{{i.id}}','{{i.super_category.id}}')"></i></span>

<!--               <li><a href="javascript:void(0);" act_id={{i.id}} category_id={{i.super_category.id}}>{{i.name}}<span>({{i.get_activity_type_display}}) <i class="fa fa-edit" style="float:right" onclick="activity('{{i.slug}}','{{project.slug}}','{{i.id}}','{{i.super_category.id}}')"></i></span>-->
               {% get_user_permission request as user_obj %}
<!--                    {% if user_obj.is_admin_user == True %}-->
                  
                      <!-- <a href="/managing/Activity/ActivityForm/edit/{{i.slug}}/?key={{project.slug}}"></a> -->
                  
<!--                    {% endif %}-->
                    </a>
               </li>
               {% endfor %}
               {% else %}
               <li><a href="javascript:void(0);"> No activites are created</a></li>
               {% endif %}
            </ul>
         </div>
         <div class="clear"></div>
                  {% get_user_permission_pmo request as user_obj %}
                    {% if user_obj == 1 %}
                    <a class="add-task" href="/managing/Activity/ActivityForm/add/?slug={{project.slug}}">Add Activity</a>
                    {% endif %}
      </div>
   </div>
      <div class="green-box-lft">
         <h2>Tasks</h2>
         <div class="green-content">
            <div id="boxscroll-atm1">
               <ul>
                  {% if task_list %}
                  {% for task in task_list %}
                  <li><a href="javascript:void(0);" task_id={{task.id}} activity_id={{task.activity.id}} category_id={{task.activity.super_category.id}}>{{task.name}} <span>{{task.start_date | date:"jS M"}} - {{task.end_date | date:'jS M'}}<i class="fa fa-edit" style="float:right" onclick="task('{{task.slug}}','{{project.slug}}','{{task.id}}','{{task.activity.id}}','{{task.activity.super_category.id}}')"></i></span>
<!--                    {% get_user_permission request as user_obj %}-->
<!--                    {% if user_obj.is_admin_user == True %}-->
<!--                     <a class="add-task" href="/managing/Task/TaskForm/edit/{{task.slug}}/?key={{project.slug}}"><i class="fa fa-edit"></i> </a></a>-->
<!--                     {% endif %}-->
                    </a>
                  </li>
                  {% endfor %}
                  {% else %}
                  <li><a href="javascript:void(0);"> No tasks are created </a></li>
                  {% endif %}
               </ul>
            </div>
            <div class="clear"></div>
            {% get_user_permission_pmo request as user_obj %}
                    {% if user_obj == 1 %}
            <a class="add-task" href="/managing/Task/TaskForm/add/?slug={{project.slug}}">Add Task</a>
                {% endif %}
         </div>
      </div>
      <div class="green-box-lft">
         <h2>Milestones</h2>
         <div class="green-content">
            <div id="boxscroll-atm2">
               <ul>
                  {% if milestone %}
                  {% for mile in milestone %}
                  
                  <li><a href="javascript:void(0);" mile_id={{mile.id}} task_ids=[{% for i in mile.task.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}]>{{mile.name}} <span>(Due - {{mile.overdue|date:'jS M'}}){% if mile.status != 2 %} <i class="fa fa-filter" style="float:right; padding-left: 5px;" onclick="filter(this,this.parentNode.parentNode,'milestone')"></i><i class="fa fa-edit" style="float:right" onclick="milestone('{{mile.slug}}','{{project.slug}}','{{mile.id}}','[{% for i in mile.task.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}]')"></i>{% endif %}</span>
<!--                  <li><a href="javascript:void(0);" mile_id={{mile.id}} task_ids=[{% for i in mile.task.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}]>{{mile.name}} <span>(Due - {{mile.overdue|date:'jS M'}}){% if mile.status != 2 %}<i class="fa fa-edit" style="float:right" onclick="milestone('{{mile.slug}}','{{project.slug}}','{{mile.id}}','[{% for i in mile.task.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}]')"></i>{% endif %}</span>-->


<!--                  {% get_user_permission request as user_obj %}-->
<!--                    {% if user_obj.is_admin_user == True %}-->
<!--                                          <a class="add-task" href="/managing/Milestone/MilestoneForm/edit/{{mile.slug}}/?key={{project.slug}}"><i class="fa fa-edit"></i> </a> </a>-->
<!--                  {% endif %}-->
                    </a>
                  </li>
                  {% endfor %}
                  {% else %}
                  <li><a href="javascript:void(0);"> No milestones</a></li>
                  {% endif %}
               </ul>
            </div>
            <div class="clear"></div>
                {% get_user_permission_pmo request as user_obj %}
                    {% if user_obj == 1 %}
                <a class="add-task" href="/managing/Milestone/MilestoneForm/add/?slug={{project.slug}}">Add Milestone</a>
                {% endif %}
         </div>
      </div>
   </div>
</div>
</section>
<!--Content part Ends-->

{% endblock %}

{% block script %}
<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="/static/js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>
 <script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>

<script>
function activity(name,slug,act_id,super_cat_id) {
    window.location.href="/managing/Activity/ActivityForm/edit/"+ name +"/?key="+slug+"&act_id="+act_id+"&category_id="+super_cat_id;
}
function task(name,slug,task_id,act_id,super_id) {
    window.location.href="/managing/Task/TaskForm/edit/"+ name +"/?key="+slug+"&task_id="+task_id+"&act_id="+act_id+"&category_id="+super_id;
}

function milestone(name,slug,mile_id,task_ids) {
    window.location.href="/managing/Milestone/MilestoneForm/edit/"+ name +"/?key="+slug+"&mile_id="+mile_id+"&task_ids="+task_ids;
}
</script>

<!--script for filters by- malcolm-->
<script>
function filter(target,parent,type) {
    if ($(target).hasClass('fa-filter')) {
      $(target).toggleClass('fa fa-ban');
      $(target).toggleClass('fa fa-filter');
      $("#boxscroll-atm1>ul>li").each(function () {
        var child = $(this).children()[0];
        $(this).show();
        if(type=="activity"){
        var actFilter = $(parent).attr('act_id');
        if ($(child).attr('activity_id') != actFilter) {
          $(this).hide();
        }
        }else if(type=="milestone"){
        var actFilter = $(parent).attr('task_ids');
        if (actFilter.includes($(child).attr('task_id'))==false) {
          $(this).hide();
        }
        }
      });
      $('.fa-ban').not(target).each(function(){
        $(this).toggleClass('fa fa-ban');
        $(this).toggleClass('fa fa-filter');
      });
      // Code to filter tasks when the button is clicked
    } else if ($(target).hasClass('fa-ban')) {
      $(target).toggleClass('fa fa-ban');
      $(target).toggleClass('fa fa-filter');
      $("#boxscroll-atm1>ul>li").show();
  // Code to show all tasks when the button is clicked
  }
}
</script>


<script>
//Toggle
    
  $('.user-menu').on('click',function(){
    $('.dropdown-menu').slideDown(350);
  
  });
  $('.select-down').on('click',function(){
        $('.dropdown-menu1').slideDown(350);
          
    });
  
  $(document).ready(function(e) { 
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
      $('.hide-cont').slideDown(350);
      $('.close-cont').show();
      $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
      $('.hide-cont').slideUp(350);
      $('.close-cont').hide();
      $('.view-cont').show();
    }); 
    $(document).trigger( "click" );
  });
  
  $(document).click(function(){
  
    $('.user-menu, .select-down').click(function(event){
      event.stopPropagation();
    });
  
    $('.dropdown-menu, .dropdown-menu1').slideUp(350);   
  
  });    
</script>

    <script type="text/javascript">
   
  
  var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
    $("#boxscroll-atm").niceScroll("#boxscroll-atm ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});
  // First scrollable DIV
  $("#boxscroll-atm1").niceScroll("#boxscroll-atm1 ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});
  $("#boxscroll-atm2").niceScroll("#boxscroll-atm2 ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});

    
  });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });
    });
</script>
<script src="/static/js/jquery.simplePopup.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#myBtn1').click(function(){
  $('#pop3').simplePopup();
    });
});
</script>

<!---datepicker script-->
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
  $(function() {
  $( ".datepicker" ).datepicker({
  showOn: "button",
  buttonImage: "img/calender-icon.png", 
  buttonImageOnly: true
  });
  });
</script>
<link href="/static/css/jsgantt.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/jsgantt.js" type="text/javascript"></script>
<!-- script for gantt chart starts here-->

<script>
    var jsonData = {{taskdict|safe}}
    console.log(jsonData);
    var g = new JSGantt.GanttChart(document.getElementById('gwContainer'), 'week');
    // console.log(jsonData.tasks);
    // Get today and tomorrows date
    var cur = new Date();
    var tom = new Date();
    var project = "";
    project = jsonData.project[0].slug;
    tom.setDate(tom.getDate() + 1);
    var curDate = cur.getFullYear() + '-' +
      (('' + (cur.getMonth() + 1)).length < 2 ? '0' : '') + (cur.getMonth() + 1) + '-' +
      (('' + cur.getDate()).length < 2 ? '0' : '') + cur.getDate();

    var tomDate = tom.getFullYear() + '-' +
      (('' + (tom.getMonth() + 1)).length < 2 ? '0' : '') + (tom.getMonth() + 1) + '-' +
      (('' + tom.getDate()).length < 2 ? '0' : '') + tom.getDate();
    // Get today and tomorrows date
    $.each(jsonData.supercategories, function (i) {
      superId = 1, activity_type = 'Core', taskCompletion = 0, superName = 'Super Category';
      if (this.id != null) {
        superId = this.id;
      }
      superName = this.name;
      var superDesc = this.description;
      if (superName.toLowerCase() != "location") {
        g.AddTaskItem(new JSGantt.TaskItem(superId, superName, '', '', 'ggroupblack', '', 0, null, 0, 1, 0, 1, '',
          '', superDesc, g));
      }
    });
    $.each(jsonData.activities, function (i) {
      var activityId = 11,
        superId = 1,
        activity_type = 'Core',
        taskCompletion = 0,
        activityName = 'Activity';
      if (this.id != null) {
        activityId = this.id.toString();
      }
      if (this.super_category != null) {
        superId = this.super_category;
        if (this.id != null) {
          activityId = this.super_category.toString() + activityId;
        }
      }
      // console.log("ActID", activityId);
      activityName = this.name;
      var activityDesc = this.description;
      g.AddTaskItem(new JSGantt.TaskItem(activityId, activityName, '', '', 'ggroupblack', '', 0, '', 0, 2, superId,
        1, '', '',
        activityDesc, g));
      // console.log("Act");
      // console.log(activityId, activityName, '', '', 'ggroupblack', '', 0, '', 0, 2, superId,1, '', '',activityDesc);
    });
    $.each(jsonData.tasks, function (i) {
      var taskId = 111,
        tempId = 1,
        activityId = 11,
        superId = 1,
        activity_type = 'Core',
        taskCompletion = 0,
        taskName = 'Task',
        taskStatus = 'gtaskred',
        pStartDate = curDate,
        pEndDate = tomDate,
        eStartDate = curDate,
        eEndDate = tomDate,
        slug = "",
        link = "";
      if (this.id != null) {
        taskId = this.id;
        tempId = this.id;
      }
      // added the script 16th-Nov
      if(this.task_progress != null || this.task_progress != undefined){
            taskCompletion = this.task_progress;
      }
      // ended th script
      if (this.activity != null) {
        activityId = this.activity;
      }
      if (this.slug != null) {		
        slug = this.slug;
      }
      $.each(jsonData.activities, function () {
        if (this.id == activityId) {
          activity_type = this.activity_type;
          if (this.super_category != null) {
            superId = this.super_category;
          }
        }
      });
      if (superId != null && activityId != null && taskId != null) {
        taskId = superId.toString() + activityId.toString() + taskId.toString();
      }
      if (superId != null && activityId != null) {
        activityId = superId.toString() + activityId.toString();
      }
      activityId = parseInt(activityId);
      // console.log("TaskID", taskId);
      if ( slug != null && project != ""){		
        // var domain = "";		
        // if(window.location.hostname == ""){		
        //   domain = "http://goodcsrpmu.mahiti.org";		
        // }		
        link = "/managing/my-tasks/details/?slug="+project+"&key=projecttasks&status=1#"+slug;		
      }
      taskName = this.name;
      pStartDate = this.start_date;		
      pEndDate = this.end_date;
      eStartDate = this.expected_start_date;
      eEndDate = this.expected_end_date;
      if (activity_type == "Core") {
        switch (this.status) {
          case "Ongoing":
            taskStatus = 'gtaskblue';
            break;
          case "Open":
            taskStatus = 'gtaskyellow';
            break;
          case "Close":
            taskStatus = 'gtaskgreen';
            break;
          default:
            taskStatus = 'gtaskblue';
            break;
        };
      }
      // For Milestones
      var completionDate = this.actual_end_date;
      console.log('Complete date', completionDate);
      $.each(jsonData.milestones, function (i) {
        var mileId = 111, 
        mileStatus = 'gmilestone redmile '
        depTask = [];
        depTask = this.task;
        mileName = this.name;
        if (this.id != null) {
          mileId = this.id;
        }
        // added the script 16th-Nov
        maxDate = new Date('1970-01-01');		
        var tempArray = [];		
        var n = 0;		
        $.each(depTask, function (index, value) {		
          console.log('value', n);		
          tempArray.push({		
            'id': value		
          });		
          for (var i = 0; i < jsonData.tasks.length; i++) {		
            if (jsonData.tasks[i].id == value && jsonData.tasks[i].actual_end_date != null) {		
              tempArray[n].date = new Date(jsonData.tasks[i].actual_end_date).getTime();		
            }		
            if (i == (depTask.length - 1)) {		
            		
              console.log('Array', depTask)		
              console.log('Max Date',Math.max(tempArray.date));		
            }		
          }		
          n++;		
        });		
        console.log("tempArray", tempArray);
        //end of  the added script
        // if (depTask.length == 1) {
        var ln = depTask.length;
        ln--;
        console.log('depTask', depTask[0]);
        if (depTask[ln] == tempId) {
          var d1 = new Date(eEndDate);
          var d2 = new Date(eEndDate);
          d1.setDate(d1.getDate() + 1);
          d2.setDate(d2.getDate() + 11);
          var mileStart = d1.getFullYear() + '-' +
            (('' + (d1.getMonth() + 1)).length < 2 ? '0' : '') + (d1.getMonth() + 1) + '-' +
            (('' + d1.getDate()).length < 2 ? '0' : '') + d1.getDate();

          var mileEnd = d2.getFullYear() + '-' +
            (('' + (d2.getMonth() + 1)).length < 2 ? '0' : '') + (d2.getMonth() + 1) + '-' +
            (('' + d2.getDate()).length < 2 ? '0' : '') + d2.getDate();
          //Check for milestone complete or calculate delay
          if (completionDate == null) {
            mileStatus = 'gmilestone redmile '
          } else {
            var d3 = new Date(this.overdue);
            var d4 = new Date(completionDate);
            var timeDiff = (d3.getTime() + 86400) - d4.getTime();
            var diffDays = Math.ceil(timeDiff / 86400000);
            console.log('DiffDays', diffDays);
            if (diffDays < 0) {
              var dur = rem = Math.abs(diffDays);
              if (dur < 8) { 
                mileName += " - Delayed by " + dur + " day(s)"
              };
              if (dur >= 8 && dur < 30) {
                dur = Math.floor(dur / 7); 
                //add 16th- Nov
                rem = Math.floor(rem % 7);
                mileName += " - Delayed by " + dur + " week(s) and " + rem + " day(s)";              
                };
                //end
              if (dur >= 30 && dur < 365) { 
                dur = Math.floor(dur / 30);
                //add 16th-Nov
                rem = Math.floor(rem % 30);
                mileName += " - Delayed by " + dur + " month(s) and " + rem + " day(s)";		
              };
                //end 
              if (dur >= 365) { 
                dur = Math.floor(dur / 365);
                //added script 
                rem = Math.floor(rem % 365);
                mileName += " - Delayed by " + dur + " year(s), " + rem + " day(s)";
              };
              //ended script
              console.log('Diff days', mileName);
            } else {
              mileStatus = 'gmilestone greenmile '
              var dur = rem = Math.abs(diffDays);
              if (dur == 0) {
                 mileName += " - On track"
              };
              if (dur < 8) { 
                mileName += " - Ahead by " + dur + " day(s)"
              };
              if (dur >= 8 && dur < 30) { 
                dur = Math.floor(dur / 7);
                rem = Math.floor(rem % 7);//new line
                mileName += " - Ahead by " + dur + " week(s) and " + rem + " day(s)";	//modified
              };
              if (dur >= 30 && dur < 365) { 
                dur = Math.floor(dur / 30);
                rem = Math.floor(rem % 30);//new line
                mileName += " - Ahead by " + dur + " month(s) and " + rem + " day(s)";//modified
              };
              if (dur >= 365) {
                 dur = Math.floor(dur / 365);
                rem = Math.floor(rem % 365);//new line
                mileName += " - Ahead by " + dur + " year(s), " + rem + " day(s)";//modified
                 };
              console.log('Diff days', mileName);
            }
          }
          g.AddTaskItem(new JSGantt.TaskItem(mileId, mileName, mileStart, mileEnd,
            mileStatus, '', 1, '', 100, 0, activityId, 1, '', '', '', g));//changed null to 100
        }
      });
      //Draw task after drawing milestone
      g.AddTaskItem(new JSGantt.TaskItem(taskId, taskName, eStartDate, eEndDate, taskStatus, link, 0,
        '', taskCompletion , 0, activityId, 1, '', '', '', g ,pStartDate, pEndDate));

    });

    g.setShowStartDate(0);
    g.setShowEndDate(0);
    g.setShowRes(0);
    g.setShowDeps(0);
    g.setShowDur(0);
    g.setUseToolTip(1);
    g.setWeekColWidth(50);
    g.setWeekMajorDateDisplayFormat('mon yyyy');
    g.setWeekMinorDateDisplayFormat('W w');
    g.setScrollTo('today');
    g.setTimer(5);		
    g.setShowTaskInfoLink(1);
    g.Draw();
    var collideDiv
    function collision($div1, $div2) {
      var x1 = $div1.offset().left;
      var y1 = $div1.offset().top;
      var h1 = $div1.outerHeight(true);
      var w1 = $div1.outerWidth(true);
      var b1 = y1 + h1;
      var r1 = x1 + w1;
      var x2 = $div2.offset().left;
      var y2 = $div2.offset().top;
      var h2 = $div2.outerHeight(true);
      var w2 = $div2.outerWidth(true);
      var b2 = y2 + h2;
      var r2 = x2 + w2;

      if (b1 < y2 || y1 > b2 || r1 < x2 || x1 > r2){ return false;}
      else{
            collideDiv = $div2;
             return true;
    }
    }
    var count = 0,
      padding = 25,
      arrayTask = [],
      collide = false;
    $('.gselector').hide();
      var previous = null;
      var prePrevious;
      var mile = false;
      $(".gtaskbarcontainer").each(function (index) {
        currParent = $(this).parent().parent().parent();
        listParent = currParent.attr('id').replace('row', '');
        if ($(this).hasClass('gmilecontainer')) {
          mile = true;
        }
        if (previous && $(this).parent().parent().parent().attr('id') == $(previous).parent().parent().parent()
          .attr('id')) {
          // console.log("This ID", $(this).attr('id'), mile);
          if (mile) {

          }
          if (collision($(this), $(previous)) || collision($(this), $(prePrevious))) {
            $('#' + currParent.attr('id') + " .gtaskbarcontainer").each(function () {
              if ($(this).css('top') == '-5px') {
                $(this).css('top', '0px');
              }
            });
            collide = true;
            $(this).css('top', parseInt($(previous).css('top')) + padding + 'px');
            if (count == 0) {
              $(previous).css('top', '0px');
              count++;
            }
            listParentDiv = $('#' + listParent);
            if (parseInt(currParent.css('height')) <= parseInt($(this).css('top'))) {
              listParentDiv.css('height', parseInt(listParentDiv.css('height')) + 25 + 'px');
              currParent.css({
                'height': parseInt(currParent.css('height')) + 25 + 'px',
                'vertical-align': 'top'
              });
            }
          }
        } else {
          count = 0;
          arrayTask = [];
          collide = false;
          $('#' + currParent.attr('id') + ' .gtaskbarcontainer').css({
            top: '-5px'
          });
          mile = false;
        }
        prePrevious = previous;
        previous = this;
      });
    
  </script>
<!--script for super categories starts -->

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
    if (gSuperName.length > 0) {
      var SuperRemain = new Array();
      for (i = 0; i < gSuperComp.length; i++) {
        SuperRemain.push(100 - gSuperComp[i]);
        //SuperRemain = SuperRemain.reverse();
      }
      SuperComp = Highcharts.chart('Super_Completion', {
        chart: {
          type: 'bar',
          backgroundColor: null,
          height: 320,
          borderWidth: 1,
          borderColor: 'rgba(0,0,0,0)',
          margin: [20, 10, 50, 100],
          backgroundColor: '#fbfbfb'
        },
        exporting: {
          enabled: false
        },
        credits: {
          enabled: false
        },
        title: {
          text: null,
        },
        xAxis: {
          categories: gSuperName,
          labels: {
            style: {
              fontWeight: '600',
              fontSize: '1em',
              whiteSpace: 'normal',
              textOverflow: 'ellipsis',
            }
          },
        },
        yAxis: {
          visible: true,
          min: 0,
          max: 100,
          title: {
            text: '% completion',
          },
        },
        plotOptions: {
          series: {
            stacking: 'normal',
            pointWidth: 15
          },
          bar: {
            grouping: false,
            dataLabels: {
              enabled: false
            }
          }
        },
        legend: {
          enabled: false

        },
        series: [{
          name: 'Remaining',
          data: SuperRemain,
          borderWidth: 0,
          color: "#D0D0D0",
        }, {
          name: 'Completed',
          data: gSuperComp,
          color: "#00998b",
          dataLabels: {
            enabled: true,
            inside: true,
            format: '{y}%',
            style: {
              fontSize: '0.75em',
              fontWeight: 'normal',
              color: 'black',
              backgroundColor: 'transparent',
            }
          },
        }]

      });
    }
</script>

<!--script for super categories end -->
<link rel="stylesheet" href="/static/css/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".iframe").fancybox({
        type: 'iframe'
    });
});
</script>
{% endblock %}

