{% extends 'project/project-summary.html' %}
{% load urs_tags %}
{% load common_tags %}
{% load dealy_tags %}
<!--Content part starts-->

{% block content %}
<script>
function activity(name,slug,act_id,super_cat_id) {
    window.location.href="/managing/Activity/ActivityForm/edit/"+ name +"/?slug="+slug+"&act_id="+act_id+"&category_id="+super_cat_id;
}
function task(name,slug,task_id,act_id,super_id) {
    window.location.href="/managing/Task/TaskForm/edit/"+ name +"/?slug="+slug+"&task_id="+task_id+"&act_id="+act_id+"&category_id="+super_id;
}

function milestone(name,slug,mile_id,task_ids) {
    window.location.href="/managing/Milestone/MilestoneForm/edit/"+ name +"/?slug="+slug+"&mile_id="+mile_id+"&task_ids="+task_ids;
}
</script>
<!--script for filters by- malcolm-->
<script>
function filter(target,parent,type) {
    if ($(target).hasClass('fa-filter')) {
      $(target).toggleClass('fa fa-ban');
      $(target).toggleClass('fa fa-filter');
      $("#boxscroll-atm1>ul>li").each(function () {
        var child = $(this).children()[0];
        $(this).show();
        if(type=="activity"){
        var actFilter = $(parent).attr('act_id');
        if ($(child).attr('activity_id') != actFilter) {
          $(this).hide();
        }
        }else if(type=="milestone"){
        var actFilter = $(parent).attr('task_ids');
        if (actFilter.includes($(child).attr('task_id'))==false) {
          $(this).hide();
        }
        }
      });
      $('.fa-ban').not(target).each(function(){
        $(this).toggleClass('fa fa-ban');
        $(this).toggleClass('fa fa-filter');
      });
      // Code to filter tasks when the button is clicked
    } else if ($(target).hasClass('fa-ban')) {
      $(target).toggleClass('fa fa-ban');
      $(target).toggleClass('fa fa-filter');
      $("#boxscroll-atm1>ul>li").show();
  // Code to show all tasks when the button is clicked
  }
}
</script>
<div class="clear"></div>
<!--Content part starts-->
<section class="content-part">
  <div class="row">
<!--  <div class=" white-box white-pad">-->
<!--    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->
<!--  </div>-->
  <div class=" white-box white-pad">
  <div id="pvaContainer" style="width: 50%;float: left;">Planned vs Actual Task Completion Graph</div>
  <div id="Super_Completion" style="width: 50%;float: left;">Super Category Completion</div>
  </div>
  <div class=" white-box">
  <h2>Project Gantt Chart</h2>
        <div class="col-md-12 legendContainer">
          <ul class="legend">
              <li><span class="taskC"></span> Completed  </li>
              <li><span class="taskO"></span> In progress </li>
              <li><span class="taskB"></span> Not started </li>
              <li><span class="taskN"></span> Non-Core </li>
              <li><span class="mileC"></span> On-Time Milestone </li>
              <li><span class="mileD"></span> Delayed Milestone </li>
          </ul>
        </div>
        <div class="col-md-12">
        <div id="gwContainer" className="col-md-12 gantt" style="padding-top: '25px';position: 'relative'; height: 'auto'; width:'100%';"></div>
        </div>
  </div>

<div class="green-box">
   <div class="green-box-lft">
      <h2>Activities</h2>
      <div class="green-content">
         <div id="boxscroll-atm">
            <ul>
               {% if activity_list %}
               {% for i in activity_list %}
               <li><a href="javascript:void(0);" act_id={{i.id}} category_id={{i.super_category.id}}>{{i.name}}<span>({{i.get_activity_type_display}}) <i class="fa fa-filter" style="float:right; padding-left: 5px;" onclick="filter(this,this.parentNode.parentNode,'activity')"></i> <i class="fa fa-edit" style="float:right" onclick="activity('{{i.slug}}','{{project.slug}}','{{i.id}}','{{i.super_category.id}}')"></i></span>

<!--               <li><a href="javascript:void(0);" act_id={{i.id}} category_id={{i.super_category.id}}>{{i.name}}<span>({{i.get_activity_type_display}}) <i class="fa fa-edit" style="float:right" onclick="activity('{{i.slug}}','{{project.slug}}','{{i.id}}','{{i.super_category.id}}')"></i></span>-->
               {% get_user_permission request as user_obj %}
<!--                    {% if user_obj.is_admin_user == True %}-->
                  
                      <!-- <a href="/managing/Activity/ActivityForm/edit/{{i.slug}}/?key={{project.slug}}"></a> -->
                  
<!--                    {% endif %}-->
                    </a>
               </li>
               {% endfor %}
               {% else %}
               <li><a href="javascript:void(0);"> No activites are created</a></li>
               {% endif %}
            </ul>
         </div>
         <div class="clear"></div>
                  {% get_user_permission_pmo request as user_obj %}
                    {% if user_obj == 1 %}
                    <a class="add-task" href="/managing/Activity/ActivityForm/add/?slug={{project.slug}}">Add Activity</a>
                    {% endif %}
      </div>
   </div>
      <div class="green-box-lft">
         <h2>Tasks</h2>
         <div class="green-content">
            <div id="boxscroll-atm1">
               <ul>
                  {% if task_list %}
                  {% for task in task_list %}
                  <li><a href="javascript:void(0);" task_id={{task.id}} activity_id={{task.activity.id}} category_id={{task.activity.super_category.id}}>{{task.name}} <span>{{task.start_date | date:"jS M"}} - {{task.end_date | date:'jS M'}}<i class="fa fa-edit" style="float:right" onclick="task('{{task.slug}}','{{project.slug}}','{{task.id}}','{{task.activity.id}}','{{task.activity.super_category.id}}')"></i></span>
<!--                    {% get_user_permission request as user_obj %}-->
<!--                    {% if user_obj.is_admin_user == True %}-->
<!--                     <a class="add-task" href="/managing/Task/TaskForm/edit/{{task.slug}}/?key={{project.slug}}"><i class="fa fa-edit"></i> </a></a>-->
<!--                     {% endif %}-->
                    </a>
                  </li>
                  {% endfor %}
                  {% else %}
                  <li><a href="javascript:void(0);"> No tasks are created </a></li>
                  {% endif %}
               </ul>
            </div>
            <div class="clear"></div>
            {% get_user_permission_pmo request as user_obj %}
                    {% if user_obj == 1 %}
            <a class="add-task" href="/managing/Task/TaskForm/add/?slug={{project.slug}}">Add Task</a>
                {% endif %}
         </div>
      </div>
      <div class="green-box-lft">
         <h2>Milestones</h2>
         <div class="green-content">
            <div id="boxscroll-atm2">
               <ul>
                  {% if milestone %}
                  {% for mile in milestone %}
                  
                  <li><a href="javascript:void(0);" mile_id={{mile.id}} task_ids=[{% for i in mile.task.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}]>{{mile.name}} <span>(Due - {{mile.overdue|date:'jS M'}}){% if mile.status != 2 %} <i class="fa fa-filter" style="float:right; padding-left: 5px;" onclick="filter(this,this.parentNode.parentNode,'milestone')"></i><i class="fa fa-edit" style="float:right" onclick="milestone('{{mile.slug}}','{{project.slug}}','{{mile.id}}','[{% for i in mile.task.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}]')"></i>{% endif %}</span>
<!--                  <li><a href="javascript:void(0);" mile_id={{mile.id}} task_ids=[{% for i in mile.task.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}]>{{mile.name}} <span>(Due - {{mile.overdue|date:'jS M'}}){% if mile.status != 2 %}<i class="fa fa-edit" style="float:right" onclick="milestone('{{mile.slug}}','{{project.slug}}','{{mile.id}}','[{% for i in mile.task.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}]')"></i>{% endif %}</span>-->


<!--                  {% get_user_permission request as user_obj %}-->
<!--                    {% if user_obj.is_admin_user == True %}-->
<!--                                          <a class="add-task" href="/managing/Milestone/MilestoneForm/edit/{{mile.slug}}/?key={{project.slug}}"><i class="fa fa-edit"></i> </a> </a>-->
<!--                  {% endif %}-->
                    </a>
                  </li>
                  {% endfor %}
                  {% else %}
                  <li><a href="javascript:void(0);"> No milestones</a></li>
                  {% endif %}
               </ul>
            </div>
            <div class="clear"></div>
                {% get_user_permission_pmo request as user_obj %}
                    {% if user_obj == 1 %}
                <a class="add-task" href="/managing/Milestone/MilestoneForm/add/?slug={{project.slug}}">Add Milestone</a>
                {% endif %}
         </div>
      </div>
   </div>
</div>
</section>
<!--Content part Ends-->

{% endblock %}

{% block script %}
<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="/static/js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="/static/js/jquery.nicescroll.min.js"></script>
 <script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" type="text/javascript" />
<script>
function activity(name,slug,act_id,super_cat_id) {
    window.location.href="/managing/Activity/ActivityForm/edit/"+ name +"/?slug="+slug+"&act_id="+act_id+"&category_id="+super_cat_id;
}
function task(name,slug,task_id,act_id,super_id) {
    window.location.href="/managing/Task/TaskForm/edit/"+ name +"/?slug="+slug+"&task_id="+task_id+"&act_id="+act_id+"&category_id="+super_id;
}

function milestone(name,slug,mile_id,task_ids) {
    window.location.href="/managing/Milestone/MilestoneForm/edit/"+ name +"/?slug="+slug+"&mile_id="+mile_id+"&task_ids="+task_ids;
}
</script>




<script>
//Toggle
    
  $('.user-menu').on('click',function(){
    $('.dropdown-menu').slideDown(350);
  
  });
  $('.select-down').on('click',function(){
        $('.dropdown-menu1').slideDown(350);
          
    });
  
  $(document).ready(function(e) { 
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
      $('.hide-cont').slideDown(350);
      $('.close-cont').show();
      $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
      $('.hide-cont').slideUp(350);
      $('.close-cont').hide();
      $('.view-cont').show();
    }); 
    $(document).trigger( "click" );
  });
  
  $(document).click(function(){
  
    $('.user-menu, .select-down').click(function(event){
      event.stopPropagation();
    });
  
    $('.dropdown-menu, .dropdown-menu1').slideUp(350);   
  
  });    
</script>

    <script type="text/javascript">
   
  
  var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
    $("#boxscroll-atm").niceScroll("#boxscroll-atm ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});
  // First scrollable DIV
  $("#boxscroll-atm1").niceScroll("#boxscroll-atm1 ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});
  $("#boxscroll-atm2").niceScroll("#boxscroll-atm2 ul",{cursorborder:"",cursorcolor:"#949494",boxzoom:true});

    
  });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });
    });
</script>
<script src="/static/js/jquery.simplePopup.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#myBtn1').click(function(){
  $('#pop3').simplePopup();
    });
});
</script>

<!---datepicker script-->
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
  $(function() {
  $( ".datepicker" ).datepicker({
  showOn: "button",
  buttonImage: "img/calender-icon.png", 
  buttonImageOnly: true
  });
  });
</script>
<link href="/static/css/jsgantt.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/jsgantt.js" type="text/javascript"></script>
<!-- script for gantt chart starts here-->

<script>
    var jsonData = {{taskdict|safe}}
    console.log(jsonData);
    var g = new JSGantt.GanttChart(document.getElementById('gwContainer'), 'week');
    // console.log(jsonData.tasks);
    // Get today and tomorrows date
    var cur = new Date();
    var tom = new Date();
    var project = "";
    project = jsonData.project[0].slug;
    tom.setDate(tom.getDate() + 1);
    var curDate = cur.getFullYear() + '-' +
      (('' + (cur.getMonth() + 1)).length < 2 ? '0' : '') + (cur.getMonth() + 1) + '-' +
      (('' + cur.getDate()).length < 2 ? '0' : '') + cur.getDate();

    var tomDate = tom.getFullYear() + '-' +
      (('' + (tom.getMonth() + 1)).length < 2 ? '0' : '') + (tom.getMonth() + 1) + '-' +
      (('' + tom.getDate()).length < 2 ? '0' : '') + tom.getDate();
    // Get today and tomorrows date
    $.each(jsonData.supercategories, function (i) {
      superId = 1, activity_type = 'Core', taskCompletion = 0, superName = '';
      if (this.id != null) {
        superId = this.id;
      }
      superName = this.name;
      var superDesc = this.description;
      if (superName.toLowerCase() != "location") {
        g.AddTaskItem(new JSGantt.TaskItem(superId, superName, '', '', 'ggroupblack', '', 0, null, 0, 1, 0, 1, '',
          '', superDesc, g));
      }
      // console.log("Super");
      // console.log(superId, superName, '', '', 'ggroupblack', '', 0, null, 0, 1, 0, 1, '',
      //   '', superDesc);
    });
    $.each(jsonData.activities, function (i) {
      var activityId = 11,
        superId = 1,
        activity_type = 'Core',
        taskCompletion = 0,
        activityName = 'Activity';
      if (this.id != null) {
        activityId = this.id.toString();
      }
      if (this.super_category != null) {
        superId = this.super_category;
        if (this.id != null) {
          activityId = this.super_category.toString() + activityId;
        }
      }
      // console.log("ActID", activityId);
      activityName = this.name;
      var activityDesc = this.description;
      g.AddTaskItem(new JSGantt.TaskItem(activityId, activityName, '', '', 'ggroupblack', '', 0, '', 0, 2, superId,
        1, '', '',
        activityDesc, g));
      // console.log("Act");
      // console.log(activityId, activityName, '', '', 'ggroupblack', '', 0, '', 0, 2, superId,1, '', '',activityDesc);
    });
    $.each(jsonData.tasks, function (i) {
      var taskId = 111,
        tempId = 1,
        activityId = 11,
        superId = 1,
        activity_type = 'Core',
        taskCompletion = 0,
        taskName = 'Task',
        taskStatus = '',
        pStartDate = curDate,
        pEndDate = tomDate,
        eStartDate = curDate,
        eEndDate = tomDate,
        slug = "",
        link = "";
      if (this.id != null) {
        taskId = this.id;
        tempId = this.id;
      }
      if (this.task_progress != null || this.task_progress != undefined) {
        taskCompletion = this.task_progress;
      }
      if (this.activity != null) {
        activityId = this.activity;
      }
      if (this.slug != null) {
        slug = this.slug;
      }
      // activity = jsonData.activities.filter(function( i ) {
      //   if(i.id == activityId){return i.super_category;}
      // });
      $.each(jsonData.activities, function () {
        if (this.id == activityId) {
          activity_type = this.activity_type;
          if (this.super_category != null) {
            superId = this.super_category;
          }
        }
      });
      if (superId != null && activityId != null && taskId != null) {
        taskId = superId.toString() + activityId.toString() + taskId.toString();
      }
      if (superId != null && activityId != null) {
        activityId = superId.toString() + activityId.toString();
      }
      activityId = parseInt(activityId);
      
      if ( slug != null && project != ""){
        // var domain = "";
        // if(window.location.hostname == ""){
        //   domain = "http://goodcsrpmu.mahiti.org";
        // }
        link = "/managing/my-tasks/details/?slug="+project+"&key=projecttasks&status=1#"+slug;
      }
      
      taskName = this.name;
      pStartDate = this.start_date;
      pEndDate = this.end_date;
      eStartDate = this.expected_start_date;
      eEndDate = this.expected_end_date;
      if(taskCompletion==100 && (new Date(eEndDate).getTime() > new Date(pEndDate).getTime()) ){
        taskStatus = 'gtaskdel ';
      }
      if (activity_type == "Core") {
        switch (this.status) {
          case "Ongoing":
            taskStatus += 'gtaskblue';
            break;
          case "Open":
            taskStatus += 'gtaskyellow';
            break;
          case "Close":
            taskStatus += 'gtaskgreen';
            break;
          default:
            taskStatus += 'gtaskblue';
            break;
        };
      }else{
        taskStatus += 'gtaskred';
      }
      // For Milestones
      var completionDate = this.actual_end_date;
      console.log('Complete date', completionDate);
      $.each(jsonData.milestones, function (i) {
        var mileId = 111,
          mileStatus = 'gmilestone redmile '
        depTask = [];
        depTask = this.task;
        mileName = this.name;
        if (this.id != null) {
          mileId = activityId.toString() + this.id.toString();
        }
        maxDate = new Date('1970-01-01');
        var tempArray = [];
        var n = 0;
        $.each(depTask, function (index, value) {
          console.log('value', n);
          tempArray.push({
            'id': value
          });
          for (var i = 0; i < jsonData.tasks.length; i++) {
            if (jsonData.tasks[i].id == value && jsonData.tasks[i].actual_end_date != null) {
              tempArray[n].date = new Date(jsonData.tasks[i].actual_end_date).getTime();
            }
            if (i == (depTask.length - 1)) {

              console.log('Array', depTask)
              console.log('Max Date', Math.max(tempArray.date));
            }
          }
          n++;
        });
        console.log("tempArray", tempArray);
        // if (depTask.length == 1) {
        var ln = depTask.length;
        ln--;
        console.log('depTask', depTask[0]);
        if (depTask[ln] == tempId) {
          var d1 = new Date(eEndDate);
          var d2 = new Date(eEndDate);
          d1.setDate(d1.getDate() + 1);
          d2.setDate(d2.getDate() + 11);
          var mileStart = d1.getFullYear() + '-' +
            (('' + (d1.getMonth() + 1)).length < 2 ? '0' : '') + (d1.getMonth() + 1) + '-' +
            (('' + d1.getDate()).length < 2 ? '0' : '') + d1.getDate();

          var mileEnd = d2.getFullYear() + '-' +
            (('' + (d2.getMonth() + 1)).length < 2 ? '0' : '') + (d2.getMonth() + 1) + '-' +
            (('' + d2.getDate()).length < 2 ? '0' : '') + d2.getDate();
          //Check for milestone complete or calculate delay
          if (completionDate == null) {
            mileStatus = 'gmilestone redmile '
          } else {
            var d3 = new Date(this.overdue);
            var d4 = new Date(completionDate);
            var timeDiff = (d3.getTime() + 86400) - d4.getTime();
            var diffDays = Math.ceil(timeDiff / 86400000);
            console.log('DiffDays', diffDays);
            if (diffDays < 0) {
              var dur = rem = Math.abs(diffDays);
              if (dur < 8) {
                mileName += " - Delayed by " + dur + " day(s)"
              };
              if (dur >= 8 && dur < 30) {
                dur = Math.floor(dur / 7);
                rem = Math.floor(rem % 7);
                mileName += " - Delayed by " + dur + " week(s) and " + rem + " day(s)";
              };
              if (dur >= 30 && dur < 365) {
                dur = Math.floor(dur / 30);
                rem = Math.floor(rem % 30);
                mileName += " - Delayed by " + dur + " month(s) and " + rem + " day(s)";
              };
              if (dur >= 365) {
                dur = Math.floor(dur / 365);
                rem = Math.floor(rem % 365);
                mileName += " - Delayed by " + dur + " year(s), " + rem + " day(s)";
              };
              console.log('Diff days', mileName);
            } else {
              mileStatus = 'gmilestone greenmile '
              var dur = rem = Math.abs(diffDays);
              if (dur == 0) {
                mileName += " - On track"
              };
              if (dur < 8) {
                mileName += " - Ahead by " + dur + " day(s)"
              };
              if (dur >= 8 && dur < 30) {
                dur = Math.floor(dur / 7);
                rem = Math.floor(rem % 7);
                mileName += " - Ahead by " + dur + " week(s) and " + rem + " day(s)";
              };
              if (dur >= 30 && dur < 365) {
                dur = Math.floor(dur / 30);
                rem = Math.floor(rem % 30);
                mileName += " - Ahead by " + dur + " month(s) and " + rem + " day(s)";
              };
              if (dur >= 365) {
                dur = Math.floor(dur / 365);
                rem = Math.floor(rem % 365);
                mileName += " - Ahead by " + dur + " year(s), " + rem + " day(s)";
              };
              console.log('Diff days', mileName);
            }
          }
          g.AddTaskItem(new JSGantt.TaskItem(mileId, mileName, mileStart, mileEnd,
            mileStatus, '', 1, '', 100, 0, activityId, 1, '', '', '', g));
        }
        // } else {
        //   var prevDate, maxDate;
        //   $.each(depTask, function () {
        //     var depValue = this.valueOf();
        //     $.each(jsonData.tasks,function(){
        //       if(this.id == depValue){

        //       }
        //     });
        //     console.log('Dep', this.valueOf(), depTask);
        //   });
        // }
        // g.AddTaskItem(new JSGantt.TaskItem(66141, 'Milestone', '2017-05-30T18:30:00Z', '2017-06-07T00:00:00Z',
        //   'gmilestone', '', 1, '', 10, 0, 6614, 1, '661496FS', '', '', g));
      });


      //Draw task after drawing milestone
      g.AddTaskItem(new JSGantt.TaskItem(taskId, taskName, eStartDate, eEndDate, taskStatus, link, 0,
        '', taskCompletion, 0, activityId, 1, '', '', '', g, pStartDate, pEndDate));
      // console.log("Task");
      // console.log(taskId, this.id, superId, taskName, eStartDate, eEndDate, taskStatus, '', 0,
      //   '', 0, 0, activityId, 1, '', '', '');

    });

    g.setShowStartDate(0);
    g.setShowEndDate(0);
    g.setShowRes(0);
    g.setShowDeps(0);
    g.setShowDur(0);
    g.setUseToolTip(1);
    g.setWeekColWidth(50);
    g.setWeekMajorDateDisplayFormat('mon yyyy');
    g.setWeekMinorDateDisplayFormat('W w');
    g.setScrollTo('today');
    g.setTimer(5);
    g.setShowTaskInfoLink(1);
    g.Draw();
    var collideDiv;
    function collision($div1, $div2) {
      var x1 = $div1.offset().left;
      var y1 = $div1.offset().top;
      var h1 = $div1.outerHeight(true);
      var w1 = $div1.outerWidth(true);
      var b1 = y1 + h1;
      var r1 = x1 + w1;
      var x2 = $div2.offset().left;
      var y2 = $div2.offset().top;
      var h2 = $div2.outerHeight(true);
      var w2 = $div2.outerWidth(true);
      var b2 = y2 + h2;
      var r2 = x2 + w2;

      if (b1 < y2 || y1 > b2 || r1 < x2 || x1 > r2) { return false; }
      else {
        collideDiv = $div2;
        return true;
      }
    }
    var count = 0,
      padding = 25,
      arrayTask = [],
      collide = false;
      //$('.gselector').hide();
      function ganttRedo() {
        var previous = null;
        var p1, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11, p12, p13, p14, p15 = null;
        var mile = false;
        $(".gtaskbarcontainer").each(function (index) {
          currParent = $(this).parent().parent().parent();
          listParent = currParent.attr('id').replace('row', '');
          if ($(this).hasClass('gmilecontainer')) {
            mile = true;
          }
          if (previous && $(this).parent().parent().parent().attr('id') == $(previous).parent().parent().parent()
            .attr('id')) {
            collide = false;
            if (collision($(this), $(previous))) {
              collide = true;
            } else if (collision($(this), $(p1))) {
              collide = true;
            } else if (p2 != undefined && collision($(this), $(p2))) {
              collide = true;
            } else if (p3 != undefined && collision($(this), $(p3))) {
              collide = true;
            } else if (p4 != undefined && collision($(this), $(p4))) {
              collide = true;
            } else if (p5 != undefined && collision($(this), $(p5))) {
              collide = true;
            } else if (p6 != undefined && collision($(this), $(p6))) {
              collide = true;
            } else if (p7 != undefined && collision($(this), $(p7))) {
              collide = true;
            } else if (p8 != undefined && collision($(this), $(p8))) {
              collide = true;
            } else if (p9 != undefined && collision($(this), $(p9))) {
              collide = true;
            } else if (p10 != undefined && collision($(this), $(p10))) {
              collide = true;
            } else if (p11 != undefined && collision($(this), $(p11))) {
              collide = true;
            } else if (p12 != undefined && collision($(this), $(p12))) {
              collide = true;
            } else if (p13 != undefined && collision($(this), $(p13))) {
              collide = true;
            } else if (p14 != undefined && collision($(this), $(p14))) {
              collide = true;
            } else if (p15 != undefined && collision($(this), $(p15))) {
              collide = true;
            }

            if (collide) {
              $('#' + currParent.attr('id') + " .gtaskbarcontainer").each(function () {
                if ($(this).css('top') == '-5px') {
                  $(this).css('top', '0px');
                }
              });
              $(this).css('top', parseInt($(previous).css('top')) + padding + 'px');
              console.log("gtaskbarcontainer",this,$(previous).css('top'),$(this).css('top'),$(collideDiv));
              if (count == 0) {
                $(previous).css('top', '0px');
                count++;
              }
              listParentDiv = $('#' + listParent);
              if (parseInt(currParent.css('height')) <= parseInt($(this).css('top'))) {
                listParentDiv.css('height', parseInt(listParentDiv.css('height')) + 25 + 'px');
                currParent.css({
                  'height': parseInt(currParent.css('height')) + 25 + 'px',
                  'vertical-align': 'top'
                });
              }
            }
          } else {
            count = 0;
            arrayTask = [];
            collide = false;
            $('#' + currParent.attr('id') + ' .gtaskbarcontainer').css({
              top: '-5px'
            });
            mile = false;
          }
          p15 = p14;
          p14 = p13;
          p13 = p12;
          p12 = p11;
          p11 = p10;
          p10 = p9;
          p9 = p8;
          p8 = p7;
          p7 = p6;
          p6 = p5;
          p5 = p4;
          p4 = p3;
          p3 = p2;
          p2 = p1;
          p1 = previous;
          previous = this;
        });
      }
      $(document).ready(function(){ganttRedo();})
  </script>
<!--script for super categories starts -->

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
    console.log('gSuper',gSuperName,gSuperComp)
    if (gSuperName.length > 0) {
      var SuperRemain = new Array();
      $.each(gSuperName,function(i){
        console.log("gSuper",gSuperComp[i],gSuperName[i])        
        if(gSuperName[i]==""){
          gSuperComp.splice(i,1);
          gSuperName.splice(i,1);
        }
      })
      for (i = 0; i < gSuperComp.length; i++) {
        SuperRemain.push(100 - gSuperComp[i]);
        //SuperRemain = SuperRemain.reverse();
      }
      SuperComp = Highcharts.chart('Super_Completion', {
        chart: {
          type: 'bar',
          height: '400',
          borderWidth: 1,
          borderColor: 'rgba(0,0,0,0)',
          backgroundColor: '#fbfbfb',
          marginTop: 75
        },
        title: {
            text: '<h2>Super Category Completion</h2>'
        },
        exporting: {
          enabled: false
        },
        legend: {
            align: 'right',
            verticalAlign: 'top'
        },
        credits: {
          enabled: false
        },
        xAxis: {
          categories: gSuperName,
          labels: {
            style: {
              fontWeight: '600',
              fontSize: '1em',
              whiteSpace: 'normal',
              textOverflow: 'ellipsis',
            }
          },
        },
        yAxis: {
          visible: true,
          min: 0,
          max: 100,
          title: {
            text: '% completion',
          },
        },
        plotOptions: {
          series: {
            stacking: 'normal',
            pointWidth: 15
          },
          bar: {
            grouping: false,
            dataLabels: {
              enabled: false
            }
          }
        },
        legend: {
          enabled: false

        },
        series: [{
          name: 'Remaining',
          data: SuperRemain,
          borderWidth: 0,
          color: "#D0D0D0",
        }, {
          name: 'Completed',
          data: gSuperComp,
          color: "#00998b",
          dataLabels: {
            enabled: true,
            inside: true,
            format: '{y}%',
            style: {
              fontSize: '0.75em',
              fontWeight: 'normal',
              color: 'black',
              backgroundColor: 'transparent',
            }
          },
        }]

      });
    }
</script>

<!--script for super categories end -->

<!-- script for planned vs actual start -->

<script>
  var pvaData=[];
  var pvaSorted=[];
    function getNextWeek(y,w) {
      var simple = new Date(y, 0, 9 + (w) * 7);
      var dow = simple.getDay();
      var ISOweekStart = simple;
      if (dow <= 4)
          ISOweekStart.setDate(simple.getDate() - simple.getDay() + 1);
      else
          ISOweekStart.setDate(simple.getDate() + 8 - simple.getDay());
      return ISOweekStart;
    }
    temp = {{ser_hist|safe}}
    $.each(temp,function(i){
      pvaData[i] = temp[i].fields;
    });
    //Sort object array by date
    pvaData.sort(function(a,b){
      return new Date(b.modified) - new Date(a.modified);
    });
    //Remove the time for each day
    $.each(pvaData,function(){
      var d = this.modified;
      this.modified = new Date(d);
      this.modified.setHours(0, 0, 0, 0);
      this.modified = new Date(this.modified);  
    })
    $.each(jsonData.tasks,function(){
      var temp = {};
      temp.active = 2;
      temp.activity = this.activity;
      temp.name = this.name;
      temp.actual_start_date = this.actual_start_date;
      temp.actual_end_date = this.actual_end_date;
      temp.assigned_to = this.assigned_to;
      temp.created = this.start_date;
      temp.end_date = this.end_date;
      temp.id = this.id;
      temp.modified = this.actual_end_date;
      temp.slug = this.slug;
      temp.start_date = this.start_date;
      temp.task_progress = this.task_progress
      pvaSorted.push(temp);
    })
    //Get rows with unique date and task
    var flags = {},i;
    for( i=0; i<pvaData.length; i++) {
        if( flags[(pvaData[i].id).toString()+(pvaData[i].modified).toString()]) continue;
        flags[(pvaData[i].id).toString()+(pvaData[i].modified).toString()] = true;
        pvaSorted.push(pvaData[i]);
    }
    console.log("pvaData",pvaSorted)
    var week = d3.timeFormat("%Y-%U");

    var actnest = d3.nest().key(function (d) {
      if(d.actual_end_date!=null){
        return week(new Date(d.actual_end_date));
      }else{
        return null;
      }
    }).entries(pvaSorted);
    console.log("Check actual",actnest);
    
    var plannest = d3.nest().key(function (d) {
        return week(new Date(d.end_date));
    }).entries(jsonData.tasks);
    //Count for each day and store in the array
    // var map = pvaSorted.reduce(function(map, elem) { 
    //   var date = elem.modified;
    //   var count = +elem.task_progress;
    //   console.log("Poya",map[date])
    //   if(map[date]%100==0||map[date]%1000==0){
    //   map[date] = (map[date] || 0) + count;
    //   }else{
    //   map[date] = 0 + count;
    //   }
    //   return map 
    // }, {}) 
    var maxComp = 0;
    var chartData = [];
    console.log("Plannest",plannest)
    // $.each(plannest, function(){
    //   $.each(this.values,function(){
    //     var weight = diffDates(this.start_date,this.end_date);
    //     if(weight==0){weight=1;} 
    //     maxComp += (weight * 100);
    //   })
    // })
    // --- For Planned Tasks ---
    plannest.sort(function(a,b){
      return new Date(b.modified) - new Date(a.modified);
    });
    $.each(plannest , function(){
      var plankey = this.key.toString().split('-');
      var week = getNextWeek(plankey[0],plankey[1]);
      var comp = 0;
      $.each(this.values,function(){
        var weight = (new Date(this.end_date).getTime() - new Date(this.start_date).getTime());
        comp += (weight * 100);
        console.log("keys", comp, this.id , weight);
      })
      chartData.push([(week.getTime()+19800000),comp]);
      console.log("Key",week.getTime(),comp)
    })
    console.log("CD",chartData,maxComp,plannest)
    chartData.sort(function(a,b){
      return new Date(a[0]) - new Date(b[0]);
    });
    console.log("CDA",chartData)
    temp = 0;
    $.each(chartData,function(){
      maxComp += this[1];
      this[1] = this[1] + temp;
      temp = this[1];
    })
    $.each(chartData,function(){
      this[1] = Math.round((this[1]/maxComp)*100);
    });
    console.log("Map2",plannest,actnest) 
    // var cArray = Object.keys(map).map(function(elem) {
    // return { date: elem, count: map[elem]/100 }
    // })
    // console.log("Map",cArray)
    // var chartData = [];
    // var Cprev = [{date:"",count:0}];
    // $.each(cArray,function(n,i){
    //   chartData.push([(new Date(this.date)).getTime(),(this.count+Cprev.count)]);
    //   console.log("Value",Cprev,"this",(this.count+Cprev.count))
    //   if(n>-1){Cprev = cArray[(n)];}
    // })
    // chartData.reverse();
    // --- For Actual Tasks --- 
    var AmaxComp = 0;
    var AchartData = [];
    actnest.sort(function(a,b){
      return new Date(b.end_date) - new Date(a.end_date);
    });
    console.log("Asort",actnest)
    $.each(actnest , function(){
      if(this.key!="null"){
        var plankey = this.key.toString().split('-');
        var week = getNextWeek(plankey[0],plankey[1]);
        var compA = 0;
        console.log(new Date(week),"Key",this.values)
        //Remove tasks with same id in the same week 
        var weekUID = [];
        for( i=0; i<this.values.length; i++) {
            if( flags[(this.values[i].id)]) continue;
            flags[(this.values[i].id)] = true;
            weekUID.push(this.values[i]);
        }
        console.log(weekUID,'weelUID');
        $.each(weekUID,function(){
          var weight = (new Date(this.end_date).getTime() - new Date(this.start_date).getTime());
          compA += (weight * this.task_progress);
          console.log("taskval",this.id,compA);
        })
        AchartData.push([(week.getTime()+19800000),compA]);
      }
    })
    console.log("aCD",AchartData,AmaxComp)
    AchartData.sort(function(a,b){
      return new Date(a[0]) - new Date(b[0]);
    });
    console.log("aCDA",AchartData)
    temp = 0;
    $.each(AchartData,function(){
      AmaxComp += this[1];
      this[1] = this[1] + temp;
      temp = this[1];
    })
    $.each(AchartData,function(){
      this[1] = Math.round((this[1]/maxComp)*100);
    });
    console.log("PVA",AchartData,pvaData);
    PVAChart = Highcharts.chart('pvaContainer', {
      chart: {
        height: '400',
        borderWidth: 1,
        borderColor: 'rgba(0,0,0,0)',
        backgroundColor: '#fbfbfb'
      },
      title: {
          text: '<h2>Planned vs Actual Completion</h2>'
      },
      xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
              month: '%b',
              year: '%Y'
          },
          labels: {
            format: '{value:%e %b \'%y}'
          },
          title: {
              text: 'Date'
          }
      },
      yAxis: {
          title: {
              text: 'Task Completion %'
          },
          max: 100
      },
      tooltip: {
          valueSuffix: '%',
          shared: true
      },
      legend: {
          align: 'right',
          verticalAlign: 'top'
      },
      exporting: {
        enabled: false
      },
      credits: {
        enabled: false
      },
      plotOptions: {
          series: {
              pointInterval: 24 * 3600 * 1000 * 7,
              label: {
                  connectorAllowed: false
              },
              marker: {
                    enabled: true
                }
          },
          exporting: false
      },

      series: [{
        name: 'Planned',
        data: chartData,
        color: '#169876'
    },{
        name: 'Actual',
        data: AchartData,
        color: '#006C90'
    }],

      responsive: {
          rules: [{
              condition: {
                  maxWidth: 500
              },
              chartOptions: {
                  legend: {
                      layout: 'horizontal',
                      align: 'center',
                      verticalAlign: 'bottom'
                  }
              }
          }]
      }

    });
</script>
<!-- script for planned vs actual ends -->

<link rel="stylesheet" href="/static/css/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".iframe").fancybox({
        type: 'iframe'
    });
});
</script>
<!--SCRIPT FOR DEALY DRILL DOWN STARTS    -->
<!--<script src="http://github.highcharts.com/master/highcharts.js"></script>-->
<!--<script src="http://github.highcharts.com/master/modules/drilldown.js"></script>-->
<script src="/static/js/highcharts.js" type="text/javascript"></script>
<script src="/static/js/drilldown.js" type="text/javascript"></script>
<script>
var project_slug = '{{request.GET.slug}}'
{% super_category_delay request.GET.slug as super_list %}
var categories = {{super_list|safe}}
console.log('super_cat');
console.log(categories);
$(function() {

  // Create the chart

    
  $('#container').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: 'Delay Drill Down'
      },
      xAxis: {
        type: 'category',
      },
      yAxis: {
        title: {
          text: 'Duration (days)'
        }
      },
      tooltip: {
        valueSuffix: ' days'
      },
      credits: {
        enabled: false
      },
      plotOptions: {
        series: {
          borderWidth: 1,
          dataLabels: {
            enabled: false,
          }
        }
      },
      series: [{
        id: 'toplevel',
        name: 'Super Category',
        color: '#00998b',
        data: categories,
      }],
      drilldown: {
        series: [{
          id: 'activity',
          name: 'Activity',
          color: '#006C90',
          data: [{
            name: 'Refurbishment',
            y: 1,
            drilldown: 'task'
          }, {
            name: 'Operation',
            y: -2,
            drilldown: 'task'
          }, {
            name: 'Maintenance',
            y: -3,
            drilldown: 'task'
          }, {
            name: 'Behavioural Change Communication',
            y: 4,
            drilldown: 'task'
          }]
        },
        {
            id:'activity1',
            name:'Activity',
            color:'#006C90',
            data: [{
            name: 'Maintenance',
            y: -3,
            drilldown: 'task'
          }, {
            name: 'Behavioural Change Communication',
            y: 4,
            drilldown: 'task'
          }]
        }, 
        {
          id: 'task',
          name: 'Task',
          data: [{
            name: 'Hiring of Project Staff',
            y: -1,
            task_progress: 20
          }, {
            name: 'Operations',
            y: 4,
            task_progress: 90
          }, {
            name: 'Maintainence Support',
            y: -3,
            task_progress: 40
          }, {
            name: 'Documentation of Case Studies',
            y: -4,
            task_progress: 70
          }]
        }]
      }, function(chart){	
        	
			console.log(chart,'this')
        }
      
    })
});

</script>
<!--SCRIPT FOR DELAY DRILL DOWN (ENDS)    -->
{% endblock %}

