{% extends 'base.html' %}
{% load roles_tags %}
{% block section %}
<div></div>
{% endblock %}
{% block content %}
<!--<link href="static/css/multiselect.css" media="screen" rel="stylesheet" type="text/css">-->
    <!-- Content Header (Page header) -->
<style>
    .error li{ color :red;}
    .errorlist li{color :red;}
    #date_error,#min_max {color : red;}
</style>

    <!-- Main content -->

        {% with "upload-images"|make_string:"add" as keystring %}
            {% if request.user.is_superuser or request|has_permission_for_action:keystring %}
<section class="content-part">
	<div class="row">
	{% if timeline == 1 %}
    <form id="timeline_form" class="form-horizantal budget_form" action="{{request.path}}" method='POST' enctype="multipart/form-data">{% csrf_token %}
    {% else %}
    <form class="form-horizantal budget_form" action="{{request.path}}" method='POST' enctype="multipart/form-data">{% csrf_token %}
    {% endif %}
     <div class="col-md-12">
                   <h3 class="border_line">Upload Images</h3>
                  
        </div>
       <div class="col-md-6 nopadding">
            <form action="{{request.path}}" method='POST' enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form %}
                         {{form.media}}
                        <div class="col-md-12">
                            <div class="form-group">
                                
                                <label>{{field.label_tag}}</label>
                                {{field}}
                                {{field.errors}}
                                <font color=#fc282f><b><span id="{{field.auto_id}}1"></span></b></font>
                                
                            </div>
                        </div>
                    {% endfor %}
            <input id = 'slug' name = 'slug' type='hidden' value = "{{project.slug}}"/>
           <div class="col-md-12">
                <div class="form-group">
              <input class="budget_button" type="submit" value="Save" onclick="return ValidateImage();" />
              <a class="btn btn-success" href="/project/summary/?slug={{project.slug}}&key=summary" style="margin-right:5px;float: right;">Cancel</button></a>
           </div>
           </div>
        </div>
    </form>
    
    
    
    </div>
</section>
{% else %}
You do not have access pls contact administrator
{% endif %}
{% endwith %}

  
<script>
//Toggle
        
         $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
         $(document).ready(function(e) {    
    /*Content Show/Hide */
    $('.hide-cont').hide();
    $('.close-cont').hide();
    $('.view-cont').click(function(){
        $('.hide-cont').slideDown(350);
        $('.close-cont').show();
        $('.view-cont').hide();
    });
    $('.close-cont').click(function(){
        $('.hide-cont').slideUp(350);
        $('.close-cont').hide();
        $('.view-cont').show();
    }); 
 });
    
</script>
{% endblock %}

  {% block script %}
<script src="/static/js/jquery.quicksearch.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="/static/js/jquery.quicksearch.js"></script>
<script src = "/static/js/jquery.multi-select.js"></script>

<script>
    $(document).ready(function() {
        $( "#id_date" ).datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true,changeYear: true });
        $( "#id_end_date" ).datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true,changeYear: true });
        $( "#id_actual_start_date" ).datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true,changeYear: true });
        $( "#id_actual_end_date" ).datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true,changeYear: true });
       // $( "#id_overdue" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>

<script>
    $(document).ready(function() {
    if ('{{model_name}}' == 'Milestone'){
    $('#id_task').on('click',function(e){
        var tasks_ids = $('#id_task').val();
        $.ajax({
            url:'/managing/milestone/overdue/',
            type:'GET',
            data:{'id':tasks_ids},
            dataType:"json",
            success:function(data){
            if (data.milestone_overdue_date != ""){
                document.getElementById("id_overdue").value = data.milestone_overdue_date;
             }
            else{
                $( "#id_overdue_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
                }
            },
            error : function(){}
        });
        e.stopImmediatePropagation();
        return false;
      });
    }
    });
</script>

<script>
    $(document).ready(function() {
    $('#id_activity').on('change',function(e){
        
        var select_id = $('#id_activity').val();
        $.ajax({
            url:'/managing/task/dependencies/',
            type:'GET',
            data:{id:select_id},
            dataType:"json",
            success:function(data){
                if (data.project_start_date != ""){
                    document.getElementById("id_start_date").value = data.project_start_date;
                 }
                else{
                    $( "#id_start_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
                    }
                //document.getElementById("id_task_dependency").value = data.tasks_dependency;
                $('#id_task_dependency')
                    .find('option')
                    .remove()
                    for(var i=0;i<data.tasks_dependency.length;i++){
                        
                        $('#id_task_dependency').append('<option value='+data.tasks_dependency[i]['id']+'>'+data.tasks_dependency[i]['name']+'</option>')
                        }
            },
            error : function(){}
        });
        e.stopImmediatePropagation();
        return false;
      });
    });
</script>
{% if timeline == 1 %}
<script type="text/javascript">
    $(document).ready(function(){
        // $('select[multiple=multiple]').multiSelect()
        $("#timeline_form").validate({
            rules :
            {
                name : {required:true, maxlength: 300},
                date : {required:true},
                description : {required:true},
                attachment_file : {required:true},
            },
            messages:
            {
                name:{required:"<font color=#fc282f>Please enter name"},
                date : {required:"<font color=#fc282f>Please select Date</font>"},
                description:{required:"<font color=#fc282f>Please enter description</font>"},
                attachment_file:{required:"<font color=#fc282f>Please upload Image"},


            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },


        });
        
});
</script>

<script>
(function($) {
    $.fn.checkFileType = function(options) {
        var defaults = {
            allowedExtensions: [],
            success: function() {},
            error: function() {}
        };
        options = $.extend(defaults, options);

        return this.each(function() {

            $(this).on('change', function() {
                var value = $(this).val(),
                    file = value.toLowerCase(),
                    extension = file.substring(file.lastIndexOf('.') + 1);

                if ($.inArray(extension, options.allowedExtensions) == -1) {
                    //options.error();
                    alert("Please upload valid Image file");
                    $(this).focus();
                    document.getElementById('id_attachment_file1').innerHTML="<br>Please Upload JPEG/PNG/GIF Image file formats only "
                } else {
                    document.getElementById('id_attachment_file1').innerHTML=""

                }

            });

        });
    };

})(jQuery);

$(function() {
    $('#id_attachment_file').checkFileType({
        allowedExtensions: ['jpg', 'jpeg','png','gif'],
        success: function() {
            alert('Success');
        },
        error: function() {
            alert('Error');
        }
    });

});
</script>

<script>
function ValidateImage() {
    var val = document.getElementById("id_attachment_file1");
    if (val.innerHTML == '') {
        return true;
    } else{
        alert("Please upload valid Image file");
        return false;
    };
    

}
</script>
{% endif %}
{% endblock %}
