{% extends 'base.html' %}
<div class="clear"></div>
<section class="content-part">
	<div class="row">
	
    <form class="form-horizantal budget_form">
     <div class="col-md-12">
      <h3 class="border_line">Form Details</h3>
        </div>
       <div class="col-md-6 nopadding">
        <div class="col-md-12">
        <div class="form-group">
            <label>Project</label>
            <input type="text" class="form-control" placeholder="project">
        </div>
            </div>
        <div class="col-md-6">
        <div class="form-group">
            <label>Start Date</label>
            <input type="text" id="from" name="from" class="form-control" placeholder="mm/dd/yy">
        </div>
           </div>
           <div class="col-md-6">
        <div class="form-group">
            <label>End Date</label>
            <input type="text" id="to" name="to" class="form-control" placeholder="mm/dd/yy">
        </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
            <label>Select</label>
            <select class="form-control">
            <option>Select dropdown</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            </select>
        </div>
        </div>
        
        <div class="col-md-12">
        <div class="form-group">
           <label>Textarea</label>
            <textarea rows="5" cols="50" class="form-control text_area" placeholder="Comment"></textarea>
            </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
            <label>Multiselect</label>
           <select class="test" multiple="multiple">
          <option value="1">Option 1</option>
            <option value="2" >Option 2</option>
            <option value="3">Option 3</option>
            <option value="4" >Option 4</option>
            <option value="5">Option 5</option>
      
    </select>
               </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
            <label>Radio</label>
            <div class="option_box">
                <input type="radio"><span> Radio1</span>
                <input type="radio"><span> Radio2</span>
                <input type="radio"><span> Radio3</span>
            </div>
               </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
            <label>Checkbox</label>
            <div class="option_box">
                <input type="checkbox"><span> checkbox1</span>
                <input type="checkbox"><span> checkbox2</span>
                <input type="checkbox"><span> checkbox3</span>
            </div>
               </div>
           </div>
           <div class="col-md-12">
        <div class="form-group">
              <input type="submit" class="budget_button" value="Submit">
               </div>
           </div>
        </div>
    </form>
    
    
    
    </div>
</section>
<!--Content part Ends-->

<!--Footer starts-->
<footer>
    <div class="row">
        <div class="f-left">
        	<ul>
            	<li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Terms of Service</a></li>
            </ul>
        </div>
        <div class="f-right">&copy; 2017 Good CSR. All Rights Reserved. Privacy Policy Terms of Service</div>
    </div>
</footer>
<!--Footer Ends-->

</div>

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="js/common.js" /></script>
<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->
<script src="js/jquery.nicescroll.min.js"></script>
<script>
//Toggle
		
		 $('.user-menu').on('click',function(){
          $('.dropdown-menu').slideToggle();
          
        });
		 $(document).ready(function(e) {	
	/*Content Show/Hide */
	$('.hide-cont').hide();
	$('.close-cont').hide();
	$('.view-cont').click(function(){
		$('.hide-cont').slideDown(350);
		$('.close-cont').show();
		$('.view-cont').hide();
	});
	$('.close-cont').click(function(){
		$('.hide-cont').slideUp(350);
		$('.close-cont').hide();
		$('.view-cont').show();
	});	
 });
	
</script>

    <script type="text/javascript">
   
	
	var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
    </script>
    <script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll, .table-resp tbody").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true}); // First scrollable DIV

    
  });
</script>
<script src="js/bootstrap.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>
  <script src="js/fSelect.js"></script>
<script>
$(function($) {
    $(function() {
        $('.test').fSelect();
    });
});
</script>
</body>
</html>

