{% extends 'project/project-summary.html' %}
{% load common_tags %}
{% load urs_tags %}

{% block section %}
<style>
.small_height{
height: 30px !important;
line-height: 24px;
padding: 5px;
font-size: 14px;
}
</style>
    <section class="green-pad green-height">
    <div class="row">
        <div class="image-pad orglogo ">
            {% get_org_logo projectobj as org_logo %}
        	<a href="javascript:void(0);"> {% if org_logo %}<img src="{{org_logo}}"  alt="" title="" height='117px' width = '100px'> {% else %}<img src="/static/img/GoodCSR_color_circle.png" alt="" title="" height='117px' width = '100px'> {% endif %}</a><a href="javascript:void(0);"></a>
<!--    	<img src="img/logo-n.png" alt="" title="" ></a>-->
        </div>
    </div>
    </section>
{% endblock %}


{% block content %}
<div class="clear"></div>
<!--Content part starts-->
<section class="content-part">
   <div class="row">
      <div class="left-task">
         <div class="content-top content-top-task">
          <div class="col-md-12">
        <div class='col-md-3 nopadding'><label style="color: #00998b;float: left;font-weight: bold;margin-top: 20px;margin-left: 0px;">Project</label></div>
        <div class="col-md-5 nopadding">
                <select style="margin-left: -15px;" name="year" id="proj_select" class = "form-control small_height" >
                    <option value = "Select Year">Select</option>
                    {% for i in project_list %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
        </div>

      </div>
         </div>
         <div id="boxscroll-pad">
            <div class="task-head">
               <h4>Overdue</h4>
               <span>{% if over_due %}{{over_due | length }} {% else %} 0{% endif %}</span>
            </div>
            <ul>
               {% if over_due %}
               {% for task in over_due %}
               <div class="project proj_{{task.activity.project.name|remove_spcl_char}}"><li><a href = # class="hide-show"  id={{task.slug}} >{{task.name}} <span>{{task.start_date |date:'jS F Y'}} - {{task.activity.name}}</span><span>{% if status == '0' %}{{task.activity.project.name|title}}{% endif %}</span></a></li></div>
               {% endfor %}
               {% endif %}
            </ul>
            <div class="task-head current-date">
               <h4>Today</h4>
               <span>{% if tasks_today %}{{tasks_today | length }} {% else %} 0{% endif %}</span>
            </div>
            <ul>
               {% if tasks_today %}
               {% for i in tasks_today %}
               <li><a href = # class="hide-show" id={{i.slug}}>{{i.name}} <span>{{i.start_date|date:'jS F Y'}} - {{i.activity.name}}</span><span>{% if status == '0' %}{{i.activity.project.name|title}}{% endif %}</span></a></li>
               {% endfor %}
               {% else %}
               <li><a href="javascript:void(0);">No tasks</a></li>
               {% endif %}
            </ul>
            <div class="task-head">
               <h4>Tommorow</h4>
               <span>{% if tasks_tomorrow %}{{tasks_tomorrow | length }} {% else %} 0{% endif %}</span>
            </div>
            <ul>
               {% if tasks_tomorrow %}
               {% for j in tasks_tomorrow %}
               <li><a href = # class="hide-show" id={{j.slug}}>{{j.name}} <span>{{j.start_date|date:'jS F Y'}} - {{j.activity.name}}</span><span>{% if status == '0' %}{{j.activity.project.name|title}}{% endif %}</span></a></li>
               {% endfor %}
               {% else %}
               <li><a href="javascript:void(0);">No tasks</a></li>
               {% endif %}
            </ul>
            <div class="task-head">
               <h4>Tasks</h4>
               <span>{% if remain_tasks %}{{remain_tasks | length }} {% else %} 0{% endif %}</span>
            </div>
            <ul>
               {% if remain_tasks %}
               {% for t in remain_tasks %}

               <div class="project proj_{{t.activity.project.name}}"><li><a href = # class="hide-show" id={{t.slug}}>{{t.name}} <span>{{t.start_date|date:'jS F Y'}} - {{t.activity.name}}</span></a></li></div>
               {% endfor %}
               {% else %}
               <li><a href="javascript:void(0);">No tasks</a></li>
               {% endif %}
            </ul>
         </div>
      </div>
      {% for i in task_listing %}
      <div class="right-task div-{{i.slug}}">
       <div class="border-bottom task_width">
         <div class="task-head-lft ">
            <h4>{{i.name}}<img src="/static/img/vender-icon.png" alt=""></h4>
            <h5>of <span class="under-line">{{i.activity.project.name}}</span> in <span>{{i.activity.super_category.name}}</span> for <span>{{i.activity.name}}</span> <img src="/static/img/material-icon.png" alt=""></h5>
<!--            <p>Details: This project works for child development, health and-->
<!--               welfare of Ramnagar village in Andhra Pradesh. -->
<!--            </p>-->
         </div>
         <div class="task-head-rgt">
<!--            <div class="my-progress-bar"></div>-->
        <div class="progress-bar position" data-percent=" {% if i.task_progress %}{{i.task_progress}} {% else %} 0 {% endif %}" data-duration="1000" data-color="#ccc,#3ca187"></div>
<!--            <img src="/static/img/progress-icon.png" alt="">-->
            <p>{%if i.status == 2 %}completed {% else %} in progress{% endif %}</p>
         </div>
         </div>
         <div class="planned-date">
            <ul>
               <li>Planned Start Date : <span>{{i.start_date|date:'jS F Y'}}</span></li>
               <li>Planned End Date&nbsp;&nbsp;&nbsp;: <span>{{i.end_date|date:'jS F Y'}}</span></li>
            </ul>
            <ul>
               <li>Actual Start Date : <span>{{i.actual_start_date|date:'jS F Y'}}</span></li>
               <li>Actual End Date&nbsp;&nbsp;&nbsp;: <span>{{i.actual_end_date|date:'jS F Y'}}</span></li>
            </ul>
         </div>
         <div class="planned-pad">
            <ul>
               <li><span>Assigned to</span> 
                   <div class="middle_text"><canvas class="user-icon" data-name="{{i.assigned_to}}" width="30" height="30" style="border-radius:30px" ></canvas>
                        <div class="middle">
                            <div class="text">{% if i.assigned_to.attrs.first_name %}{{i.assigned_to.attrs.first_name}}  {{i.assigned_to.attrs.last_name}}{% else %}{{i.assigned_to.name}}{% endif %}</div>
                        </div>
                   </div>
               </li>
               <li><span>Created by </span>
                   <div  class="middle_text"><canvas class="user-icon" data-name="{{i.created_by}}" width="30" height="30" style="border-radius:30px" ></canvas>
                            <div class="middle">
                                <div class="text">{{i.created_by.attrs.first_name}} {{i.created_by.attrs.last_name}}</div>
                            </div>
                       </div>
               </li>
               <li><span>Approval</span> <canvas class="user-icon" data-name="A" width="30" height="30" style="border-radius:30px" ></canvas></li>
               <li><span>Subscribed to</span>
                    {% for sub in i.subscribers.all|slice:"0:2" %} 
                     <div  class="middle_text"><canvas class="user-icon" data-name="{{sub}}" width="30" height="30" style="border-radius:30px" ></canvas>
                        <div class="middle">
                            <div class="text">{% if sub.attrs.first_name %}{{sub.attrs.first_name}} {{sub.attrs.last_name}}{% else %}{{sub.name}}{% endif %}</div>
                        </div>
                     </div>
                    {%endfor%}
               </li>{%if i.subscribers.all|length >= 3 %}. . . .{% endif %}
            </ul>
            
         </div>
         <div class="task-completion">
            <div class="task-completion-left">
               <div  class="middle_text"><canvas class="user-icon" data-name="{{user.attrs.first_name}} {{user.attrs.last_name}}" width="30" height="30" style="border-radius:30px" ></canvas></div>
            </div>
            <div class="task-completion-right">
                <form action ='/managing/my-tasks/updates/' id = 'updation_form' method='POST' enctype="multipart/form-data">{% csrf_token %}
                <input id = "task_id " name = 'task_id' type='hidden' value = "{{i.id}}"/>
               <textarea name="comment" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;" placeholder = "Write a update..."></textarea>
               <div>
               <i class="fa fa-file"></i>
               <input type='file' name ='upload_attach' id='upload-photo'/> 
<!--               <label id = "size_upload" >"Please keep filesize under 5 MB"</label>-->
               </div>
                
               <div class="task-details">
                  <h4>Task Completion Status (%)</h4>
                <div class = 'task_bar' style="width: 375px;float: left;">
                         <input type="hidden" name="tea1" class="range-{{i.slug}}" id="xp_{{i.slug}}" value="{{i.task_progress}}"   />
                </div>
                  <input class="task-link" type="submit" value="Add update"/>
                  </form>
               </div>
            </div>
         </div>
         <div class="user-timeline">
         {% if i.task_attachments %}
            <div id="boxscroll-timeline">
               {% for task_attach in i.task_attachments %}
               {% for dates,attach in task_attach.items %}
               <div class="month-pad">{{dates|date:'jS F Y'}}</div>
               <ul>
                  <li>
                     {% for a in attach %}
                     {% if a.attachment_type == 1 %}
                     <div class="left-li">
                        <div  class="middle_text"><canvas class="user-icon" data-name="{{a.created_by.attrs.first_name}} {{a.created_by.attrs.last_name}}" width="30" height="30" style="border-radius:30px" ></canvas>
                            <div class="middle">
                                <div class="text">{{a.created_by.attrs.first_name}} {{a.created_by.attrs.last_name}}</div>
                            </div>
                        </div>
                     </div>
                     
                     <div class="right-li first-li">
                            {% if a.attachment_file %}
                        <p>{% if a.description %}{{a.description|safe}} {% endif %}</p>
                        <ul>
                           <li>
                              <a href="{{image_url}}{{a.attachment_file.url}}">
                                 <img src="{{image_url}}{{a.attachment_file.url}}" width="162" height="112" alt="">
<!--                                 <div class="/static/image-hover">4 More files</div>-->
                              </a>
                           </li>
                            
                        </ul>
                        {% get_converted_time a.created as time %}
                        <span>{{time}}</span>
                        {% endif %}
                     </div>
                     
                  </li>
                  {% elif a.attachment_type == 2 %}
                  <li>
                     <div class="left-li">
                        <div  class="middle_text"><canvas class="user-icon" data-name="{{a.created_by.attrs.first_name}} {{a.created_by.attrs.last_name}}" width="30" height="30" style="border-radius:30px" ></canvas>
                            <div class="middle">
                                <div class="text">{{a.created_by.attrs.first_name}} {{a.created_by.attrs.last_name}}</div>
                            </div>
                        </div>
                     </div>
                     <div class="right-li second-li">
                     
                        <ul>
                           {% if a.attachment_file %}
                           
                           <li>
                                
                              <a href="{{image_url}}{{a.attachment_file.url}}">
                              {% if a.document_type == 3 %}
                              <img src="/static/img/ppt-icon.png" alt=""> <span>{{a.name}}</span></a>
                              {% elif a.document_type == 1 %}
                              <img src="/static/img/excel-icon.png" alt=""> <span>{{a.name}}</span></a>
                              {% else %}
                              <img src="/static/img/textbox-bg.png" alt=""> <span>{{a.name}}</span></a>
                              {% endif %}
                           </li>
                        </ul>
                        {% get_converted_time a.created as time %}
                        <span>{{time}}</span>
                        {% endif %}
                     </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% task_comments dates i.id as comments %}
                  {%if comments %}
                  <li>
                    {% for c in comments %}
                     <div class="left-li">
                        <div  class="middle_text"><canvas class="user-icon" data-name="{{c.created_by.attrs.first_name}} {{c.created_by.attrs.last_name}}" width="30" height="30" style="border-radius:30px" ></canvas>
                            <div class="middle">
                                <div class="text">{{c.created_by.attrs.first_name}} {{c.created_by.attrs.last_name}}</div>
                            </div>
                        </div>
                     </div>
                     
                     <div class="right-li third-li">
                        <ul>
                           <li>{% if c.text %}{{c.text}}{% endif %}</li>
                        </ul>
                        {% get_converted_time c.created as time %}
                        <span>{{time}}</span>
                            
                     </div>
                     {% endfor %}
                     
                  </li>
                  {% endif %}
               </ul>
               {% endfor %}
               {% endfor %}
            </div>
            {% else %}
                    <li>No updates</li>
                  {% endif %}
         </div>
      </div>
      {% endfor %}
   </div>
</section>
<!--Content part Ends-->

{% endblock %}
{% block script %}
<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="/static/js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript" src="/static/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/static/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/static/js/common.js" /></script>

<!--<script type="text/javascript" src="js/jquery.scrollbox.js"></script>-->



<link href="/static/css/sample.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script> 

    <script src="/static/js/plugin.js" type="text/javascript"></script>
<script src="/static/js/script.js" type="text/javascript"></script>
<!--<script>-->
<!--$(document).ready(function() {-->
<!--    $(".my-progress-bar").circularProgress({-->
<!--        line_width: 6,-->
<!--        color: "#333",-->
<!--        starting_position: 0, // 12.00 o' clock position, 25 stands for 3.00 o'clock (clock-wise)-->
<!--        percent: 0, // percent starts from-->
<!--        percentage: true,-->
<!--        text: ""-->
<!--    }).circularProgress('animate', 50, 5000);-->
<!--});       -->
<!--</script>-->
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery.range-control.css" />
    <script src="/static/js/jquery.range-control.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<script>
 $('#proj_select').on("change",function () {
    var as = $(this).find("option:selected").text();
    var ddd = as.replace(/ /g,'').replace(/[^a-zA-Z0-9 ]/g, "");
    $('.project').hide();
    if (ddd == 'Select') {
      $('.project').show();
    }else{
      $('.proj_'+ddd).show();
    };
  })
</script>

<script>
   //Toggle
   
   	$('.user-menu').on('click',function(){
   		$('.dropdown-menu').slideDown(350);
   
   	});
   	$('.select-down').on('click',function(){
           $('.dropdown-menu1').slideDown(350);
   
       });
   
   	$(document).ready(function(e) {
   		/*Content Show/Hide */
   		$('.hide-cont').hide();
   		$('.close-cont').hide();
   		$('.view-cont').click(function(){
   			$('.hide-cont').slideDown(350);
   			$('.close-cont').show();
   			$('.view-cont').hide();
   		});
   		$('.close-cont').click(function(){
   			$('.hide-cont').slideUp(350);
   			$('.close-cont').hide();
   			$('.view-cont').show();
   		});
   		$(document).trigger( "click" );
   	});
   
   	$(document).click(function(){
   
   		$('.user-menu, .select-down').click(function(event){
   			event.stopPropagation();
   		});
   
   		$('.dropdown-menu, .dropdown-menu1').slideUp(350);
   
   	});
</script>
<script type="text/javascript">
   var expanded = false;
   
   function showCheckboxes() {
    var checkboxes = document.getElementById("checkboxes");
    if (!expanded) {
      checkboxes.style.display = "block";
      expanded = true;
    } else {
      checkboxes.style.display = "none";
      expanded = false;
    }
   }
      
</script>
<script>
   $(document).ready(function() {
     $("#boxscroll-pad").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true});
   // First scrollable DIV
   $("#boxscroll-timeline").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true});
   });
   $(document).resize(function() {
   $("#boxscroll-pad").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true});
   // First scrollable DIV
   $("#boxscroll-timeline").niceScroll({cursorborder:"",cursorcolor:"#949494",boxzoom:true});
   });
</script>
<script type="text/javascript">
   $(document).ready(function () {
       $('#horizontalTab').easyResponsiveTabs({
           type: 'default', //Types: default, vertical, accordion
           width: 'auto', //auto or any width like 600px
           fit: true,   // 100% fit in a container
           closed: 'accordion', // Start closed if in accordion view
           activate: function(event) { // Callback function if tab is switched
               var $tab = $(this);
               var $info = $('#tabInfo');
               var $name = $('span', $info);
               $name.text($tab.text());
   
               $info.show();
           }
       });
   });
</script>
<script src="/static/js/jquery.simplePopup.js" type="text/javascript"></script>
<script type="text/javascript">
   $(document).ready(function(){
       $('#myBtn1').click(function(){
   	$('#pop3').simplePopup();
       });
   });
</script>
<!---datepicker script-->
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
   $(function() {
   $( ".datepicker" ).datepicker({
   showOn: "button",
   buttonImage: "img/calender-icon.png",
   buttonImageOnly: true
   });
   });
</script>
<script src="/static/js/price-range.js"></script>
<script>
   $(function(){
   
       $('.hide-show').on('click',function(){
           var sl_id = $(this).attr('id')
           $('.right-task').hide();
           $('.div-'+sl_id).show();
           var progress = $('#xp_'+sl_id).val();
            $('.range-control-handle').css('left',progress+'%');

           $('.range-'+sl_id).rangeControl({

          max: 100,
         
          delim: '', 
         
          scale: {
            position: 'bottom',
            labels: true,
           // interval:1
          },
          className: ''
        });

            $('.range-'+sl_id).on('rangeControlSlide.rangeControlEvent', function () {
              // on slide event

                
             

             // $('#childAgeView').show().children().text(this.value.split(' ').join(', '));
              $('#slectedNumber').html($('.range-control-current-value').text());
             
            });

            $('.range-'+sl_id).on('rangeControlChange.rangeControlEvent', function () {
                 $('#slectedNumber').html($('.range-control-current-value').text());
            });

            $('.range-'+sl_id).on('rangeControlAddHandle.rangeControlEvent', function () {


            });


            var progress = $('#xp_'+sl_id).val();
            $('.range-control-handle').css('left',progress+'%');

       });
       $('.hide-show').first().trigger('click');
       $(".hide-show").addClass('active');
   }
   );
</script>
<script>
    $(function(){
        var key = "{{request.GET.task_slug}}"
        if (key !=''){
            $('.right-task').hide();
            $('.range-'+key).rangeControl({

                  max: 100,
                 
                  delim: '', 
                 
                  scale: {
                    position: 'bottom',
                    labels: true,
                   // interval:1
                  },
                  className: ''
            });

            $('.range-'+key).on('rangeControlSlide.rangeControlEvent', function () {
              // on slide event


                 // $('#childAgeView').show().children().text(this.value.split(' ').join(', '));
                  $('#slectedNumber').html($('.range-control-current-value').text());
                 
                });

                $('.range-'+key).on('rangeControlChange.rangeControlEvent', function () {
                     $('#slectedNumber').html($('.range-control-current-value').text());
                });

                $('.range-'+key).on('rangeControlAddHandle.rangeControlEvent', function () {


                });


            var progress = $('#xp_'+key).val();
            if (progress != 'None'){
                alert("Task completion status is updated to "+progress+" % successfully");
            }
            $('.range-control-handle').css('left',progress+'%');

            $(".div-"+key).show();
            $(".hide-show").addClass('active');
            
        }
        else{
        $('.hide-show').first().trigger('click');
        $(".hide-show").addClass('active');
        }
       });
</script>

<!--<script>-->
<!--        -->
<!--    $(document).ready(function(){-->

<!--        $("#updation_form").validate({-->
<!--            rules :-->
<!--            {-->
<!--                comment : {required:true},-->
<!--                -->
<!--            },-->
<!--            messages:-->
<!--            {-->
<!--                comment : {required : "Please enter an update"},-->
<!--            },-->
<!--            highlight: function (element) {-->
<!--                $(element).addClass('error')-->
<!--            },-->
<!--            unhighlight: function (element) {-->
<!--                $(element).removeClass('error')-->
<!--            },-->
<!--        });-->
<!--        });-->
<!--        -->
<!--</script>-->

</script>

<link rel="stylesheet" href="/static/css/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".iframe").fancybox({
        type: 'iframe'
    });
});
</script>
<!-- Progress % circle script -->
<script src="/static/js/jQuery-plugin-progressbar.js"></script>

<script>
$(".progress-bar").loading();
</script>


<!--ZZ-->
{% endblock %}
